// Branding
.navbar-brand-wrapper { /* BS has a navbar-brand class already :-( */
    display: flex;
    align-items: center;
}
.navbar-tola {
    background-color: $gray-700 !important;
    padding: 0;
    border-bottom: 1px solid $gray-150;
    &.for-superadmin {
        // background-color: darken($red, 15%) !important; // TODO: hold for now per Jenny
    }
    .dropdown-menu {
        background: $gray-700;
    }
    .dropdown-item {
        color: $white;
        &:focus, &:hover {
            background-color: $gray-600;
        }
    }
}
// overload dropdown menus

.navbar-tola--container {
    align-items: flex-start !important;
    padding-left: 0;
}
.navbar-brand--mc {
    display: block;
    background: $red-500;
    margin-right: 15px;
}
.navbar-brand--mc-logo {
    display: block;
    height: 60px;
    width: auto;
}
.navbar-brand--tola {
    display: block;
    margin-right: 50px;
    margin-bottom: 5px;
    max-width: 120px;
    height: auto;
    font-size: 1.5em;
    color: #dbdcde;
    &:hover, &:focus {
        border-right-color: transparent;
        color: #fff;
    }
    &.active {
        border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
    }
}
.navbar-brand--tola-logo {
    display: block;
    max-width: 120px;
    height: auto;
}
