// Unsorted custom selectors
// These are mostly singletons that mimic components or slightly extend BS components

@media print {
  a[href]:after {
    content: none;
  }
}
.dataTables_wrapper {
    &.container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;
  }
}
.td-no-side-borders {
  border-left: 0px !important;
  border-right: 0px !important;
}

// Custom page CSS
//--------------------------------------------------
// Not required for template or sticky footer method.

// help links in footer
.help-link {
    &,
    &:hover,
    &:active,
    &:focus {
        color: $gray-700;
        font-size: .875rem;
    }
    &:hover {
        text-decoration: underline;
    }
}
.filter {
    padding: 3px;
    color: $black;
    background-color: $gray-150;
    border-color: $gray-600;
    border-radius: .5px
}
.btn-frozen {
    color: $white;
    background-color: $gray-600;
    border-color: $gray-600;
}
.x-modal {
    font-weight: 100;
    font-size: 2rem;
}
.date-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: $black;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 5px
}
.jumbotron.dashboard {
    padding-top: 5px;
    padding-bottom: 16px;
    margin-bottom: 30px;
}
.btn-group.align-right {
    float: right;
}
.lopCols {
	background-color:$gray-150 !important;
}
table.table-hover tbody tr {
    &:hover {
        background-color: $teal-100 !important;
    }
    &:active {
        background-color: $teal-200 !important;
    }
}
.row-highlight {
    background-color: $teal-100;
}
table.table-hover tbody tr.row-highlight:hover { //* whoa check out this specificity */
    background-color: $teal-150 !important;
}
.missing_targets {
    padding-left: 1rem;
}

// IPTT quickstart
// this mimics a standard BS behavior in _forms.scss
.form-check-inline--is-disabled {
    color: $gray-500; // could also be $gray-550
}
// Start by setting display:none to make this hidden.
// Then we position it in relation to the viewport window
// with position:fixed. Width, height, top and left speak
// for themselves. Background we set to 80% white with
// our animation centered, and no-repeating
.ajax_loading {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../tola/static/img/ajax-loader.gif')
                50% 50%
                no-repeat;
}

// When the body has the loading class, we turn
// the scrollbar off with overflow:hidden
body.loading {
    overflow: hidden;
    // Anytime the body has the loading class, our
    // modal element will be visible
    .ajax_loading {
        display: block;
    }
}

// Login buttons for Social
.social-buttons{
    margin:12px 0px 0px 0px;
}
.btn-go {
    color: $white;
    background-color:$blue-300;
    margin:12px 0px 12px 0px;
    &:hover{
        color: $white;
        background-color:$blue-250;
    }
}

#iframe {
    width: 400px;
    height: 100px;
    overflow: auto;
}

// Keep the picker on top of other elements
.ui-datepicker{
    z-index: 10000 !important
};

// Indicator line graph with slider
.clear-fix { // ??? really? this is crazy general
  margin-top: 10px;
  min-height: 10px;
}
select.listoption_filters {
  height:36px;
  width:150px;
  border: 2px solid $gray-300;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 5px;
  -moz-appearance: none;
}


// indicators, unsorted
#div_id_unit_of_measure_type_0 {
    margin-left: 2px;
}
#id_delete_indicator_btn {
    font-size: 1rem;
}
#indicatorTabs .nav-link.active {
    font-size: 1rem;
    color: $gray-700;
    font-weight: bold;
}

.lop-display {
  padding: 0px 15px 10px 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-300;
}

.target-value-error {
  margin: 5px 5px 0px 5px;
  float: left;
  margin-right: 10px;
}


#id_div_is_cumulative .card-body {
    border: 1px solid $gray-500;
    border-radius: .25rem;
}

#id_div_is_cumulative_section1,
#id_div_is_cumulative_section2,
#id_div_is_cumulative_section3 {
    display: none;
}



// BEGIN datepicker styling
.month-only .ui-datepicker-calendar {
  display: none;
}
// END datepicker styling

.blink {
    animation: blink 2s linear infinite;
}
// where is this used?
@keyframes blink {
    0% {
        opacity: .2;
        color: blue;
    }
    50% {
        opacity: .7;
        color: red;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

// hover effect for <a> tags without href attributes
a:hover {
    cursor: pointer;
}

// "add a thing" buttons
// Leave off the 'btn' parent class for a non-bold, non-padded version
.btn-add {
    color: $green-600 !important;
    //padding-left: 0.625rem;
    //padding-right: 0.625rem;
    &:hover {
        color: $green-700;
    }
}

// reset button
// use with .btn as per usual
// .btn-inverse is DEPRECATED in favor of .btn-reset
.btn-reset, .btn-inverse {
    background-color: $white;
    color: $text-muted;
    //text-transform: uppercase;
    &:hover {
        color: darken($text-muted, 20%);
        background-color: $gray-300;
    }
}

// Button row
// just a row of buttons without the special styling of btn-group
// adds a little margin between buttons
.btn-row {
    .btn {
        margin-left: $grid-gutter-width/4;
        &:first-child {
            margin-left: 0;
        }
    }
}

// icons inside buttons
.btn, .btn-add {
    .svg-inline--fa {
        display: inline-block;
        margin-left: $grid-gutter-width/4;
        margin-right: $grid-gutter-width/4;
    }
}

.page-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#indicator_results_content .modal-footer { // overloads selectorin modals.scss
    background-color: $gray-300;
    border-radius: 0 0 0.3rem 0.3rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.indicator_results_toggle {
    display: block;
    font-weight: normal;
    margin-bottom: 0 !important;
    margin-left: 22.5px;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    text-indent: -22.5px;
}

.indicator_name {
    word-break: break-word;
    &:first-letter {
        text-transform: uppercase;
    }
}

// conditional styling to hide modal titles in nonmodal contexts.
// used on results table in IPTT
.is-shown-in-modals {
    display: none;
    .modal-dialog & {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }
}

// unsorted
.help-text {
    font-size: $font-size-sm;
    font-style: italic;
    font-weight: $font-weight-light;
    text-align: left;
}
.is-highlighted {
    background: $yellow-100;
}

// to replace bootstrap's float classes
.float--left {
    float: left;
    margin-right: $grid-gutter-width/2;
}
.float--right {
    float: right;
    margin-left: $grid-gutter-width/2;
}


// GDRive file picker modal
// ensure the modal lives on top of the BS modal

.picker-dialog-bg {
    z-index: 20000 !important;
}

.picker-dialog {
    z-index: 20001 !important;
}

.pnotify--header svg {
    margin-right: 5px;
}
