// General marker style
// TODO: use global border-radii
.map-marker {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 0;
    background: rgb(232, 148, 36);
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    box-shadow: 2px 1px 1px $gray-600;
    &.indicator {
        width: 20px;
        height: 20px;
        border-radius: 50% 50% 50% 0;
        background: #00cae9;
        position: absolute;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
        box-shadow: 2px 1px 1px $gray-600;
    }
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        margin: 5px 0 0 5px;
        background: $gray-300;
        position: absolute;
        border-radius: 50%;
    }
}
.leaflet-div-icon {
  border: 0!important;
  display: none;
}
