// Color: MC brand palette from Drew
// This deviates substantially from colors as posted to the identity site:
// https://identity.mercycorps.org/portals/contentlibrary/#page/our-brand/color
// or
// https://identity.mercycorps.org/portals/contentlibrary/#asset/157495
// These *do* align with Jenny’s mockups

/// Red
$red_100: #c8102e; // hsl(350,85,42) // was #cf102d
$red_100_hover: #e51232; // hsl(351,85,48)
/// Blue
$blue_100: #00a49f; // hsl(178,100,32) //was #00b2a9 and before that, #00afaa
$blue_100_hover: #33bfbb; // hsl(178,58,47)
$blue_80: #33bfbb; // hsl(178,58,47)
$blue_60: #66cfcc; // hsl(178,52,61)
$blue_40: #99dfdd; // hsl(178,52,74)
$blue_20: #ccefee; // hsl(178,52,87)
/// Green
$green_100: #84bd00; // hsl(78,100,37) //was #81bc00
$green_100_hover: #81bc00; // hsl(79,100,37)
$green_80: #9ac933; // hsl(79,60,49)
$green_60: #b3d766; // hsl(79,59,62)
$green_40: #cde499; // hsl(78,58,75)
$green_20: #e6f2cc; // hsl(79,59,87)
/// Yellow
$yellow_100: #ffd100; // hsl(49,100,50) //was #ffd200
$yellow_80: #ffdb33; // hsl(49,100,60)
$yellow_60: #ffe466; // hsl(49,100,70)
$yellow_40: #ffed99; // hsl(49,100,80)
$yellow_20: #fff6cc; // hsl(49,100,90)
$link-hover-opacity: 0.8; //todo move this where it makes sense

// Color: Tola Palette as of 2018-08-27
// These are cribbed from app.css and bootstrap-overrides.css

$blue-medium: #0645AD; // hsl(217,93,35)
$blue-light: #3366cc; // hsl(220,60,50)
$blue-lighter: #55acee; // hsl(206,82,63)
$blue2-lighter: #59b5fa; // hsl(206,94,66) /* highlighted state for blue-lighter */



$teal-dark: #046C69; // hsl(178,93,22)
$teal-medium: #00A49F; // hsl(178,100,32)
$teal-light: #33BFBB; // hsl(178,58,47)
$teal-lighter: #CCEFEE; // hsl(178,52,87)

$danger-medium: #DD0000; // hsl(360,100,43) // only used in override of .btn-danger
$danger-light: #EE7F7F; // hsl(360,77,72) // only used in override of .btn-danger

// Consolidated Grays
// these are all cooler hues, approx h216

$white: #fff;
$gray-100: #FAFAFA; // hsl(0,0,98)
$gray-150: #f5f5f5; // hsl(0,0,96)
$gray-200: #ebedf0; // hsl(216,14,93)
$gray-300: #dbdcde; // hsl(220,4,86)
$gray-400: #d2d5d9; // hsl(214,8,84)
$gray-500: #b8babd; // hsl(216,4,73)
$gray-550: #94979c; // hsl(218,4,60)
$gray-600: #71757b; // hsl(216,4,46)
$gray-700: #54585a; // hsl(200,3,34)
$gray-800: #343840; // hsl(220,10,23)
$gray-900: #212429; // hsl(218,11,15)
$black: #000;

$practically-white: #FAFAFA; // hsl(0,0,98) ///* should probably be #F5F5F5 */

