// /* css-style comments */ intentionally included here for build debugging
@import 'mc_tola_primitives'; // MC primitive variables, LOAD FIRST

/* Bootstrap libraries */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import 'bootstrap_variables'; // Local versions of BS variables

/* There should be NO selectors in compiled CSS above this comment */

/* Bootstrap root CSS */
@import "../node_modules/bootstrap/scss/root";

/* Bootstrap reset CSS */
@import "../node_modules/bootstrap/scss/reboot";

/* Bootstrap CSS modules */
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";

// These *were* all loaded via utilities
// but I may want to disable some of these later
@import "../node_modules/bootstrap/scss/utilities/align";
@import "../node_modules/bootstrap/scss/utilities/background";
@import "../node_modules/bootstrap/scss/utilities/borders";
@import "../node_modules/bootstrap/scss/utilities/clearfix";
@import "../node_modules/bootstrap/scss/utilities/display";
@import "../node_modules/bootstrap/scss/utilities/embed";
@import "../node_modules/bootstrap/scss/utilities/flex";
@import "../node_modules/bootstrap/scss/utilities/float";
@import "../node_modules/bootstrap/scss/utilities/position";
@import "../node_modules/bootstrap/scss/utilities/screenreaders";
@import "../node_modules/bootstrap/scss/utilities/sizing";
@import "../node_modules/bootstrap/scss/utilities/spacing";
@import "../node_modules/bootstrap/scss/utilities/text"; // KEEP
@import "../node_modules/bootstrap/scss/utilities/visibility";

@import "../node_modules/bootstrap/scss/print";

// MC Tola CSS modules
/* Local Bootstrap overrides */
@import '_bootstrap_multiselect.scss'; // my what a mess this is
@import 'bootstrap_overrides'; // overload BS selectors.
// load mixins before other scss to use them in other files:
@import 'mixins';

// Select2 multi-select menus
// AFAIK used only in Program menu and IPTT quickstart page
// This cribs project /src/ directly, not ideal!
@import "components/select2/core";

// react-bootstrap-table2 + extra modules
// this is installed via npm (react-bootstrap-next)
@import "components/react-bootstrap-table/react-bootstrap-table2";
@import "components/react-bootstrap-table/react-bootstrap-table2-paginator";

/* Components */
// These are well-behaved BEM-compliant selectors
@import 'components/tables'; // semantic addtions to, but not overloads of, Bootstrap tables
@import 'components/regions'; // page regions and sub-regions
@import 'components/gauges';  // status gauges, e.g. on Program landing page
@import 'components/indicator_table';  // indicator list included on Program page and Indicators page
@import 'components/indicator_setup';  // indicator setup and periodic targets table included
@import 'components/results_table';  // results table included in indicator list (& elsewhere?)
@import 'components/program'; // Program Page & related components for Mangosteen
@import 'components/program_complete'; // Program percent complete with wee calendar icon
@import 'components/home'; // Home page
@import 'components/list_filters'; // List filters
@import 'components/forms';
@import 'components/tab_set'; // wraps & overclasses BS nav-tabs and nav-content for e.g. vertical tabs
@import 'components/management_table'; // Management table component
@import 'components/tola_management'; // Tola Managament pages (user, organization, program, and countries)
@import 'components/virtualized_tables'; // Virtualized tables in Edit User (programs & roles)
@import 'components/admin_list'; // List styles in Admin Lite
@import 'components/folding_sidebar'; // Flyout filters for Admin lite. IPTT implementation is different
@import 'components/changelog'; // custom styles for change logs/audit logs
@import 'components/login'; // login page
@import 'components/react-select'; // overrides and extensions to react-select
@import 'components/react-multiselect'; // overrides and extensions to react-multiselect
@import 'components/results-framework'; // Results Framework and Framelog
@import 'components/sortable-list'; // Sortable list widget
@import 'components/logframe'; // styling for logframe web view

/* Local custom CSS and overloads for non-BS libraries */
@import 'mc_tola_forms'; // extremely custom!
@import 'maps';
@import 'charts';
@import 'branding';
@import 'iptt_table'; // the IPTT table & page
@import 'sidebar'; // IPTT sidebar
@import 'misc_utilities'; // small utility/helper selectors that should probably be bootstrap classes
@import 'custom'; // misc. elements & unsorted selectors

/* Unsorted custom selectors */
