<select class="" id="goto-country-program">
    {% for country in countries %}
        <option value="" class="">{{ country }}</option>{# TODO: this will link to the heompage filtered by {{ country }} #}
    {% endfor %}
    {% for program in programs %}
        <option value="{% url 'program_page' program.id 0 0 %}" class="">{{ program|truncatechars:80 }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
    $(document).ready(function() {
        $('#goto-country-program').multiselect({
            enableFiltering: true,
            filterPlaceholder: 'Go to program or country…',
            nonSelectedText: 'Go to program or country…'
        });
    });
</script>
