{% extends "base.html" %}
{% block bread_crumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "profile" %}">Profile</a></li>
      <li class="breadcrumb-item active">Bookmark List</li>
    </ol>
</nav>
{% endblock %}
{% block page_title %}Your Bookmarks List{% endblock %}

{% block content %}
<div>
<br/>
</div>
<h3>Bookmarks</h3>

<ul class="list-group">
{% for item in getBookmarks %}

  <li class="list-group-item"><b>{{ item.create_date|date:"DATE_FORMAT" }} &nbsp;<a href="{% url "bookmark_update" item.id %}">{{ item.name }}</a></b> &nbsp;<a href="{% url "bookmark_delete" item.id %}/" class="btn-xs btn-danger">Delete Bookmark</a></li>

{% empty %}
    <li class="list-group-item">No bookmarks yet.</li>
{% endfor %}
</ul>
{% endblock content %}
