{% extends "base.html" %}
{% load i18n %}

{% block title %}User Not Found{% endblock %}

{% block page_title %}{% trans "An error occured while logging in with your Okta account." %}{% endblock page_title %}


{% block content %}
<p>
    {% trans 'Please contact the TolaData team for assistance.' %}
    <br/>
    <br/>
    {% blocktrans %} You can also reach the TolaData team by using the <a href="https://docs.google.com/forms/d/e/1FAIpQLSclm2PAT9TJ9q23TT6YWQg6hj3EndUAdyF5k6kvNJHu6njNtw/viewform">feedback form.</a>
    {% endblocktrans %}
</p>

{% endblock content %}
