{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login">

    <header class="page-title">
        <h1><small>Welcome to</small> TolaActivity</h1>
    </header>

    {# Translators: The following is a button directing users to log in with Okta, our single-sign-on provider #}
    <a href="{{okta_url}}" class="login__option btn btn-lg btn-block btn-info">
        <i class="fas fa-sign-in-alt"></i><small>Log in with a <strong>mercycorps.org</strong> email address</small>
    </a>

    {# Translators: the following is a button directing users to log in with Gmail #}
    <a href="{% url "social:begin" "google-oauth2" %}" class="login__option btn btn-lg btn-block btn-medium">
        <i class="fa fa-sign-in-alt"></i><small>Log in with <strong>Gmail</strong></small>
    </a>

    <section class="login__option login__option--email card card-body">

        <h3><small>Log in with a username and password</small></h3>

        <form action="{% url "login" %}" method="post">

            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="" type="text">
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="" type="password">
            </div>

            <input type="submit" class="btn btn-medium" value="{% trans "Log in" %}">

        </form>
    </section>
</div>
{% endblock %}
