{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login">

    <header class="page-title">
        {% blocktrans %}
        <h1><small>Welcome to</small> TolaActivity</h1>
        {% endblocktrans %}
    </header>

    <a href="{{okta_url}}" class="login__option btn btn-lg btn-block btn-info mt-5">
        {# Translators: a button directing Mercy Corps users to log in #}
        {% blocktrans %}
        <i class="fas fa-sign-in-alt"></i><small>Log in with <strong>Okta</strong></small>
        {% endblocktrans %}
    </a>

{#    <a href="{% url "social:begin" "google-oauth2" %}" class="login__option btn btn-lg btn-block btn-primary-light">#}
        {# Translators: a button directing users to log in with Gmail #}
{#        {% blocktrans %}#}
{#        <i class="fa fa-sign-in-alt"></i><small>Log in with <strong>Gmail</strong></small>#}
{#        {% endblocktrans %}#}
{#    </a>#}
{##}
    <a href="#username-form" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="username-form" class="login__option btn btn-lg btn-block btn-medium">
        <i class="fa fa-sign-in-alt"></i><small>{% trans "Log in with a username and password" %}</small>
    </a>

    <div class="{% if form.errors %}show{% endif %} collapse" id="username-form">
        <section class="login__option login__option--email card card-body">

            {% if form.errors %}
            <div class="alert alert-danger text-small" role="alert">
                {% url "password_reset" as password_reset_url %}
                {% blocktrans %}
                <p>Please enter a correct username and password. Note that both fields may be case-sensitive. Did you forget your password? <a href="{{ password_reset_url }}">Click here to reset it.</a></p>
                {% endblocktrans %}
            </div>
            {% endif %}

            <form method="post">

                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:'' }}" type="text">
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    <input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="" type="password">
                </div>

                <input type="submit" class="btn btn-medium" value="{% trans "Log in" %}">

            </form>
        </section>
    </div>

{#    <section class="login__help">#}

{#        <h4>{% trans "Need help logging in?" %}</h4>#}
{##}
{#        <p class="text-muted text-small">#}
{#            {% blocktrans %}#}
{#            Contact your TolaData administrator or <a href="mailto:tola@mercycorps.org">email the TolaData team.</a>#}
{#            {% endblocktrans %}#}
{#        </p>#}

{#    </section>#}

</div>
{% endblock %}
