{% load i18n %}{% autoescape on %}
{# TODO: this could be split into multiple emails based on user email address #}
A user account was created for you on Mercy Corps’ Tola Activity application.  Your username is: <strong>{{ user }}</strong><br><br>

If you are using a mercycorps.org email address to access Tola Activity, you use the same Okta login that you use for other Mercy Corps websites.<br><br>

If you are using a Gmail account to access Tola Activity, please use this link to connect your Gmail account:<br><br>

{{ gmail_url }}<br><br>

If you are using another email account, please use this link to choose a new password:<br><br>

{{ one_time_url }}<br><br><br>


Thank you,<br>
The Mercy Corps team<br>
{% endautoescape %}
