{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}Choose new account password{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Choose New Account Password</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
    <div class="col col-sm-1 text-center">
        <h1>OR</h1>
    </div>
    <div class="col text-center">
        <h1>Connect Your Social Account</h1>
        <div class="social-buttons">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary"><i class="fa fa-google"></i> Google</a>
        </div>
    </div>
</div>
{% endblock %}
