{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="login">
    <h1>{% trans "Reset password" %}</h1>
    <p>{% trans "Use this form to send an email to yourself with a link to change your password." %}</p>
    <form method="post" class="form">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label class="label--required">{{ field.label }}: </label>
            <div>
                {{ field|add_class:"form-control" }}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
</div>
{% endblock %}

