{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="login">

    <h1>{% trans "Reset password" %}</h1>

    {% if validlink %}
    <form method="post" class="form">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label class="label--required">{{ field.label }}: </label>
            <div>
                {{ field|add_class:"form-control" }}
            </div>
            <ul class="form-group__error list-style">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please <a href="{% url "password_reset" %}">request a new password reset.</a></p>
    {% endif %}

</div>
{% endblock %}
