{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset email sent" %}{% endblock %}

{% block content %}
<div class="login">
    <h1>{% trans "Password reset email sent" %}</h1>

    {% url 'login' as login_url %}

    {% blocktrans %}
    <p>We’ve sent an email to the address you’ve provided.</p>

    <h4>If you didn’t receive an email, please try the following:</h4>

    <ul>
        <li>Check your spam or junk mail folder.</li>
        <li>Verify that you entered your email address correctly.</li>
        <li>Verify that you entered the email address associated with your TolaActivity account.</li>
    </ul>

    <h4>If you are using a mercycorps.org address to log in:</h4>
    <p>Return to the <a href="{{ login_url }}">log in page</a> and click <strong>Log in with a mercycorps.org email address.</strong></p>

    <h4>If you are using a Gmail address to log in:</h4>
    <p>Return to the <a href="{{ login_url }}">log in page</a> and click <strong>Log in with Gmail.</strong> <em>We cannot reset your Gmail password.</em></p>
    {% endblocktrans %}

</div>
{% endblock %}
