{% load i18n %}{% autoescape on %}
{% blocktrans %}
Someone has requested that you change the password associated with the username {{ user }} on the Mercy Corps Tola Activity application. This usually happens when you click the “forgot password” link.

If you did not request a new password, you can ignore this email.

If you want to change your password, please click the following link and choose a new password:
{% endblocktrans %}

{{ scheme }}://{{ hostname }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
You can also copy and paste this link into the address bar of your web browser.

Thank you,
The Mercy Corps team
{% endblocktrans %}
{% endautoescape %}
