.select2-container--default {
  @import "single";
  @import "multiple";

  &.select2-container--open.select2-container--above {
    .select2-selection--single, .select2-selection--multiple {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--open.select2-container--below {
    .select2-selection--single, .select2-selection--multiple {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid $s2-border-color;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      background: transparent;
      border: none;
      outline: 0;
    }
  }

  .select2-results > .select2-results__options {
    max-height: $s2-options-max-height;
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: $s2-selection-disabled-color;
    }

    &[aria-selected=true] {
      background-color: $s2-menu-selected-background;
    }

    .select2-results__option {
      padding-left: $s2-optgroup-indent-width;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: $s2-optgroup-indent-width * -1;
        padding-left: $s2-optgroup-indent-width * 2;

        .select2-results__option {
          margin-left: $s2-optgroup-indent-width * -2;
          padding-left: $s2-optgroup-indent-width * 3;

          .select2-results__option {
            margin-left: $s2-optgroup-indent-width * -3;
            padding-left: $s2-optgroup-indent-width * 4;

            .select2-results__option {
              margin-left: $s2-optgroup-indent-width * -4;
              padding-left: $s2-optgroup-indent-width * 5;

              .select2-results__option {
                margin-left: $s2-optgroup-indent-width * -5;
                padding-left: $s2-optgroup-indent-width * 6;
              }
            }
          }
        }
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $s2-menu-highlighted-background;
    color: white;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: $s2-option-padding;
  }
}
