{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{% trans "Delete Documentation" %}</title>
</head>
<body>

<script type="text/javascript">
    var frm = $('#monitorDelete');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#alert-error").html("{% trans 'Success!'|escapejs %}");
            },
            error: function(data) {
                $("#alert-error").html("{% trans 'Something went wrong!'|escapejs %}");
            }
        });
        return false;
    });
</script>

    <div class="modal-header">
        <div>
            <div id="alert-error">
                <strong>{{ error|escape }}</strong>
            </div>

            <h4 class="modal-title">{% block page_title %}{% trans "Documentation Delete" %} {% endblock %}</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form action="/workflow/documentation_agreement_delete/{{ id }}/" method="post" id="monitorDelete">{% csrf_token %}
            <p>{% trans "Are you sure you want to delete" %}?</p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button type="button" class="btn btn-reset" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
        </form>
    </div>

</body>
</html>

