{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Documents" %} | {% endblock %}
{% block page_title %}{% trans "Documents" %}{% endblock %}
{% block bread_crumb %}
{% endblock %}


{% block content %}

<div class="btn-group" role="group">
    <button class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            id="programDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        {% trans "Programs" %}
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="programDropdown">
        <a class="dropdown-item" href="#" onclick="program_filter(0)">-- {% trans "All" %} --</a>
        {% for program in getPrograms %}
            <a class="dropdown-item"
                href="#"
                onclick="program_filter({{program.id}})">
                {{ program.gaitid}} - {{ program.name }}</a>
        {% endfor %}
    </div>
</div>
<a href="/workflow/documentation_add" class="btn btn-link btn-add"><i class="fas fa-plus-circle"></i> {% trans "Add document" %}</a>
<br/>

<table
    class="table table-hover table-sm"
    cellspacing="0"
    id="documentationtable">
</table>

<script type="text/javascript">
    $(document).ready(function() {
      program_filter(0);
    });

    function show_documentation_table(documentation_data) {
        documentation_records = JSON.parse(documentation_data);
        //First destroy any old version of the table to refresh anew
        if ( $.fn.dataTable.isDataTable('#documentationtable') ) {
            table.destroy();
            $('#documentationtable').empty();
        };

        $('#documentationtable').on('page.dt', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 300);
        } );

        table = $('#documentationtable').DataTable( {
            "order": [],
            "bFilter": false,
            "bInfo": true,
            "fnInfoCallback": function( oSettings, iStart, iEnd, iMax, iTotal, sPre ) {
                return "{% trans 'Showing' %} " + iStart + " – " + iEnd + " {% trans 'of'  %} " + iTotal;
            },
            'bLengthChange': false,
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": {% if user.tola_user.allow_projects_access %} [2, 3] {% else %} [2] {% endif %}
            }],
            "oLanguage": {
                "oPaginate": {
                    "sNext": "{% trans 'Next' %}",
                    "sPrevious": "{% trans 'Previous' %}"
                }
            },
            retrieve: true,
            data: documentation_records,
            columns: [
                { title: "{% trans "Date Created" %}", data: "create_date",
                    "defaultContent": "<i>{% trans 'Not set'|escapejs %}</i>",
                    "mRender": function (data, records, row) {
                        return '<a class="collecteddata" name=' + row.id + ' href="/workflow/documentation_update/'+row.id+'">' + formatDate(row.create_date) + '</a>'; // TODO: shouldn't use formatDate
                        }},
                { title: "{% trans "Document Name" %}", data: "name",
                    "defaultContent": "<i>{% trans 'Not set'|escapejs %}</i>",
                    "mRender": function (data, narecord, row) {
                        return '<a class="collecteddata" name=' + row.id + ' href="/workflow/documentation_update/'+row.id+'">' + row.name + '</a>';
                        }},
                {% if user.tola_user.allow_projects_access %}
                { title: "{% trans "Project" %}", data: "project__project_name",
                    "defaultContent": "<i>{% trans 'Not set'|escapejs %}</i>"},
                {% endif %}
                { title: "{% trans 'Actions' %}",
                    "mRender": function (data, record, row) {
                        return '<div class="text-nowrap"><a href="/workflow/documentation_delete/'+row.id+'" class="btn p-0 pr-4 btn-sm btn-text text-danger"><i class="fas fa-trash-alt"></i>&nbsp;{% trans "Delete"|escapejs %}</a><a href="/workflow/documentation_update/'+row.id+'" class="btn p-0 btn-sm btn-text"><i class="fas fa-edit"></i>&nbsp;{% trans "Edit"|escapejs %}</a></div>';
                        }
                }
            ]
        });
    }

    function program_filter(program_id) {
        if (program_id != 0) {
            $.getJSON("/workflow/documentation_objects/"+ program_id + "/0/", function(data) {
                show_documentation_table(data['getDocumentation']);
            });
        }  else{
            program_id = document.URL.split('/')[5];
            project_id = document.URL.split('/')[6];
            $.getJSON("/workflow/documentation_objects/"+program_id+"/"+project_id+"/", function(data) {
                show_documentation_table(data['getDocumentation']);
            });
        }
    }
</script>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}
