{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Document" %} | {% endblock %}
{% block page_title %}{% trans "Document" %}{% endblock %}

{% block bread_crumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "documentation_list" %}">{% trans "Documents" %}</a></li>
        <li class="breadcrumb-item active">{% trans "Document" %}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

    {% include 'gdrive_picker_js.html' %}
    {% include 'validation_js.html' %}

    <script>

        function filePickerCallback(fileName, url) {
            document.getElementById('id_url').value = url;
            validateUrlField();
            document.getElementById('id_name').value = fileName;
            validateNameField();
        }

        function validateNameField() {
            const nameFieldId = "id_name";
            const nameField = $(`#${nameFieldId}`);
            if (!nameField.val()) {
                nameField.addClass('is-invalid');
                $(`#validation_${nameFieldId}`).text('{% trans "Please complete this field."|escapejs %}');
                $("#div_id_name").addClass("mb-5");
                return false;
            }
            nameField.removeClass('is-invalid');
            $("#div_id_name").removeClass("mb-5");
            $(`#validation_${nameFieldId}`).text("");
            return true;
        }

        function validateProgramField() {
            const programFieldId = "id_program";
            const programField = $(`#${programFieldId}`);
            if (!programField.val()) {
                programField.addClass('is-invalid');
                $(`#validation_${programFieldId}`).text('{% trans "Please complete this field."|escapejs %}');
                return false;
            }
            programField.removeClass('is-invalid');
            $(`#validation_${programFieldId}`).text("");
            return true;
        }


        function validateUrlField() {
            const urlFieldId = "id_url";
            const urlField = $(`#${urlFieldId}`);
            if (!urlField.val()) {
                urlField.addClass('is-invalid');
                $(`#validation_${urlFieldId}`).text('{% trans "Please complete this field."|escapejs %}');
                return false;
            }

            // Still allows you to submit things that don't pass this test, but it gives you a warning.
            // isValidURLOrFilePath is in included validation.html (as a common across pages resource)
            let msg = isValidURLOrFilePath(urlField.val()).message;
            $(`#validation_${urlFieldId}`).text(msg);
            urlField.removeClass('is-invalid');
            return true;
        }

        $("#id_div_content").on("blur", "#id_name", function(e){
            validateNameField();
        });

        $("#id_div_content").on("blur", "#id_url", function(e){
            validateUrlField();
        });

        $("#id_div_content").on("blur", "#id_program", function(e){
            validateProgramField();
        });

        $("body").on("submit", "#document_form", function(e){
            let is_valid = true;
            if (validateNameField() == false) {
                is_valid = false;
            }
            if (validateUrlField() == false) {
                is_valid = false;
            }

            if (validateProgramField() == false) {
                is_valid = false;
            }
            if (is_valid == false) {
                e.preventDefault();
                return;
            }
        });

    </script>

    <form
        id="document_form"
        class=""
        method="post"
        novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <fieldset>
            <div class="form-group" id="div_id_name" style="height: auto;"{# TODO: this covers a regression from an overload elsewhere(?) #}>
                <label for="id_name" class="">
                    {{ form.name.label }}*
                </label>
                <div class="">
                    {% render_field form.name class+="form-control" %}
                    <small class="form-text text-muted">{{ form.name.help_text }}</small>
                    <span id="validation_id_name" class="has-error"></span>
                </div>
            </div>

            <div class="form-group" id="div_id_url">
                <label for="id_url" class="">
                    {{ form.url.label }}*
                </label>
                <div class="">
                    {% render_field form.url class+="form-control" %}
                    <small class="form-text text-muted">{{ form.url.help_text }}</small>
                    <span id="validation_id_url" class="has-error"></span>
                </div>
                <button type="button" style="" class="btn btn-sm btn-secondary" onclick="gdriveFilePicker(filePickerCallback);">gdrive</button>
            </div>

            <div class="form-group" id="div_id_description">
                <label for="id_description" class="" >
                    {{ form.description.label }}
                </label>
                <div class="">
                    {% render_field form.description class+="form-control" %}
                    <small class="form-text text-muted">{{ form.description.help_text }}</small>
                </div>
            </div>

            {% if user.tola_user.allow_projects_access %}
            <div class="form-group" id="div_id_project">
                <label for="id_project" class="" >
                    {{ form.project.label }}
                </label>
                <div class="">
                    {% render_field form.project class+="form-control" %}
                    <small class="form-text text-muted">{{ form.project.help_text }}</small>
                </div>
            </div>
            {% endif %}

            <div class="form-group" id="div_id_program">
                <label for="id_program" class="" >
                    {{ form.program.label }}*
                </label>
                <div class="">
                    {% render_field form.program class+="form-control" %}
                    <small class="form-text text-muted">{{ form.program.help_text }}</small>
                    <span id="validation_id_program" class="has-error"></span>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="submit"
                    name="submit"
                    value="{% trans "Save changes" %}"
                    class="btn btn-primary"
                    id="id-submit">
            <input type="reset"
                    class="btn btn-reset"
                    value="{% trans "Reset" %}">
        </div>
    </form>

{% endblock content %}
