{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
    <li><a href="/workflow/dashboard/0/">{% trans "Program Dashboards" %}</a></li>
    <li><a href="/workflow/dashboard/project/{{ project_proposal_id }}/">{% trans "Project Dashboards" %}</a></li>
    <li class="active">{% trans "Monitoring and Benchmarks" %}</li>
</ol>
{% endblock %}
{% block page_title %}{% trans "Benchmark and Monitoring Data List" %}{% endblock %}

{% block content %}
<div>
    <a href="/workflow/monitor_add/0/" class="btn btn-large btn-success">{% trans "New Monitoring Data" %}</a> &nbsp;
    <a href="/workflow/benchmark_add/0/" class="btn btn-large btn-success">{% trans "New Benchmark Data" %}</a> &nbsp;
<hr/>
<br/>
</div>
<h3>{% trans "Monitoring Data" %}</h3>
<ul class="list-group">
{% for item in getMonitorData %}
    <li class="list-group-item">
        <b><a href="/workflow/monitor_update/{{ item.id }}">{{ item.create_date|date:"MEDIUM_DATE_FORMAT" }} - {{ item.name }}</a></b> &nbsp;<a href="/workflow/monitor_delete/{{ item.id }}" class="btn-xs btn-danger">{% trans "Delete Data" %}</a>
    </li>
{% empty %}
    <li class="list-group-item">
        {% trans "No data yet." %}
    </li>
{% endfor %}
</ul>
<br/>
<h3>{% trans "Benchmark Data" %}</h3>
<ul class="list-group">
{% for item in getBenchmarkData %}
    <li class="list-group-item">
        <b><a href="/workflow/benchmark_update/{{ item.id }}">{{ item.create_date|date:"MEDIUM_DATE_FORMAT" }} - {{ item.name }}</a></b> &nbsp;<a href="/workflow/benchmark_delete/{{ item.id }}" class="btn-xs btn-danger">{% trans "Delete Data" %}</a>
    </li>
{% empty %}
    <li class="list-group-item">
        {% trans "No data yet." %}
    </li>
{% endfor %}
</ul>
{% endblock content %}
