{% extends "base.html" %}
{% load i18n %}
{% block bread_crumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/workflow/siteprofile_list/0/0/">{% trans "Sites" %}</a></li>
        <li class="breadcrumb-item active">{% trans "Site Projects" %}</li>
    </ol>
</nav>
{% endblock %}
{% block page_title %}{% blocktrans %}Project Data for <small>{{ site }}</small>{% endblocktrans %}{% endblock %}

{% block content %}

    {% for item in projects %}
        {% ifchanged item.program %}
            {% if not forloop.first %}
                </table></div></div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.program }}</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>{% trans "Date Created" %}</th>
                            <th>{% trans "Project Name" %}</th>
                            <th>{% trans "Project Code" %}</th>
                            <th>{% trans "Office Code" %}</th>
                            <th>{% trans "Form Version" %}</th>
                            <th>{% trans "Approval Status" %}</th>
                        </tr>
        {% endifchanged %}
        <tr>
            <td>{{ item.create_date|date:"MEDIUM_DATE_FORMAT" }}</td>
            <td> {{ item.project_name }}</td>
            <td>{{ item.activity_code }}</td>
            <td>{{ item.office }}</td>
            <td>{% if item.short %} {% trans "Short" %} {% else %} {% trans "Long" %} {% endif %}</td>
            <td>{% if item.projectcomplete %} {% trans "Tracking" %} {% if item.projectcomplete.approval  %}{{ item.projectcomplete.approval|capfirst }}{% else %}{% trans "Open" %}{% endif %}{% else %} {% trans "Initiation" %} {% if item.approval  %}{{ item.approval|capfirst }}{% else %} {% trans "Open" %} {% endif %} {% endif %}</td>
        </tr>
        {% if forloop.last %}</table></div></div>{% endif %}
    {% endfor %}
{% endblock content %}
