$s2-border-color: invert($gray-500);
$s2-selection-color: invert($body-color);
$s2-selection-disabled-color: invert($gray-150);
$s2-selection-widget-color: invert($gray-550);
$s2-placeholder-color: invert($gray-600);
$s2-selection-arrow-color: invert($gray-600);
$s2-menu-background: invert($white);
$s2-menu-highlighted-background: invert($teal-400);
$s2-menu-selected-background: darken($s2-menu-highlighted-background, 35%);

.navbar-dark {
    .select2-dropdown {
        background-color: $s2-menu-background;
        border: $s2-border-width solid $s2-border-color;
    }
    .select2-selection--single {
        background-color: $s2-menu-background;
        .select2-selection__rendered {
            color: $s2-selection-color;
            line-height: $s2-selection-height;
        }
        .select2-selection__placeholder {
            color: $s2-placeholder-color;
        }
        .select2-selection__arrow {
            b {
                border-color: $s2-selection-arrow-color transparent transparent transparent;
            }
        }
    }
    &.select2-container--disabled {
        .select2-selection--single {
            background-color: $s2-selection-disabled-color;
        }
    }
    
    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    border-color: transparent transparent $s2-selection-arrow-color transparent;
                }
            }
        }
    }
    .select2-container--default {
        .select2-results__option--highlighted[aria-selected] {
            background-color: $s2-menu-highlighted-background;
            color: white;
        }
    }
}
