.select2-selection--multiple {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  min-height: $s2-selection-height - 6px; // check this

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    display: inline-block;
    font-size: $font-size-sm;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    //white-space: nowrap;
  }
}

.select2-search--inline {
  float: left;

  .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: $s2-selection-margin;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
