// File cribbed directly from project src

// Custom variables
// prefixed with s2- in case they leak into the global scss
// Global border variables (both selection element & menu)
$s2-border-width: 1px !default;
$s2-border-radius: 0 !default;
$s2-border-color: $gray-500 !default;
// Selection element (i.e. replacement for select/option
$s2-selection-height: 38px !default;
$s2-selection-color: $body-color !default;
$s2-selection-disabled-color: $gray-150 !default;
$s2-selection-padding-left: 8px !default;
$s2-selection-padding-right: 20px !default;
$s2-selection-margin: 5px !default;
$s2-selection-widget-color: $gray-550 !default;
$s2-placeholder-color: $gray-600 !default;
$s2-selection-arrow-color: $gray-600 !default;
// Option and menu element
$s2-menu-background: $white !default;
$s2-menu-highlighted-background: $teal-400 !default;
$s2-menu-selected-background: lighten($s2-menu-highlighted-background, 35%) !default;
$s2-dropddown-padding: 4px !default;
$s2-option-padding: 6px !default;
$s2-options-max-height: 200px !default;
// Optgroup indents
$s2-optgroup-indent-width: 1em !default;


.select2-container {
  box-sizing: border-box;

  display: block;
  margin: 0;
  position: relative;
  vertical-align: middle;

  @import "single";
  @import "multiple";
}

@import "dropdown";

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;

  // styles required for IE to work

  background-color: white;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@import "theme/default/layout";
@import "theme/dark/layout";
