{% load i18n %}
{% load assign %}

<style>
  .disable-span {
      cursor: not-allowed;
      opacity: .65;
  }
  .disable-span a {
      pointer-events: none;
  }
</style>
<script type="text/javascript">
    $("#id_indicator_data_span_count_" + `{{indicator.id}}`).text("{% trans 'Results' %} ({{ indicator.collecteddata_set.count|default:0 }})" );
</script>

<div class="p-3">
    <h3 class="is-shown-in-modals">
        {{ indicator.name }}
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
              <!-- <span aria-hidden="true" style="font-weight: 100; font-size: 2rem;">&times;</span> -->
              <span aria-hidden="true" class="x-modal">&times;</span>
        </button>
    </h3>
{% if indicator.collecteddata_set.count > 0 or indicator.target_frequency %}
    <table class="table table-sm my-2 collected-data-table">
        <thead>
            <tr class="bg-gray-lighter-alt">
                <th class="text-uppercase border-top-0  text-nowrap" style="">{% trans "Target period" %}</th>
                <th class="text-uppercase border-top-0  text-right" style="">{% trans "Target" %}</th>
                <th class="text-uppercase border-top-0  text-right" style="">{% trans "Actual" %}</th>
                <th class="text-uppercase border-top-0 pr-4  text-nowrap text-right" style="">{% trans "% Met" %}</th>
                <th class="text-uppercase border-top-0" style="">{% trans "Results" %}</th>
                <th class="text-uppercase border-top-0 w-100" style="">{% trans "Evidence" %}</th>
            </tr>
        </thead>
        {% for item in periodictargets %}
            <tr>
                {% ifchanged item %}
                    {% with dataCount=item.collecteddata_set.count %}
                        <td {% if dataCount %} rowspan="{{ dataCount }}" {% endif %} class="text-nowrap">
                            <strong class="text-uppercase">{{ item.period }}</strong><br>
                            <small>
                                {{ item.start_date|date:"DATE_FORMAT"|default_if_none:"" }}
                                {% if item.start_date %} - {% endif %}
                                {{ item.end_date|date:"DATE_FORMAT"|default_if_none:"" }}
                            </small>
                        </td>
                        <td {% if dataCount %} rowspan="{{ dataCount }}" {% endif %} align="right">
                            {% with target=item.target|floatformat:"-2" %}
                                {% if indicator.unit_of_measure_type == 2 %}
                                    {{ target }}%
                                {% else %}
                                    {{ target }}
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td {% if dataCount %} rowspan="{{ dataCount }}" {% endif %} align="right">
                            {% if indicator.unit_of_measure_type == 1 %}
                                {% if indicator.is_cumulative == True %}
                                    {{ item.cumulative_sum|floatformat:"-2" }}
                                {% else %}
                                    {{ item.achieved_sum|floatformat:"-2" }}
                                {% endif %}
                            {% else %}
                                {% if item.last_data_row %}
                                    {{ item.last_data_row|floatformat:"-2" }}%
                                {% endif %}
                            {% endif %}
                        </td>
                        <td {% if dataCount %} rowspan="{{ dataCount }}" {% endif %} align="right" class="pr-4">
                            {% if item.target %}
                                {% if indicator.unit_of_measure_type == 1 %}
                                    {% if indicator.is_cumulative == True %}
                                        {% widthratio item.cumulative_sum item.target 100 as percent_met %}
                                        {% if percent_met %} {{ percent_met }}% {% endif %}
                                    {% else %}
                                        {% widthratio item.achieved_sum item.target 100 as percent_met %}
                                        {% if percent_met %} {{ percent_met }}% {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% widthratio item.last_data_row item.target 100 as percent_met %}
                                    {% if percent_met %} {{ percent_met }}% {% endif %}
                                {% endif %}
                            {% else %}
                                {% trans 'N/A' %}
                            {% endif %}
                        </td>
                    {% endwith %}
                {% endifchanged %}

                {% for cdata in item.getcollected_data %}
                    {% if not forloop.first %}
                        <tr>
                    {% endif %}
                    <td class="d-flex justify-content-between text-nowrap {% if cdata.periodic_target == None %}bg-danger-lighter{% endif %}">
                        <div>
                          {% if is_editable is False %}
                            {{ cdata.date_collected|date:"DATE_FORMAT"|default_if_none:"" }}
                          {% else %}
                          <a href="{% url 'collecteddata_update' cdata.id %}"
                             class="collecteddata-link"
                             id="collected-{{cdata.id}}">
                                  {{ cdata.date_collected|date:"DATE_FORMAT"|default_if_none:"" }}
                          </a>
                          {% endif %}
                        </div>
                        <div class="pl-2">
                            {% with achieved=cdata.achieved|floatformat:"-2" %}
                                {% if indicator.unit_of_measure_type == 2 %}
                                    {{ achieved }}%
                                {% else %}
                                    {{ achieved }}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                    <td>
                        {% if cdata.evidence %}
                            <div>
                                {% if cdata.evidence.url %}
                                    <a href="{{cdata.evidence.url}}" target="_blank">
                                {% endif %}
                                {{ cdata.evidence|default_if_none:"" }}
                                {% if cdata.evidence.url %}
                                    </a>
                                {% endif %}
                            </div>
                        {%endif%}
                        <div class="">
                            {% if cdata.complete %}
                                <a href="{% url 'projectcomplete_update' cdata.complete.id %}"
                                   target="_blank"
                                   class="fontsize-85 text-uppercase"><i class="fas fa-clipboard"></i> {% trans "View project" %}</a>
                            {% elif cdata.agreement %}
                                <a href="{% url 'projectagreement_update' cdata.agreement.id %}"
                                   target="_blank"
                                   class="fontsize-85 text-uppercase"><i class="fas fa-clipboard"></i> {% trans "View project" %}</a>
                            {% endif %}
                            {% comment {{ cdata.complete|default_if_none:cdata.agreement|default_if_none:'' }} %} {% endcomment %}
                        </div>
                        {% if cdata.tola_table %}
                            <a href="{{ cdata.tola_table.detail_url }}" target="_blank">{{ cdata.tola_table }}</a>
                        {% endif %}
                    </td>
                    {% empty %}
                        <td style="white-space: nowrap; overflow: visible; max-width: 125px; border-right: 0px solid;">
                            {% trans "No data collected" %}
                        </td>
                        <td colspan="5" style="border-left: 0px solid;"></td>
                    {% if item.collecteddata_set.count > 1 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

        {% for coldata in collecteddata_without_periodictargets %}
            <tr>
                <td></td>
                <td></td>
                <td align="right">
                    {% if indicator.unit_of_measure_type == 1 %}
                        {{ coldata.achieved|floatformat:"-2" }}
                    {% else %}
                        {{ coldata.achieved|floatformat:"-2" }}%
                    {% endif %}
                </td>
                <td align="right"></td>
                <td style="" class="d-flex justify-content-between text-nowrap bg-danger-lighter">
                    {% if is_editable is False %}
                      {{ coldata.date_collected|date:"DATE_FORMAT"|default_if_none:"" }}
                    {% else %}
                      <a href="{% url 'collecteddata_update' coldata.id %}" class="collecteddata-link" id="collected-{{coldata.id}}">
                          {{ coldata.date_collected|date:"DATE_FORMAT"|default_if_none:"" }}
                      </a>
                    {% endif %}
                    <div class="pl-2">
                        {% with achieved=coldata.achieved|floatformat:"-2" %}
                            {% if indicator.unit_of_measure_type == 2 %}
                                {{ achieved }}%
                            {% else %}
                                {{ achieved }}
                            {% endif %}
                        {% endwith %}
                    </div>
                </td>
                <td>
                    {% if coldata.evidence %}
                        {% if coldata.evidence.url %}
                            <a href="{{coldata.evidence.url}}" target="_blank">
                        {% endif %}
                        {{ coldata.evidence|default_if_none:"" }}
                        {% if coldata.evidence.url %}
                            </a>
                        {% endif %}
                    {%endif%}
                    <div class="float-right">
                        {% if coldata.complete %}
                            <a href="{% url 'projectcomplete_update' coldata.complete.id %}"
                               target="_blank"
                               class="btn btn-sm btn-link">{% trans "View Project" %}</a>
                        {% elif coldata.agreement %}
                            <a href="{% url 'projectagreement_update' coldata.agreement.id %}"
                               target="_blank"
                               class="btn btn-sm btn-link">{% trans "View Project" %}</a>
                        {% endif %}
                        {% comment {{ coldata.complete|default_if_none:coldata.agreement|default_if_none:'' }} %} {% endcomment %}
                    </div>
                    {% if coldata.tola_table %}
                        <a href="{{ coldata.tola_table.detail_url }}" target="_blank">{{ coldata.tola_table }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% if collecteddata_without_periodictargets.count %}
            {% if indicator.target_frequency == None %}
                {% assign err 'Error_1' %}
            {% elif indicator.target_frequency == 2 or indicator.target_frequency == 8 %}
                {% assign err 'Error_2' %}
            {% else %}
                {% assign err 'Error_3' %}
            {% endif %}
        {% endif %}

        <tr class="bg-white">
            <td><strong>{% trans "Life of Program" %}</strong></td>
            <td align="right">
                <strong>
                    {% with lop=indicator.lop_target|floatformat:"-2" %}
                        {% if indicator.unit_of_measure_type == 2 %}
                            {{ lop }}%
                        {% else %}
                            {{ lop }}
                        {% endif %}
                    {% endwith %}
                </strong>
            </td>
            <td align="right">
                <strong>
                    {% if indicator.unit_of_measure_type == 1 %}
                        {{ grand_achieved_sum|floatformat:"-2" }}
                    {% elif indicator.unit_of_measure_type == 2 %}
                        {{ last_data_record_value|floatformat:"-2" }}%
                    {% endif %}
                </strong>
            </td>
            <td align="right" class="pr-4">
                <strong>
                    {% if indicator.unit_of_measure_type == 1 %}
                        {% widthratio grand_achieved_sum indicator.lop_target 100 %}%
                    {% elif indicator.unit_of_measure_type == 2 %}
                        {% widthratio last_data_record_value indicator.lop_target 100 %}%
                    {% endif %}
                </strong>
            </td>
            <td colspan="2" class="">
              <div class="">
                <div class="small text-left font-italic font-weight-light">
                  {% if indicator.target_frequency is not None %}
                    {% if indicator.unit_of_measure_type == 1 %}
                      {% if indicator.is_cumulative == True %}
                        {% trans "Results are cumulative. The Life of Program result mirrors the latest period result." %}
                      {% elif indicator.is_cumulative == False %}
                        {% trans "Results are non-cumulative. The Life of Program result is the sum of target periods results." %}
                      {% endif %}
                    {% elif indicator.unit_of_measure_type == 2 %}
                      {% if indicator.is_cumulative == True %}
                        {% trans "Results are cumulative. The Life of Program result mirrors the latest period result." %}
                      {% elif indicator.is_cumulative == False %}
                        {% trans "Results are non-cumulative. Target period and Life of Program results are calculated from the average of collected data." %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
        </tr>
    </table>
    <div class="d-flex justify-content-between align-items-center collecteddata-table--actions">
        <div>
        {% if err %}
            <span id="id_span_date_collected_error_msg text-danger" class="color-red">
                <small>
                {% ifequal err 'Error_1' %}
                    {% trans "Targets are not set up for this indicator." %} <strong><a href="{% url 'indicator_update' indicator.id %}" data-tab="#targets" class="indicator-link"> {% trans "Start by selecting a target frequency." %}</a></strong>
                {% endifequal %}

                {% ifequal err 'Error_2' %}
                        {% trans 'This record is not associated with a target. Open the data record and select an option from the "Measure against target" menu.' %}
                {% endifequal %}

                {% ifequal err 'Error_3' %}
                    {% trans 'This date falls outside the range of your target periods. Please select a date between ' %} {{ program.reporting_period_start|date:"M d, Y" }} {% trans 'and ' %} {{ program.reporting_period_end|date:"M d, Y" }}.
                {% endifequal %}
                </small>
            </span>
        {% endif %}
        </div>
        <div class="{% if indicator.target_frequency == None or err == 'Error_1' %} disable-span {% endif %}">
            <a href="{% url 'collecteddata_add' program_id indicator.id %}"
                    class="btn btn-success collecteddata-link mb-4">
                <i class="fas fa-plus-circle"></i> {% trans "Add results" %}
            </a>
        </div>
    </div>
{% else %}
    <div class="my-3 color-red">
        <i class="fas fa-bullseye"></i>&nbsp;{% trans "This indicator has no targets." %} <a href="{% url 'indicator_update' indicator.id %}" data-tab="#targets" class="indicator-link btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;{% trans "Add targets" %}</a>
    </div>
{% endif %}
</div>
