{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_site").select2();
            $("#id_tola_table").select2();
            $("#id_evidence").select2();
            $("#id_agreement").select2();

            $('#tolatablemodal').on('hidden.bs.modal', function (e) {
                var sel = $("#service_table option:selected");
                $("#id_tola_table").append($("<option></option>")
                            .attr("value", sel.val())
                            .text(sel.text()));
            });

            // rotate disaggregation toggle
            // TODO: this is overly specific
            $('#disagg_toggle').on('click', function(e) {
                let icon = $(this).find("svg");
                if (icon.hasClass('fa-caret-right')) {
                    icon.attr('class', 'fa-caret-down');
                } else {
                    icon.attr('class', 'fa-caret-right');
                }
            });

            var achieved_formatted_value = parseFloat($("#id_achieved").val()).toFixed(2).replace(/[.,]00$/, "");
            $("#id_achieved").val(achieved_formatted_value);


            // Date Collected Datepicker

            var datepicker_value = $('#id_date_collected').val(); // otherwise the datepicker will overwrite the field with a new default when it's initialized

            // Inline the datepicker bc otherwise it floats around in this modal
            $('#date_collected-wrapper').datepicker({
                dateFormat: "yy-mm-dd",
                inline: true,
                defaultDate: datepicker_value,
                altField: '#id_date_collected',
            });

            var date_collected_picker = $('#date_collected-wrapper .ui-datepicker-inline');

            if (!datepicker_value) {
                $('#id_date_collected').val(''); // zero out input field for new result
            }

            date_collected_picker.hide();


            $('#id_date_collected').on('focus', function(e){
                date_collected_picker.show();
            });

            // update datepicker if field changes
            $('#id_date_collected').change(function(){
                $('#date_collected-wrapper').datepicker('setDate', $(this).val());
            });

            // ... or click outside datepicker to close
            $(window).on('click', function(e){
                e.stopPropagation();
                if (e.target.id == 'id_date_collected' || e.target.className.includes('ui-icon-circle-triangle')) {
                    // className is not a robust target
                    return;
                } else {
                    date_collected_picker.hide();
                }
            });

            // ... or when any other input gains focus
            $('input').on('focus', function(e){
                var input = $(this)[0];
                if (input.id != 'id_date_collected') {
                    date_collected_picker.hide();
                }
            });


            if ($('#id_date_collected').val() != '') {
                $('#id_date_collected').val(formatDate($('#id_date_collected').val()));
                // validate upon loading modal
                // important: validate this AFTER summoning the datepicker!
                // TODO: this should be a callback or else condition to zeroing out this field above
                validatePeriodicTarget();
            }
            // target_frequency is defined in the indicator_list.html file
            var target_frequency = parseInt(`{{object.indicator.target_frequency|safe}}`);
            // indicator_id is defined in the indicator_list.html file.
            // indicator_id = `{{indicator.id|safe}}`;
            var ptlen = `{{object.indicator.periodictargets.all.count|safe}}`;
            var collectedRecordId = parseInt(`{{object.id|safe}}`);

            // if it is a new record and target_frequency is LOP_ONLY then set periodic_target to LOP_ONLY
            if (isNaN(collectedRecordId)) {
                target_frequency = parseInt(`{{ indicator.target_frequency|safe}}`);
                if (!isNaN(target_frequency) && target_frequency == 1) {
                    // if target_frequency is 1 (LOP_Only) then there has to be exactly one periodic_target
                    var pt_id = parseInt(`{{ indicator.periodictargets.all.0.id|safe}}`);
                    $("#id_periodic_target").val(pt_id);
                }
                if (target_frequency != 1 && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                }
            } else {
                // disable the periodic_target dropdown unless it is set to MIDLINE_ENDLINE or EVENT
                if (!isNaN(target_frequency) && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                } else {
                    $("#id_periodic_target option:not(:selected)").attr("disabled", false);
                    $("#id_periodic_target").attr("readonly", false);
                }
            }
        });

        /*
        *  Open the TolaTables import modal when a user clicks "Import evidence from TolaTables"
        */
        $("#tolaTablesLink").on("click", function(e){
            e.preventDefault();
            $("#tolatablemodal .modal-content").load('/indicators/collecteddata_import/');
            $("#tolatablemodal").modal("show");
        });

        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
    </script>

    <form
        action="{% if object.id %}
                    {% url 'collecteddata_update' object.id %}
                {% else %}
                    {% url 'collecteddata_add' program_id indicator.id %}
                {% endif %}
                "
        id="collecteddata_update_form"
        class="form-horizontal"
        method="post"
        novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <h2>{%  trans 'Results' %}</legend>
        <h3>
          {% if object.indicator.levels %}{{ object.indicator.levels }} {% trans "indicator" %}: {% endif %}
          {{ object.indicator.name|truncatechars:300 }}
        </h3>

        <fieldset>
            <div class="form-row mb-2" id="div_id_program2">
                <label for="id_program2" class="col-sm-4 col-form-label" align="right">
                    {{ form.program.label }}*
                </label>
                <div class="col-sm-7">
                    {% render_field form.program2 class+="form-control" %}
                    <small class="form-text text-muted">{{ form.program.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_indicator2">
                <label for="id_indicator2" class="col-sm-4 col-form-label" align="right">
                    {{ form.indicator.label }}*
                </label>
                <div class="col-sm-7">
                    {% render_field form.indicator2 class+="form-control" %}
                    <small class="form-text text-muted">{{ form.indicator.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_site">
                <label for="id_site" class="col-sm-4 col-form-label" align="right">
                    {{ form.site.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.site class+="form-control" %}
                    <small class="form-text text-muted">{{ form.site.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_date_collected">
                <label for="id_date_collected" class="col-sm-4 col-form-label" align="right">
                    {{ form.date_collected.label }}*
                </label>
                <div class="col-sm-7" id="date_collected-wrapper">
                    {% render_field form.date_collected class+="form-control" autocomplete="off" %}
                    <small class="form-text text-muted" id="hint_id_date_collected">{{ form.date_collected.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_periodic_target">
                <label for="id_periodic_target" class="col-sm-4 col-form-label" align="right">
                    {{ form.periodic_target.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.periodic_target class+="form-control" %}
                    <span id="hint_id_periodic_target" class="form-text text-muted">{{ form.periodic_target.help_text }}</span>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_achieved">
                <label for="id_achieved" class="col-sm-4 col-form-label" align="right">
                    {{ form.achieved.label }}*
                </label>
                <div class="col-sm-7">
                    <span
                        id="id_span_achieved"
                        {% if indicator.unit_of_measure_type == 2 or object.indicator.unit_of_measure_type == 2 %} class="input-symbol-percent" {% endif %}>
                        {% render_field form.achieved class+="form-control" %}
                    </span>
                    <small id="hint_id_achieved" class="form-text text-muted">{{ form.achieved.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_description">
                <label for="id_description" class="col-sm-4 col-form-label" align="right">
                    {{ form.description.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.description class+="form-control" %}
                    <small id="hint_id_description" class="form-text text-muted">{{ form.description.help_text }}</small>
                </div>
            </div>

            <div class="form-row mb-2" id="div_id_complete">
                <label for="id_complete" class="col-sm-4 col-form-label" align="right">
                    {{ form.complete.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.complete class+="form-control" %}
                    <small id="hint_id_complete" class="form-text text-muted">{{ form.complete.help_text }}</small>
                </div>
            </div>
        </fieldset>

        <h2>{% trans "Evidence" %}</h2>
        <fieldset>

            <div class="form-row mb-2" id="div_id_evidence">
                <label for="id_evidence" class="col-sm-4 col-form-label" align="right">
                    {{ form.evidence.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.evidence class+="form-control" %}
                    <small id="hint_id_evidence" class="form-text text-muted">
                        {{ form.evidence.help_text }}
                    </small>
                </div>
            </div>

            <div class="form-row" id="div_id_tola_table">
                <label for="id_tola_table" class="col-sm-4 col-form-label" align="right">
                    {{ form.tola_table.label }}
                </label>
                <div class="col-sm-7">
                    {% render_field form.tola_table class+="form-control" %}
                    <small id="hint_id_tola_table" class="form-text text-muted">
                        {{ form.tola_table.help_text }}
                    </small>
                    <div class="pt-2">
                        <a id="tolaTablesLink" class="output" href="#">{% trans 'Import evidence from TolaTables' %}</a>
                    </div>
                    <div class="d-flex pt-2">
                        <div class="">{{ form.update_count_tola_table }}</div>
                        <label for="id_update_count_tola_table" class="d-block pl-2">{{ form.update_count_tola_table.label}}</label>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset class="border p-1">
            {% if getDisaggregationLabelStandard and not getDisaggregationValueStandard %}
                    <div
                            id="disagg_toggle"
                            class="fontsize-130 btn btn-link"
                            data-toggle="collapse"
                            data-target="#standardDisagg"
                            aria-expanded="false"
                            aria-controls="standardDisagg">
                            <!-- Need the div to make ensure rotating symbol doesn't push text to the right -->
                            <div class="div-expand-symbol"><i class="fas fa-caret-right"></i></div>
                        {% trans "Standard disaggregations" %}
                    </div>
                    <div class="collapse" id="standardDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationLabelStandard %}
                                <tr>
                                    <td>{{ item.label }}</td>
                                    <td>
                                        <input type="number" min="0"
                                            class="form-control form-control-sm"
                                            name="{{ item.id }}"
                                            value="">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% else %}
                {% if not getDisaggregationValueStandard %}
                    <h4>{% trans "Standard disaggregation levels not entered" %}</h4>
                    <p>{% trans "Standard disaggregations are entered by the administrator for the entire organizations.  If you are not seeing any here, please contact your system administrator." %}</p>
                {% endif %}
            {% endif %}
            {% if getDisaggregationLabel and not getDisaggregationValue %}
                <div class="card mt-1">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#newDisagg"
                            aria-expanded="false"
                            aria-controls="newDisagg">
                        {% trans "New disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="newDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                        {% for item in getDisaggregationLabel %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-control-sm"
                                        name="{{ item.id }}"
                                        value="">
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                </div>
            {% endif %}
            {% if getDisaggregationValue %}
                <div class="card mt-1">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#existingDisagg"
                            aria-expanded="false"
                            aria-controls="existingDisagg">
                        {% trans "Existing disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="existingDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationValue %}
                            <tr>
                                <td>{{ item.disaggregation_label.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-controm-sm"
                                        name="{{ item.disaggregation_label.id }}"
                                        value="{{ item.value }}">
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            {% endif %}

            {% if getDisaggregationValueStandard %}
                <div class="card">
                    <div class="card-header"
                            data-toggle="collapse"
                            data-target="#existingStandardDisagg"
                            aria-expanded="false"
                            aria-controls="existingStandardDisagg">
                        {% trans "Existing standard disaggregations" %}
                    </div>
                    <div class="card-body collapse" id="existingStandardDisagg">
                        <table class="table table-sm table-hover table-striped">
                            <tr>
                                <th>{% trans "Disaggregation level" %}</th>
                                <th>{% trans "Actuals" %}</th>
                            </tr>
                            {% for item in getDisaggregationValueStandard %}
                            <tr>
                                <td>{{ item.disaggregation_label.label }}</td>
                                <td>
                                    <input type="number" min="0"
                                        class="form-control form-control-sm"
                                        name="{{ item.disaggregation_label.id }}"
                                        value="{{ item.value }}"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <fieldset class="pb-2 pt-2">
            <strong>

                <a
                    {% if id %}
                        href="{% url 'collecteddata_delete' id %}"
                    {% else %}
                        href="#" data-dismiss="modal"
                    {% endif %}
                    class="text-danger float-right">
                    <i class="fas fa-trash-alt"></i> {% trans "Delete results" %}
                </a>
            </strong>
        </fieldset>
        <div class="modal-footer justify-content-between pt-4">
            <div>
                <input type="submit" name="submit" value="{% trans 'Save changes' %}" class="btn btn-primary btn-sm mb-2" id="submit-id-submit">
                <input type="reset" class="btn btn-secondary btn-sm mb-2" value="{% trans 'Reset' %}">
            </div>
          <div></div>
        </div>
    </form>

{% endblock content %}
