{% load i18n %}
<div class="modal fade" role="dialog" id="conform_modal_div" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Warning" %}</h4>
            </div>
            <div class="modal-body" id="confirm_modal_body">
                {% trans "Are you sure?" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">{% trans "Yes" %}</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">{% trans "No" %}</button>
            </div>
        </div>
    </div>
</div>


<div id="indicator_modal_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="indicator_modal_content">

        </div> <!-- modal content -->
    </div>
</div>


<div id="indicator_results_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="indicator_results_content">
            <div class="modal-body" id="indicator_modal_body" style="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span id = "modalmessages"></span>
                <div id="indicator_results_modal_content"></div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="tolatablemodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% include 'indicators/indicator_reportingperiod_modal.html'%}
