{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Program indicators" %} | {% endblock %}
{% block page_title %}{% trans "Program indicators" %}{% endblock %}

{% block content %}

{% include "indicators/filter.html" %}
<br>
<div id="div-id-indicator-list">
    {% for program in programs %}
        <div class='card border-0'>
            <div class='card-header d-flex justify-content-between align-items-center'>
                <span class="program-name fontsize-130">{{ program.name|truncatechars:140 }}</span>
                {% if program.reporting_period_start and program.reporting_period_end %}
                    <span>
                        <a href="{% url 'indicator_create' program.id %}" role="button" class="btn btn-link btn-white"><i class="fas fa-plus-circle"></i> {% trans "Add indicator" %}</a>
                    </span>
                {% endif %}
            </div>
            <div class='card-body d-flex justify-content-between align-items-center'>
                {% if not program.reporting_period_start or not program.reporting_period_end %}
                    <div class="card-title paddingleft-125 m-0 fontsize-130">
                        {% trans "Before adding indicators and performance results, we need to know your program's " %}
                        <a
                            class="pl-1"
                            href="#"
                            data-toggle="modal"
                            data-program="{{ program.id }}"
                            data-progstart="{{ program.start_date }}"
                            data-progend="{{ program.end_date }}"
                            data-rptstart="{{ program.reporting_period_start }}"
                            data-rptend="{{ program.reporting_period_end }}"
                            data-target="#id_reporting_period_modal">
                                {% trans "reporting start and end dates." %}
                        </a>
                    </div>
                {% elif not program.indicator_set.all %}
                    <div class="card-title paddingleft-125 m-0 fontsize-130">{% trans "No Indicators have been entered for this program" %}</div>
                {% else %}
                    <a
                        id="id_btnOpenindicatorsForProgramId_{{ program.id }}"
                        href="#"
                        onclick="loadIndicators({{ program.id }}, {{ indicator_id }}, {{ type_id }})"
                        class="fontsize-130 btn btn-link p-0 font-weight-normal"
                        data-toggle="collapse"
                        data-target="#hidden-{{ program.id }}">
                            <!-- Need the div to make ensure rotating symbol doesn't push text to the right -->
                            <div class="div-expand-symbol"><i class="fas fa-caret-right"></i></div>
                            {{ program.indicator_count }}
                            {% if program.indicator_count == 1 %}
                                {% trans "program indicator" %}
                            {% else %}
                                {% trans "program indicators" %}
                            {% endif %}
                    </a>
                {% endif %}
                {% if program.reporting_period_start and program.reporting_period_end %}
                    <span class="d-flex align-items-center">
                        <a class="pr-1" href="{% url 'programIndicatorReport' program.id %}">{% trans 'Indicator plan' %}</a>
                        |
                        <a
                            id="id_link_reporting_period_{{program.id}}"
                            class="pl-1"
                            href="#"
                            data-toggle="modal"
                            data-program="{{ program.id }}"
                            data-progstart="{{ program.start_date }}"
                            data-progend="{{ program.end_date }}"
                            data-rptstart="{{ program.reporting_period_start }}"
                            data-rptend="{{ program.reporting_period_end }}"
                            data-target="#id_reporting_period_modal">
                                {% trans 'Reporting period' %}
                        </a>
                    </span>
                {% endif %}
            </div>
            {% if program.does_it_need_additional_target_periods is True %}
                <span id="id_missing_targets_msg" class="color-red fontsize-85 missing_targets_msg">
                    <i class="fas fa-bullseye"></i>&nbsp;
                    {% trans 'Some indicators have missing targets. To enter these values, click the target icon near the indicator name.' %}
                </span>
            {% endif %}
            {% if program.indicator_set.all %}
                <div id="hidden-{{ program.id }}" class="collapse">
                    {% include "indicators/program_indicators_table.html" %}
                </div>
            {% endif %}

        </div>
        <br>
    {% empty %}
        <p>{% trans "No Programs" %}</p>
    {% endfor %}
</div>

<div class="modal fade" role="dialog" id="conform_modal_div" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Warning" %}</h4>
            </div>
            <div class="modal-body" id="confirm_modal_body">
                {% trans "Are you sure?" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">{% trans "Yes" %}</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">{% trans "No" %}</button>
            </div>
        </div>
    </div>
</div>


<div id="indicator_modal_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="indicator_modal_content">

        </div> <!-- modal content -->
    </div>
</div>


<div id="indicator_collecteddata_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="indicator_collecteddata_content">
            <div class="modal-body" id="indicator_modal_body" style="padding-top:10px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span id = "modalmessages"></span>
                <div id="indicator_collected_data_modal_content"></div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="tolatablemodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% include 'indicators/indicator_reportingperiod_modal.html'%}

<script type="text/javascript">
    /*
    *  Load the collected data for an indicator on the results page
    */
    function loadCollected(indicator,program){
        var url = '/indicators/collected_data_table/' + indicator + '/' + program + '/';
        var div_name = '#hidden-indicator-' + indicator;
        $(div_name).empty();
        $.get(url, function(data){
            $(div_name).html(data);
            $("body").removeClass("modal-open");
        });
        $("#id_indicator_data_count_btn_"+indicator).blur();
    };

    /*
    *  Load the collected data for an indicator on the results page
    */
    function loadIndicators(program, indicator, type){
        $.get('/indicators/program_indicators/' + program + '/' + indicator + '/' + type + '/', function(data){
            $('#hidden-' + program).html(data);
            $("body").removeClass("modal-open");
          });

        let icon = $(`#id_btnOpenindicatorsForProgramId_${program}`).find("svg");
        if (icon.hasClass('fa-caret-right')) {
          icon.attr('class', 'fa-caret-down');
        } else {
          icon.attr('class', 'fa-caret-right');
        }
    };

    $("#indicator_collecteddata_div").on("click", "#targetsTabLink", function(e){
        e.preventDefault();
        $("#indicator_modal_content").empty();
        $("#modalmessages").empty();
        var url = $(e.target).parent().attr('href');
        $("#indicator_collecteddata_div").modal('hide');
        $("#indicator_modal_content").load(url+"?modal=1&targetsonly=true");
        $("#indicator_modal_div").modal('show');
    });

    $("#indicator_modal_div").on("click", "#backToCollectedDataLink", function(e){
        e.preventDefault();
        $("#indicator_modal_div").modal('hide');
        $("#indicator_modal_content").empty();
        $("#modalmessages").empty();
        $("#indicator_collecteddata_div").modal('show');

        var url = $(e.target).attr('href') + '?existingTargetsOnly=true';
        $.getJSON(url, function( data ) {
            $("#id_periodic_target").children('option:not(:first)').remove();
            $.each(data, function(index, pt) {
                $("#id_periodic_target")
                    .append($("<option></option>")
                    .attr("value", pt.id)
                    .text(pt.period + " (" + formatDate(pt.start_date) + " - " +  formatDate(pt.end_date) + ")"));
            });
            $("#id_periodic_target").trigger('change');
        });
    });

    $('#indicator_modal_div').on('hide.bs.modal', function (e) {
        try {
            var form = $(this).find('form');
            var program_id = parseInt($(this).find('form #id_program').val());
            var form_action = form.attr('action').split('/');
            var indicator_id = parseInt(form_action[form_action.length -2]);
            var kpi = form.find("#id_key_performance_indicator").prop("checked");

            var targetsactive = $(this).find("#indicator_modal_body").data("targetsactive");
            var indicatorchanged = form.data('indicatorchanged');

            if (form.data('update_indicator_row') == 1) {
                var indicator_type = form.find("#id_indicator_type option:selected").text();
                var indicator_level = '';
                form.find("#id_level option:selected").each(function() {
                    indicator_level += $(this).text() + ', ';
                });

                var indicator_number = form.find("#id_number").val();
                var indicator_name = `${indicator_number} ${form.find("#id_name").val()}`;

                if (kpi) {
                    if ($("#id_indicator_name_" + indicator_id + " span.badge").length == 0) {
                        $("#id_indicator_name_" + indicator_id).append("<span class='badge'>KPI</span>");
                    } else {
                        $("#id_indicator_name_" + indicator_id + " span.badge").text("KPI");
                    }
                } else {
                    $("#id_indicator_name_" + indicator_id + " span.badge").text("");
                }
                var indicator_sector = form.find("#id_sector option:selected").text();
                $("#id_indicator_type_" + indicator_id).text(indicator_type);
                $("#id_indicator_level_" + indicator_id).text(indicator_level.trim().slice(0, -1));
                $("#id_indicator_name_" + indicator_id + " a .indicator_name").text(indicator_name);
                $("#id_indicator_sector_" + indicator_id).text(indicator_sector);
                $("#id_indicator_unit_" + indicator_id).text(form.find("#id_unit_of_measure").val());
                $("#id_indicator_baseline_" + indicator_id).text(form.find("#id_baseline").val());
                $("#id_indicator_target_" + indicator_id).text(form.find("#id_lop_target").val());
            }

            // if (targetsactive == 'true' || indicatorchanged == true) {
            if (form.data('periodic_targets_exist') && (targetsactive == 'true' || indicatorchanged == true)) {
                loadCollected(indicator_id, program_id);
                // $("#hidden-indicator-"+indicator_id).collapse('show');
            }
        } catch (err){
            console.log(err);
        }
    });


    $('#indicator_collecteddata_div').on('hide.bs.modal', function (e) {
        var recordchanged = $(this).find('form').data('recordchanged');
        if (recordchanged == true) {
            var program_id = $(this).find('form #id_program').val();
            var indicator_id = $(this).find('form #id_indicator').val();
            loadCollected(indicator_id, program_id);
        }
    })

    // Open the CollectDataUpdate form in a modal
    $("#div-id-indicator-list").on("click", ".collecteddata-link", function(e) {
        e.preventDefault();
        var url = $(this).attr("href");
        url += "?modal=1";
        $("#indicator_modal_content").empty();
        $("#modalmessages").empty();

        $("#indicator_collected_data_modal_content").load(url);
        $("#indicator_collecteddata_div").modal('show');
    });


    // Open the IndicatorUpdate Form in a modal
    $("#div-id-indicator-list").on("click", ".indicator-link", function(e) {
        e.preventDefault();
        var url = $(this).attr("href");
        url += "?modal=1";
        var tab = $(this).data("tab");
        if (tab && tab != '' && tab != undefined && tab != 'undefined') {
            url += "&targetsactive=true";
        }
        $("#indicator_modal_content").empty();
        $("#modalmessages").empty();

        $("#indicator_modal_content").load(url);
        $("#indicator_modal_div").modal('show');

    });

    function getUrl() {
        var programId = $("#program_filter_value").data('programid');
        var indicatorId = $("#indicator_filter_value").data('indicatorid');
        var typeId = $("#type_filter_value").data('typeid');
        var url = '/indicators/home/';

        url += (parseInt(programId) >= 0 ? programId : 0) + '/';
        url += (parseInt(indicatorId) >= 0 ? indicatorId : 0) + '/';
        url += (parseInt(typeId) >= 0 ? typeId : 0 ) + '/';
        return url;
    }
    $("#id_filtersDropdown").on("programFilterUpdated", "#id_programs_filter_dropdown", function(e){
        var url = getUrl();
        window.location.href = url;
    });

    $("#id_filtersDropdown").on("indicatorFilterUpdated", "#id_indicators_filter_dropdown", function(e){
        var url = getUrl();
        sessionStorage.setItem("openProgram", "true");
        window.location.href = url;
    });


    $("#id_filtersDropdown").on("indicatorTypeFilterUpdated", "#id_indicatortypes_filter_dropdown", function(e){
        var url = getUrl();
        window.location.href = url;
    });

    window.onload = function() {
        var programId = `{{ programs.0.id }}`;

        if (sessionStorage.getItem('openProgram')) {
            sessionStorage.removeItem("openProgram");
            loadIndicators(programId, indicatorId, 0);
            $("#hidden-"+programId).collapse('show');
        }
    }
 </script>
{% include 'indicators/indicator_form_common_js.html' %}
{% include 'indicators/collecteddata_form_common_js.html' %}
{% endblock content %}
