{% load i18n %}
{% load widget_tweaks %}
{% load mytags %}

{% if periodic_targets and indicator.target_frequency != 1%}
    <div class="periodic-targets">

        <h3 class="no-bold">
            {% blocktrans with indicator.get_target_frequency_label as get_target_frequency_label %}
            {{ get_target_frequency_label }} targets
            {% endblocktrans %}
        </h3>
        <div class="" id="periodic-targets-tablediv">
            <table class="table table-sm periodic-targets__table" id="periodic_targets_table">
                <tbody>
                    {% for pt in periodic_targets %}
                    <tr id="{{ pt.id }}" data-collected-count="{{ pt.num_data }}" class="periodic-target">
                        {% if indicator.target_frequency == 8 %} {# 8 is a stand alone EVENT #}
                        <td class="text-left d-flex align-items-center td--stretch">
                            <a href=
                            "{% if pt.id %} {% url 'pt_delete' pt.id %} {% else %} # {% endif %}"
                                id="deleteLastPT"
                                class="deletebtn btn btn-sm" >
                                <i class="fas fa-times text-danger"></i>
                            </a>
                            <input type="text" name="{{ pt.period }}" value="{{ pt.period }}" class="form-control input-text">
                            <span style="" class="help-block"> </span>
                        </td>
                        {% else %}
                        <td class="text-left align-middle td--stretch">
                            <strong>{{ pt.period_name }}</strong>
                            {% if pt.start_date %}
                                <br><small>{{ pt.start_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:'' }} {% if pt.start_date %} - {% endif %} {{ pt.end_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:'' }}</small>
                            {% endif %}
                        </td>
                        {% endif %}

                        <td class="text-right align-middle">
                            <span id="id_span_{{ pt.id }}" class="{% if indicator.unit_of_measure_type == 2 %}input-symbol-percent{% endif %}">
                                <input
                                    type="number"
                                    id="pt-{{ pt.id }}"
                                    name="{{ pt.period }}"
                                    value="{{ pt.target|floatformat:"-2"}}"
                                    data-periodictarget="pt"
                                    data-start-date="{{pt.start_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:''}}"
                                    data-end-date="{{pt.end_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:''}}"
                                    placeholder="{% trans 'Enter target' %}"
                                    class="form-control input-value">
                            </span>
                            <span id="hint_id_pt_{{pt.id}}" style="margin:0px;" class="help-block"> </span>{# TODO: this style attr #}
                        </td>
                    </tr>

                    {% if forloop.last %}
                    <tr class="" id="pt_sum_targets">
                        <td class="periodic-targets__sum text-left align-middle td--stretch">
                            <strong><span id="id_span_label_targets_sum">{% trans "Sum of targets" %}</span></strong>
                        </td>
                        <td class="periodic-targets__sum align-middle text-right">
                            <strong>
                                <span id="id_span_targets_sum" class="periodic-targets__sum__value {% if indicator.unit_of_measure_type == 2 %}input-symbol-percent{% endif %}">
                                    {% if indicator.unit_of_measure_type == 1%}
                                        {{ targets_sum|floatformat:"-2" }}
                                    {% else %}
                                        {{ targets_avg|floatformat:"-2" }}
                                    {% endif %}
                                </span>
                            </strong>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}{# for pt in periodic_targets #}

                    <tr class="table-secondary">
                        <td class="periodic-targets__sum text-left td--stretch">
                            <strong>{% trans "Life of Program (LoP) target" %}</strong>
                        </td>
                        <td class="periodic-targets__sum text-right ">
                            <strong class="periodic-targets__sum__value {% if indicator.unit_of_measure_type == 2 %}input-symbol-percent{% endif %}">
                                <span id="id_span_loptarget" class="input-value">
                                    {{ indicator.lop_target|floatformat:"-2" }}
                                </span>
                            </strong>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-danger-lighter">
                        <td colspan="2" class="text-danger" style="padding: 0px" id="id_pt_errors"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        {% if indicator.target_frequency == 8 %}
        <div class="text-right">
            <a href="#" id="addNewPeriodicTarget" class="btn btn-add btn-link"><i class="fas fa-plus-circle"></i> {% trans "Add a target" %}</a>
        </div>
        {% endif %}

        <div class="form-group card card-body" id="id_div_is_cumulative">
            <!-- UNIT_OF_MEASURE_TYPE = 1 IS NUMBER AND 2 IS PERCENTAGE -->
            <!-- IS_CUMULATIVE = 2 and NON_CUMULATIVE = 3 -->
            {% with unit_type=indicator.unit_of_measure_type %}
            <div class="" id="id_is_cumulative_section_header">
                <h4>
                    <span id="id_span_is_cumulative_header">
                        {% trans "Options for number (#) indicators" %}
                    </span>
                </h4>
            </div>
            <div id="id_div_is_cumulative_section1" class="form-check">
                <input
                    type="radio"
                    name="is_cumulative"
                    value="3"
                    required
                    {% if indicator.is_cumulative is None or indicator.is_cumulative is False %} checked {% endif %}
                    class="form-control form-check-input"
                    id="id_is_cumulative_1"
                    >
                <label
                    class="form-check-label"
                    for="id_is_cumulative_1">
                    {% blocktrans %}
                    <strong>Non-cumulative (NC):</strong> Target period results are automatically calculated from data collected during the period. The Life of Program result is the sum of target period values.
                    {% endblocktrans %}
                </label>
            </div>
            <div id="id_div_is_cumulative_section2" class="form-check">
                <input
                    type="radio"
                    name="is_cumulative"
                    value="2"
                    required
                    {% if indicator.is_cumulative is True %} checked {% endif %}
                    class="form-control form-check-input"
                    id="id_is_cumulative_2"
                    >
                <label
                    class="form-check-label"
                    for="id_is_cumulative_2">
                    {% blocktrans %}
                    <strong>Cumulative (C):</strong> Target period results automatically include data from previous periods. The Life of Program result mirrors the latest period value.
                    {% endblocktrans %}
                </label>
            </div>
            <div id="id_div_is_cumulative_section3" class="form-group">
                <span class="form-check-label">
                    {% blocktrans %}
                    <strong>Cumulative (C):</strong> The Life of Program result mirrors the latest period result. No calculations are performed with collected data.
                    {% endblocktrans %}
                </span>
            </div>
            {% endwith %}

        </div>

    </div><!--/.periodic-targets-->
{% endif %}
