{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Indicator Plan" %} | {% endblock %}

{% block bodyclasses %}indicator-plan{% endblock %}

{% block mainclasses %}region--full-width{% endblock %}

{% block region_header %}
<h1 class="page-title h2">
    <a href="{{ program.program_page_url }}">{{ program.gaitid }} - {{ program.name }}</a>:
    <span class="font-weight-normal text-muted text-nowrap">
        {% trans "Indicator Plan" %}
        <small><i class="fas fa-th"></i></small>
    </span>
</h1>
<button type="submit" class="btn btn-sm btn-secondary" onClick="location.href='/indicators/indicator_plan/export/{{ program.id }}/{% if ordering %}?orderby={{ordering}}{% endif %}'"><i class="fas fa-download"></i> Excel {# Excel (brand name) not translated #}</button>

{% endblock %}

{% block content %}

<div class="logframe__subheader">{# NOTE: uses a logframe__* style #}
    <div>
    </div>
    <div>
        {% if ordering and program.levels.count > 1 %}
        <form method="GET" action="#" class="form-inline mt-2">
            <div class="form-group"></div>
            <label for="orderby_select">{% trans 'Group indicators' %}:&nbsp;</label>
            <div class="controls">
                <select class="select form-control" id="orderby_select" name="orderby" onchange="this.form.submit()">
                    <option value="1" {% if ordering == 1 %}selected{% endif %}>{{ program.rf_chain_sort_label }}</option>
                    <option value="2" {% if ordering == 2 %}selected{% endif %}>{% trans 'by Level' %}</option>
                </select>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<div class="table-responsive logframe__table">{# NOTE: uses a logframe__* style #}
    <table class="table table-bordered table-hover table-sm text-small table__ip"
           style="width: {{ table_width }}px; table-layout: fixed;">
        {% for width in column_widths %}
        <col style="width: {{ width }}px">
        {% endfor %}
        <thead class="thead-light">
            <tr class="title-row">
                {% for name in column_names %}
                <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            {% if row.row_type == 'level' %}
            <tr>
                <td class="ip-level-row" colspan="{{column_names|length}}">
                    {{ row.row_data|default_if_none:'' }}
                </td>
            </tr>
            {% elif row.row_type == 'indicator' %}
            <tr>
                {% for val in row.row_data %}
                <td>{{ val|linebreaks|default_if_none:'' }}</td>
                {% endfor %}
            </tr>
            {% endif %}

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
