{% load i18n %}

<div id="id_reporting_period_modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="reporting_period_content">
          <form
              action=""
              id="reportingperiod_update_form"
              method="post"
              novalidate>
                {% csrf_token %}
                <div class="modal-body ml-4 mb-3" id="reporting_period_body" style="padding-top:10px">
                    <input hidden=true name="program_id">
                    <div class="mb-4">
                        <div class="pt-3" style="display:inline-block; width: 90%">
                            <div id="id-reportingperiod-title" class="mb-4"><h2>{% trans 'Reporting period' %}</h2></div>
                                <div id="div-id-reportingperiod-alert">
                                </div>
                            <div>{% trans "The program reporting period is used in the setup of periodic targets and in Indicator Performance Tracking Tables (IPTT). TolaActivity initially sets the reporting period to include the program’s official start and end dates, as recorded in the Grant and Award Information Tracker (GAIT) system. The reporting period may be adjusted to align with the program’s indicator plan." %}</div>
                        </div>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            style="display:inline-block;"
                            aria-label="Close">
                            <span class="x-modal">&times;</span>
                        </button>
                    </div>
                    <div id="div-gait-dates" class="mb-3">
                        <div id="div_gait_dates_title" class="mb-3">
                            <h3>{% trans 'GAIT program dates' %}</h3>
                        </div>
                        <div id="div_gait_dates">
                            <div id="div_id_gait_start_date" class="mr-4" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'Start date' %}</div>
                                    <div id="id_gait_start_date"></div>
                                </h4>
                            </div>

                            <div id="div_id_gait_start_date" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'End date' %}</div>
                                    <div id="id_gait_end_date"></div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card inputs-in-a-box" id="div-card-user-dates" style="width: 90%">
                        <div class="card-body p-4">
                            <div id="div_reporting_dates_title">
                                <h3>{% trans 'Reporting start and end dates' %}</h3>
                            </div>
                            <div id="div_reporting_dates">
                                <div id="div_id_reporting_start_date" style="display: inline-block;" class="mr-5">
                                    <h4>
                                        <div class="mb-0 text-uppercase">{% trans 'Start date' %}</div>
                                        <input type="text"
                                               name="reporting_period_start"
                                               class="form-control rptMonthPicker"
                                               id="id_reporting_start_date">
                                    </h4>
                                </div>
                                <div id="div_reporting_end_date" style="display: inline-block;">
                                    <h4>
                                        <div class="mb-0 text-uppercase">{% trans 'End date' %}</div>
                                        <input type="text"
                                           name="reporting_period_end"
                                           class="form-control rptMonthPicker"
                                           id="id_reporting_end_date">
                                    </h4>
                                </div>
                            </div>
                            <div id="div_reporting_dates_description">
                                {% trans 'While a program may begin and end any day of the month, reporting periods must begin on the first day of the month and end on the last day of the month. Please note that the reporting start month can only be adjusted ' %}<span class="color-red">{% trans 'before targets are set up and a program begins submitting performance results. ' %}</span>{% trans 'The reporting end month can still be extended.' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between p-4" style="background-color: #DBDCDE;">
                    <div>
                        <input type="submit" name="submit" value="{% trans 'Save changes' %}" class="btn btn-primary mx-1 text-uppercase" id="submit-id-submit">
                        <input type="reset" class="btn btn-secondary mx-1" value="{% trans 'Reset' %}">
                    </div>
                    <div class="text-muted">{% include "form_guidance.html" %}</div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function setupMonthPickers() {
        const start_date_id = "id_reporting_start_date";
        const end_date_id = "id_reporting_end_date";
        $('.rptMonthPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'M d, yy',
            onClose: function (dateText, inst) {
                const month = inst.selectedMonth;
                const year = inst.selectedYear;
                const existingDate = $(this).val();
                var newDate = ""
                if (this.id == start_date_id)
                    newDate = formatDate(new Date(year, month, 1));
                else {
                    newDate = formatDate(new Date(year, month+1, 0));
                }
                if (existingDate != newDate) {
                    $(this).change();
                }
                $(this).datepicker('setDate', newDate);

            },
            beforeShow: function (input, inst) {
                $("#ui-datepicker-div").addClass("month-only");
                if ((datestr = $(this).val()).length > 0) {
                    year = datestr.substring(datestr.length - 4, datestr.length);
                    month = jQuery.inArray(datestr.substring(0, 3), $(this).datepicker('option', 'monthNamesShort'));
                    var defaultDate = "";
                    if (this.id == start_date_id) {
                        defaultDate = new Date(year, month, 1);
                    }
                    else {
                        defaultDate = new Date(year, month+1, 0);
                    }
                    $(this).datepicker('option', 'defaultDate', defaultDate);
                    $(this).datepicker('setDate', defaultDate);
                }
                var other = this.id == start_date_id ? `#${end_date_id}` : `#${start_date_id}`;
                var option = this.id == start_date_id ? "maxDate" : "minDate";
                if ((selectedDate = $(other).val()).length > 0) {
                    year = selectedDate.substring(selectedDate.length - 4, selectedDate.length);
                    month = jQuery.inArray(selectedDate.substring(0, 3), $(this).datepicker('option', 'monthNamesShort'));
                    if (this.id == start_date_id){
                        $(this).datepicker("option", option, new Date(year, month, 1));
                    }
                    else {
                        $(this).datepicker("option", option, new Date(year, month+1, 0));
                    }

                }
            },
        })
    }

    /*
    *  Populate the programs start and end datestr
    */
    $('#id_reporting_period_modal').on('show.bs.modal', function (event) {
        var base_url = "{% url 'reportingperiod_update' 0 %}"
        base_url = base_url.slice(0,-1)
        $("input[name=program_id]").val($(event.relatedTarget).data('program'));
        $("#reportingperiod_update_form").attr("action", base_url + $(event.relatedTarget).data('program'));
        $("#id_gait_start_date").html($.datepicker.formatDate('M d, yy', new Date($(event.relatedTarget).data('progstart'))));
        $("#id_gait_end_date").html($.datepicker.formatDate('M d, yy', new Date($(event.relatedTarget).data('progend'))));
        $("#id_reporting_start_date").val($.datepicker.formatDate('M d, yy', new Date($(event.relatedTarget).data('rptstart'))));
        $("#id_reporting_end_date").val($.datepicker.formatDate('M d, yy', new Date($(event.relatedTarget).data('rptend'))));

        setupMonthPickers();
    });

    $('#id_reporting_period_modal').on('hide.bs.modal', function (event) {
        $("#ui-datepicker-div").removeClass("month-only");
    });

    $("#reportingperiod_update_form").on('submit', function(e) {
        e.preventDefault();

        $.post($(this).attr('action'), $(this).serialize(), function(data){
            var program_id = data.program_id;
            var modalLink = $(`a[data-program="${program_id}"]`);
            modalLink.data("rptstart", data.rptstart);
            modalLink.data("rptend", data.rptend);
            createAlert(
              "success",
              "{% trans 'Success. Reporting period changes were saved.' %}",
              true,
              "#div-id-reportingperiod-alert");

        }).fail(function(data) {
            createAlert(
              "danger",
              "{% trans 'There was a problem saving your changes.' %}",
              false,
              "#div-id-reportingperiod-alert")

        });
    });

</script>
