{% extends "base.html" %}
{% load i18n %}
{% block bodyclasses %}has-crispy-form{% endblock %}
{% block title %}{% trans "Add indicator" %} | {% endblock %}
{% block page_title %}{% trans "Add indicator" %}{% endblock %}
{% block bread_crumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/indicators/home/0/0/0/">{% trans "Indicators" %}</a></li>
      <li class="active breadcrumb-item">{% trans "Add indicator" %}</li>
    </ol>
</nav>
{% endblock %}


{% block extra_js_in_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />

    <script type="text/javascript">
        //Searchable select option for service indicator
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#service_indicator").select2();
        });
    </script>

{% endblock %}


{% block content %}

    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <fieldset class="clear-all">

        <h3>{% trans "Create an Indicator from an External Template." %}</h3>
        <p>{% trans "External template indicators include agency standard indicator feeds or donor required indicators from a web service.  Skip The service section if creating a 'custom' indicator." %}</p>
        <form class="" method="post" enctype="multipart/form-data" name="most" action="/indicators/indicator_create/{{ program_id }}/" role="form">
          {% csrf_token %}

          <div class="form-group">
              <label for="name">{% trans "Indicator Name" %}</label>
              <input type="text" class="form-control" name="name" id="name" required >
          </div>

          <div class="form-group">
              <label for="services">{% trans "Indicator Service Templates (leave blank for custom indicators)" %}</label>
              <select name="services" id="services" class="form-control">
                  <option value="0"> {% trans "-- select --" %} </option>
                  {% for item in getServices %}
                  <option value="{{ item.id }}"> {{ item.name }}</option>
                  {% endfor %}
              </select>
              <span id="helpBlock" class="help-block">{% trans "Select an indicator service to select a pre-defined indicator from." %}</span>
          </div>

          <div class="form-group">
              <label for="service_indicator">{% trans "Service Indicator (leave blank for custom indicators)" %}</label>
              <select name="service_indicator" id="service_indicator" class="form-control">
                  <option value="0"> {% trans "-- select --" %} </option>
              </select>
              <span id="helpBlock" class="help-block">{% trans "Type the name of the Indicator in the box above to search, starting with type then level then title." %}</span>
          </div>
          <div class="form-group">
              <label for="country">{% trans "Country" %}</label>
              <select name="country" id="country" class="form-control">
                  <option value="0"> {% trans "-- select --" %} </option>
                  {% for item in getCountries %}
                  <option value="{{ item.id }}" {% if country_id == item.id %} selected="selected"{%endif%}>{{ item.country }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
          <label for="program">{% trans "Program" %}</label>
          <select name="program" id="program" class="form-control">
              <option value="0"> {% trans "-- select --" %} </option>
              {% for item in getPrograms %}
              <option value="{{ item.id }}" {% if program_id == item.id %} selected="selected"{% endif %}> {{ item.name }}</option>
              {% endfor %}
          </select>
          </div>
            <div class="form-actions d-flex bg-gray-lighter p-4 justify-content-between">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                </div>
                <div class="">
                    <a
                        onclick="newPopup(
                                'https://learn.mercycorps.org/index.php/TOLA:Section_05/en#b._TolaActivity_Indicator_Planning_Form_Guides',
                                '{% trans "Form Help/Guidance"|escapejs %}'); return false;"
                        href="#"
                        class="btn btn-link help-link px-1">
                        {% trans "Help" %}
                    </a>
                </div>
            </div>
        </form>
    </fieldset>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->


    <!--- my end form --->
{% endblock content %}
