{% load i18n %}

<div id="id_reporting_period_modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="reporting_period_content">
          <form
              action=""
              id="reportingperiod_update_form"
              method="post"
              novalidate>
                {% csrf_token %}
                <div class="modal-body" id="reporting_period_body" style="padding-top:10px">
                    <input hidden=true name="program_id">
                    <div class="mb-4">
                        <div class="pt-3" style="display:inline-block; width: 90%">
                            <div id="id-reportingperiod-title" class="mb-4"><h2>{% trans 'Program period' %}</h2></div>
                                <div id="div-id-reportingperiod-alert">
                                </div>
                            {% if close_only %} {# display only when the modal is required in order to show the program page #}
                                <div>{% trans "Program reporting dates are required in order to view program metrics" %}</div>
                            {% endif %}
                            <div>{% trans "The program period is used in the setup of periodic targets and in Indicator Performance Tracking Tables (IPTT). TolaActivity initially sets the program period to include the program’s official start and end dates, as recorded in the Grant and Award Information Tracker (GAIT) system. The program period may be adjusted to align with the program’s indicator plan." %}</div>
                        </div>
                        <button
                            id="reporting_modal_close_btn"
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            style="display:inline-block;"
                            aria-label="Close">
                            <span class="x-modal">&times;</span>
                        </button>
                    </div>
                    <div id="div-gait-dates" class="mb-3">
                        <div id="div_gait_dates_title">
                            <h3>{% trans 'GAIT program dates' %}</h3>
                        </div>
                        <div id="div_gait_dates">
                            <div id="div_id_gait_start_date" class="mr-4" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'Start date' %}</div>
                                    <div id="id_gait_start_date"></div>
                                </h4>
                            </div>

                            <div id="div_id_gait_start_date" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'End date' %}</div>
                                    <div id="id_gait_end_date"></div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card inputs-in-a-box" id="div-card-user-dates" style="width: 90%">
                        <div class="card-body px-4 py-3">
                            <div id="div_reporting_dates_title" class="mb-3">
                                <h3>{% trans 'Program start and end dates' %}</h3>
                            </div>
                            <div id="div_reporting_dates" class="d-flex mb-3">
                                <div id="div_id_reporting_start_date" class="mr-3 div-rpt-date-input">
                                    <div class="text-uppercase"><h4 class="mb-1">{% trans 'Start date' %}</h4></div>
                                    <div class="input-group">
                                        <h4>
                                            <input type="text"
                                                   name="reporting_period_start"
                                                   class="form-control rptMonthPicker"
                                                   autocomplete="off"
                                                   id="id_reporting_start_date">
                                        </h4>
                                    </div>
                                </div>
                                <div id="div_reporting_end_date" class="div-rpt-date-input">
                                    <div class="text-uppercase"><h4 class="mb-1">{% trans 'End date' %}</h4></div>
                                    <div class="input-group">
                                        <h4>
                                            <input type="text"
                                                name="reporting_period_end"
                                                class="form-control rptMonthPicker"
                                                autocomplete="off"
                                                id="id_reporting_end_date">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div id="div_reporting_dates_description_unlocked">
                                {% blocktrans %}
                                While a program may begin and end any day of the month, program periods must begin on the first day of the month and end on the last day of the month. Please note that the program start date can only be adjusted <span class="color-red">before periodic targets are set up and a program begins submitting performance results.</span> The program end date can be moved later at any time, but can't be moved earlier once periodic targets are set up.
                                {% endblocktrans %}
                            </div>
                            <div id="div_reporting_dates_description_locked">
                                {% blocktrans %}
                                While a program may begin and end any day of the month, program periods must begin on the first day of the month and end on the last day of the month. Please note that the program start date can only be adjusted <span class="color-red">before targets are set up and a program begins submitting performance results.</span> Because this program already has periodic targets set up, only the program end date can be moved later.
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div id="div_form_actions_container">
                            <input type="submit" name="submit" value="{% trans 'Save changes' %}" class="btn btn-primary" id="submit-id-submit">
                            {% if close_only %}
                                {# when the modal is required in order to view the program page #}
                                <input type="exit" id="reportingperiod_update_form_exit_btn" class="btn btn-reset" value="{% trans 'Back to Homepage' %}">
                            {% else %}
                                <input type="reset" class="btn btn-reset" value="{% trans 'Reset' %}">
                            {% endif %}
                        </div>
                        <div class="text-muted">{% include "form_guidance.html" %}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var origRptStart = "";
    var origRptEnd = "";
    var max_target_start = 0;

    {% get_current_language as LANGUAGE_CODE %}
    function processDateString(datestr) {
        // take a date string, return a Date, for datepickers, handles iso dates and human input dates
        //check for an iso date, and if so parse it with regex (to avoid 0 padding glitches on chrome)
        var isodate = /(\d{4})\-(\d{1,2})\-(\d{1,2})/.exec(datestr);
        var defaultDate;
        if (isodate !== null) {
            //regex found an iso date, instance a date from the regex parsing:
            //note: month is 0-index in JS because reasons, so -1 to parse human iso date:
            defaultDate = new Date(isodate[1], isodate[2]-1, isodate[3]);
        } else {
            defaultDate = new Date(
                datestr.substring(datestr.length - 4, datestr.length),
                jQuery.inArray(datestr.substring(0, 3), $(this).datepicker('option', 'monthNamesShort')) + 1,
                0
            );
        }
        return defaultDate;
    }
    function setupMonthPickers() {
        const start_date_id = "id_reporting_start_date";
        const end_date_id = "id_reporting_end_date";
        const commonOpts = {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd', // ISO, TODO: this needs to be displayed in localized format
            onClose: function (dateText, inst) {
                // Without blurring, when the Done button is pressed, the cursor stays in the date input field
                // and the user can put whatever they want, without the controls implemented by the datepicker.
                $(this).blur();
            },
        };

        $(`#${start_date_id}`).datepicker(
            $.extend(true, commonOpts, {
                beforeShow: function (input, inst) {
                    $("#ui-datepicker-div").addClass("month-only");
                    // The datepicker will preserve the maxDate and defaultDate options from its last use,
                    // so we need to reset them before we set the input field value.
                    $(this).datepicker('option', 'maxDate', "+10y");
                    if ((datestr = $(this).val()).length > 0) {
                        var defaultDate = processDateString(datestr);
                        $(this).datepicker('option', 'defaultDate', defaultDate);
                        $(this).datepicker('setDate', defaultDate);
                    }
                    else {
                        $(this).datepicker('option', 'defaultDate', new Date());
                    }

                    // Don't need to set a maxDate if the field is disabled (i.e. there are dated periodic targets)
                    if ((selectedDate = $(`#${end_date_id}`).val()).length > 0  && !max_target_start) {
                        year = selectedDate.substring(selectedDate.length - 4, selectedDate.length);
                        month = jQuery.inArray(selectedDate.substring(0, 3), $(this).datepicker('option', 'monthNamesShort'));
                        $(this).datepicker("option", "maxDate", new Date(year, month, 1));

                    }
                },
            })
        ).focus(function(){
            const field = $(this);
            // hide the days part of the calendar
            $(".ui-datepicker-calendar").hide();
            // hide the "Today" button
            $("#ui-datepicker-div button.ui-datepicker-current").hide();
            $("#ui-datepicker-div").position({
                my: "left top",
                at: "left bottom",
                of: $(this)
            });
            // detach it from the field so that onclose the field is not populated automatically
            $('.ui-datepicker-calendar').detach();
            $('.ui-datepicker-close').click(function() {
                // this is only called when the done button is clicked.
                const month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                const year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                field.datepicker('setDate', new Date(year, month, 1));
                field.trigger('change');
            });
        });

        $(`#${end_date_id}`).datepicker(
            $.extend(true, commonOpts, {
                beforeShow: function (input, inst) {
                    $("#ui-datepicker-div").addClass("month-only");
                    // The datepicker will preserve the minDate option from its last use, so we need to reset it
                    // before we set the input field value.
                    $(this).datepicker('option', 'minDate', "-10y");
                    if ((datestr = $(this).val()).length > 0) {
                        var defaultDate = processDateString(datestr);
                        $(this).datepicker('option', 'defaultDate', defaultDate);
                        $(this).datepicker('setDate', defaultDate);
                    }
                    else {
                        $(this).datepicker('option', 'defaultDate', new Date());
                    }

                    // If there are dated periodic targets associated with the program, set the minDate to the maximum
                    // start value of all periodic target periods.  Otherwise, if the start date field has a value,
                    // set the minDate to that value.
                    if (max_target_start) {
                        dateParts = max_target_start.split('-')
                        year = parseInt(dateParts[0])
                        month = parseInt(dateParts[1])
                        $(this).datepicker('option', 'minDate', new Date(year, month, 0));
                    }
                    else if ((selectedDate = $(`#${start_date_id}`).val()).length > 0) {
                        let selectedStartDate = processDateString(selectedDate);
                        $(this).datepicker("option", "minDate", new Date(selectedStartDate.getFullYear(), selectedStartDate.getMonth()+1, 0));
                    }
                },
            })
        ).focus(function(){
            const field = $(this);
            // hide the days part of the calendar
            $(".ui-datepicker-calendar").hide();
            // hide the "Today" button
            $("#ui-datepicker-div button.ui-datepicker-current").hide();
            $("#ui-datepicker-div").position({
                my: "left top",
                at: "left bottom",
                of: $(this)
            });
            // detach it from the field so that onclose the field is not populated automatically
            $('.ui-datepicker-calendar').detach();
            $('.ui-datepicker-close').click(function() {
                // this is only called when the done button is clicked.
                const month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                const year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                field.datepicker('setDate', new Date(year, parseInt(month)+1, 0));
                field.trigger('change');
            });
        });
    };

    /*
    *  Populate the programs start and end datestr
    */
    $('#id_reporting_period_modal').on('show.bs.modal', function (event) {
        // All of the setup work for the modal is put into this AJAX request to avoid a race condition between
        // the API call and the rest of the code that precedes the datepicker setup.  The datepicker has the potential
        // to depend on the results of all of the intervening code.
        var api_url = "{% url 'datedtargetinfo' 0 %}";
        var source_data = $(event.relatedTarget).data();
        if (typeof source_data == 'undefined') {
            source_data = $(this).data();
        }
        api_url = api_url.replace(/0\//, source_data['program']) + '/?format=json';

        $.get(api_url, function(data){
            max_target_start = data['max_start_date'];
            modalSetup(data, source_data);
        }).fail(function(data){
          createAlert(
            "danger",
            "{% trans 'Error. Could not retrieve data from server. Please report this to the Tola team.'|escapejs %}",
            false,
            "#div-id-reportingperiod-alert");
        });

        function modalSetup(data, source_data){
            if (source_data.readOnly) {
                $("#id_reporting_start_date, #id_reporting_end_date").attr("disabled", true);
                $('#div_form_actions_container').hide();
            } else {
                $("#id_reporting_start_date, #id_reporting_end_date").attr("disabled", false);
                $('#div_form_actions_container').show();
            }

            if (data['max_start_date']) {
                $("#id_reporting_start_date").attr("disabled", true);
                $("#div_reporting_dates_description_locked").show();
                $("#div_reporting_dates_description_unlocked").hide();
            }
            else {
                $("#div_reporting_dates_description_unlocked").show();
                $("#div_reporting_dates_description_locked").hide();
            }
            var base_url = "{% url 'reportingperiod_update' 0 %}";
            base_url = base_url.slice(0,-1);
            $("input[name=program_id]").val(source_data['program']);
            $("#reportingperiod_update_form").attr("action", base_url + source_data['program']);
            var testDate = "";
            if ((testDate = new Date(source_data['progstart'])) == "Invalid Date"){
                // # Translators: Data is currently unavailable to display (i.e. system error)
                $("#id_gait_start_date").html("{% trans 'Unavailable' %}");
                $("#id_gait_start_date").addClass("color-red");
            }
            else {
                $("#id_gait_start_date").html(formatDate(testDate)); // TODO: shouldn't use formatDate
            }
            if ((testDate = new Date(source_data['progend'])) == "Invalid Date"){
                // # Translators: Data is currently unavailable to display (i.e. system error)
                $("#id_gait_end_date").html("{% trans 'Unavailable' %}");
                $("#id_gait_end_date").addClass("color-red");
            }
            else {
                $("#id_gait_end_date").html(formatDate(testDate)); // TODO: shouldn't use formatDate
            }
            if ((testDate = new Date(source_data['rptstart'])) == "Invalid Date"){
                $("#id_reporting_start_date").val("");
                origRptStart = "";
            }
            else {
                $("#id_reporting_start_date").val(formatDate(testDate)); // TODO: shouldn't use formatDate
                origRptStart = source_data['rptstart'];
            }
            if ((testDate = new Date(source_data['rptend'])) == "Invalid Date"){
                $("#id_reporting_end_date").val("");
                origRptEnd = "";
            }
            else {
                $("#id_reporting_end_date").val(formatDate(testDate)); // TODO: shouldn't use formatDate
                origRptEnd = source_data['rptend'];
            }

            setupMonthPickers();
        }

    });

    $('#id_reporting_period_modal').on('hide.bs.modal', function (event) {
        // Need to remove the month-only class from the date-picker so it doesn't interfere with other datepickers
        // on the page.  Can't do it in the picker because it results in a calendar flash before picker is closed.
        $("#ui-datepicker-div").removeClass("month-only");

        // Remove the classes on close because they will still be there if a different link is clicked
        $("#id_gait_start_date, #id_gait_end_date, #id_reporting_start_date, #id_reporting_end_date")
            .removeClass("color-red");
        $("#id_reporting_start_date, #id_reporting_end_date, #submit-id-submit").attr("disabled", false);

        // Reload the page if either of the dates has changed from what they were when the modal was opened.
        // Using try/catch blocks to ensure errors can't prevent modal from closing.
        // TODO: Find ways to avoid reloading the whole page when one of these dates is changed.
        var finalStartStr;
        var finalEndStr;
        var origStart;
        var origEnd;
        try{
            const d = $("#id_reporting_start_date").datepicker("getDate")
            finalStartStr = d.getFullYear() + "-" + d.getMonth() + "-" + d.getDate()
        }
        catch(e){
            finalStartStr = "";
        }
        try{
            const d = $("#id_reporting_end_date").datepicker("getDate")
            finalEndStr = d.getFullYear() + "-" + d.getMonth() + "-" + d.getDate()
        }
        catch(e){
            finalEndStr = "";
        }
        if (origRptStart != ""){
            d = origRptStart.split("-")
            origStart = parseInt(d[0]) + "-" + (parseInt(d[1])-1) + "-" + parseInt(d[2])
        }
        else{
            origStart = "";
        }
        if(origRptEnd != ""){
            d = origRptEnd.split("-")
            origEnd = parseInt(d[0]) + "-" + (parseInt(d[1])-1) + "-" + parseInt(d[2])
        }
        else{
            origEnd = "";
        }
        if (origStart != finalStartStr || origEnd != finalEndStr) {
            window.location.reload(true);
        }

    });

    const REPORTING_PERIOD_CHANGE_TEXT = "{% trans 'This action may result in changes to your periodic targets. If you have already set up periodic targets for your indicators, you may need to enter additional target values to cover the entire reporting period. For future reference, please provide a reason for modifying the reporting period.' %}"

    $("#reportingperiod_update_form").on('submit', function (e) {
        e.preventDefault();

        let startDateStr = $("#id_reporting_start_date").val();
        let endDateStr = $("#id_reporting_end_date").val();

        let program_id = $("input[name=program_id]").val();

        if (startDateStr === "" || endDateStr === "") {
            createAlert(
                "danger",
                "{% trans 'You must enter values for the reporting start and end dates before saving.'|escapejs %}",
                false,
                "#div-id-reportingperiod-alert");

            return;
        }
        else{
            if (processDateString(startDateStr) > processDateString(endDateStr)) {
            createAlert(
                "danger",
                "{% trans 'The end date must come after the start date.'|escapejs %}",
                false,
                "#div-id-reportingperiod-alert");

            return;
            }

            var save = (rationale) => {
                reporting_period_submitting = true;
                var data = $(this).serialize()
                data += '&rationale='+rationale
                $.post({
                    url: $(this).attr('action'),
                    data: data,
                    success: function(data){
                        $('#id_reporting_period_modal').modal("hide")
                        },
                    suppressErrors: true
                }).done(() => {
                    {# Translators: This is the text of an alert that is triggered upon a successful change to the the start and end dates of the reporting period #}
                    PNotify.success("{% trans 'Reporting period updated' %}")
                }).fail(function(data) {
                    let msg = "{% trans 'There was a problem saving your changes.'|escapejs %}";
                    if (data.responseJSON) {
                        if (typeof(data.responseJSON.failmsg) !== 'undefined') {
                            msg = data.responseJSON.failmsg;
                        }
                        if (typeof(data.responseJSON.failfields) !== 'undefined' && data.responseJSON.failfields.length > 0) {
                            for (let i = 0; i<data.responseJSON.failfields.length; i++) {
                                $('[name="' + data.responseJSON.failfields[i] + '"]').addClass('is-invalid');
                            }
                        }
                    }
                    createAlert(
                    "danger",
                    msg,
                    false,
                    "#div-id-reportingperiod-alert");
                });
            }

            let program_data = $('#id_link_reporting_period_'+program_id).data()

            if(program_data['rptstart'] && program_data["rptstart"] != "None") {
                window.create_nondestructive_changeset_notice({
                    message_text: REPORTING_PERIOD_CHANGE_TEXT,
                    context: document.getElementById('reportingperiod_update_form'),
                    on_submit: (rationale) => save(rationale)
                })
            } else {
                save('')
            }
        }
    });

    $("#reportingperiod_update_form").on('reset', function(e) {
        e.preventDefault();
        if (origRptStart == "") {
            $("#id_reporting_start_date").val("");
        }
        else {
            $("#id_reporting_start_date").val(formatDate(origRptStart));
            try{
                // Need to do this so datepicker doesn't use an old value that it has stored from a prior interaction
                let resetStartDate = processDateString(origRptStart);
                $("#id_reporting_start_date").datepicker("setDate", resetStartDate);
            }
            catch(error){}
        }
        if (origRptEnd == "") {
            $("#id_reporting_end_date").val("");
        }
        else{
            $("#id_reporting_end_date").val(formatDate(origRptEnd));
            try {
                // Need to do this so datepicker doesn't use an old value that it has stored from a prior interaction
                let resetEndDate = processDateString(origRptEnd);
                $("#id_reporting_end_date").datepicker("setDate", resetEndDate);
            }
            catch(error){}
        }
    });

    $("#reportingperiod_update_form_exit_btn").on('click', function(e) {
        e.preventDefault();
        $('#id_reporting_period_modal').modal('hide');
    });


</script>
