{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Program indicators" %} | {% endblock %}
{% block page_title %}{% trans "Program indicators" %}{% endblock %}

{% block content %}

{% include "indicators/filter.html" %}
<div id="div-id-indicator-list" class="indicators-list--by-program">
    {% for program in programs %}
        <div class='card border-0 program indicators-list__program'>
            <div class='card-header'>
                {% if not program.indicator_set.all %}
                    <a href="{% url 'indicator_create' program.id %}" role="button" class="btn-link btn-add float-right"><i class="fas fa-plus-circle"></i> {% trans "Add indicator" %}</a>
                {% endif %}
                <h4><a href="{% url "program_page" program.id 0 0 %}" class="text-dark">{{ program.name }} <i class="fas fa-arrow-right text-action"></i></a></h4>
                {% if not program.reporting_period_start or not program.reporting_period_end %}
                    <div class="text-muted">
                        {% trans "Before adding indicators and performance results, we need to know your program's" %}
                        <a
                            class="pl-1"
                            href="#"
                            data-toggle="modal"
                            data-program="{{ program.id }}"
                            data-progstart="{{ program.start_date }}"
                            data-progend="{{ program.end_date }}"
                            data-rptstart="{{ program.reporting_period_start }}"
                            data-rptend="{{ program.reporting_period_end }}"
                            data-target="#id_reporting_period_modal">
                            {% trans "reporting start and end dates." %}
                        </a>
                    </div>
                {% elif not program.indicator_set.all %}
                    <div class="text-muted">
                        {% trans "No Indicators have been entered for this program." %}
                        <a href="{% url 'indicator_create' program.id %}" role="" class="">{% trans "Add an indicator." %}</a>
                    </div>
                {% else %}
                    <a
                        id="id_btnOpenindicatorsForProgramId_{{ program.id }}"
                        href="#"
                        onclick="loadIndicators({{ program.id }}, {{ indicator_id }}, {{ type_id }})"
                        class=""
                        data-toggle="collapse"
                        data-target="#hidden-{{ program.id }}">
                        <!-- Need the div to make ensure rotating symbol doesn't push text to the right -->
                        <div class="div-expand-symbol"><i class="fas fa-caret-right"></i></div>
                        {% blocktrans count indicator_count=program.indicator_count %}
                            {{ indicator_count }} program indicator
                            {% plural %}
                            {{ indicator_count }} program indicators
                        {% endblocktrans %}
                    </a>
                {% endif %}
            </div>
            <div id="hidden-{{ program.id }}" class="card-body collapse">
                {% if program.reporting_period_start and program.reporting_period_end %}
                    <ul class="nav indicators-list__indicator-actions nav--text-list">
                        <li class="nav-item">
                            <small><a class="" href="{% url "program_page" program.id 0 0 %}">{% trans "Program page" %}</a></small>
                        </li>
                        <li class="nav-item">
                            <small><a class="" href="{% url 'programIndicatorReport' program.id %}">{% trans 'Indicator plan' %}</a></small>
                        </li>
                        <li class="nav-item">
                            <small><a
                                id="id_link_reporting_period_{{program.id}}"
                                class=""
                                href="#"
                                data-toggle="modal"
                                data-program="{{ program.id }}"
                                data-progstart="{{ program.start_date }}"
                                data-progend="{{ program.end_date }}"
                                data-rptstart="{{ program.reporting_period_start }}"
                                data-rptend="{{ program.reporting_period_end }}"
                                data-target="#id_reporting_period_modal">
                                    {% trans 'Reporting period' %}
                            </a></small>
                        </li>
                        {% if program.reporting_period_start and program.reporting_period_end %}
                            <li class="nav-item">
                                <small><a href="{% url 'indicator_create' program.id %}" role="button" class="btn-link btn-add "><i class="fas fa-plus-circle"></i> {% trans "Add indicator" %}</a></small>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if program.indicator_set.all %}
                    <div class="indicators-list__table-container">
                        {% include "indicators/program_indicators_table.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>{% trans "No Programs" %}</p>
    {% endfor %}
</div>

{% include "indicators/indicator_list_modals.html" %}


{% include 'indicators/indicator_form_common_js.html' %}
{% include 'indicators/collecteddata_form_common_js.html' %}
{% endblock content %}
