{% load i18n %}
{% load widget_tweaks %}
{% load mytags %}

{% if periodic_targets and indicator.target_frequency != 1%}
    <div class="periodic-targets">

        <h3 class="no-bold">
            {% blocktrans with indicator.get_target_frequency_label as get_target_frequency_label %}
            {{ get_target_frequency_label }} targets
            {% endblocktrans %}
        </h3>
        <div class="" id="periodic-targets-tablediv">
            <table class="table table-sm periodic-targets__table" id="periodic_targets_table">
                <tbody>
                    {% for pt in periodic_targets %}
                    <tr id="{{pt.id}}" data-collected-count="{{pt.num_data}}" class="periodic-target">
                        <td class="pt-delete-row">
                            <a href=
                            "{% if pt.id %} {% url 'pt_delete' pt.id %} {% else %} # {% endif %}"
                                id="deleteLastPT"
                                class="deletebtn"
                                {# TODO: this style attr #}
                                style="color: red; display:{% if indicator.target_frequency == 8 %} block {% else %}none{% endif %}">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>

                        <td class="text-left">
                            {# 8 is a stand alone EVENT #}
                            {% if indicator.target_frequency == 8 %}
                            <input type="text" name="{{ pt.period }}" value="{{ pt.period }}" class="form-control input-text">
                            <span style="margin:0px;" class="help-block"> </span>
                            {% else %}
                            <strong>{{ pt.period_name }}</strong>
                            <div>{{ pt.start_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:'' }} {% if pt.start_date %} - {% endif %} {{ pt.end_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:'' }}</div>
                            {% endif %}
                        </td>

                        <td class="text-right">
                            <span id="id_span_{{ pt.id }}" class="{% if indicator.unit_of_measure_type == 2 %}input-symbol-percent{% endif %}">
                                <input
                                    type="number"
                                    id="pt-{{ pt.id }}"
                                    name="{{ pt.period }}"
                                    value="{{ pt.target|floatformat:"-2"}}"
                                    data-periodictarget="pt"
                                    data-start-date="{{pt.start_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:''}}"
                                    data-end-date="{{pt.end_date|convert2dateobject|date:"MEDIUM_DATE_FORMAT"|default:''}}"
                                    placeholder="{% trans 'Enter target' %}"
                                    class="form-control input-value">
                            </span>
                            <span id="hint_id_pt_{{pt.id}}" style="margin:0px;" class="help-block"> </span>{# TODO: this style attr #}
                        </td>
                    </tr>

                    {% if forloop.last %}
                    <tr class="periodic-target" id="pt_sum_targets" {# TODO: this class? #}
                        {% if indicator.unit_of_measure_type == 1 %} {# TODO: this style loop #}
                            {% if indicator.is_cumulative is True %}
                                style="display:table-row;"
                            {% endif %}
                        {% else %}
                            {% if indicator.is_cumulative is True or indicator.is_cumulative is None %}
                                style="display: none";
                            {% endif %}
                        {% endif %}>
                        <td class="pt-delete-row"></td>
                        <td class="periodic-targets__sum text-left">
                            <strong><span id="id_span_label_targets_sum">{% trans "Sum of targets" %}</span></strong>
                        </td>
                        <td class="periodic-targets__sum text-right">
                            <strong>
                                <span id="id_span_targets_sum">
                                    {% if indicator.unit_of_measure_type == 1%}
                                        {{ targets_sum|floatformat:"-2" }}
                                    {% else %}
                                        {{ targets_avg|floatformat:"-2" }}
                                    {% endif %}
                                </span>
                                <span id="id_span_targtsaggregate_percent_sign">
                                    {% if indicator.unit_of_measure_type == 2 %}%{% endif %}
                                </span>
                            </strong>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr class="table-secondary">
                        <td class="pt-delete-row"> </td>
                        <td class="periodic-targets__sum text-left">
                            <strong>{% trans "Life of Program (LoP) target" %}</strong>
                        </td>
                        <td class="periodic-targets__sum text-right">
                            <strong>
                                <span id="id_span_loptarget">
                                    {{indicator.lop_target|floatformat:"-2" }}
                                    <span id="id_span_loptarget_percent_sign" style="margin-left: -.20rem">
                                        {% if indicator.unit_of_measure_type == 2 %}%{% endif %}
                                    </span>
                                </span>
                            </strong>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="background-color:#F5F5F5">
                        <td colspan="3" style="color:red; padding: 0px" id="id_pt_errors"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        {% if indicator.target_frequency == 8 %}
        <div class="text-right">
            <a href="#" id="addNewPeriodicTarget" class="btn btn-add btn-link"><i class="fas fa-plus-circle"></i> {% trans "Add a target" %}</a>
        </div>
        {% endif %}

        <div class="col-sm-11 mx-auto">
            <div class="card inputs-in-a-box" id="id_div_is_cumulative">
                <div class="card-body p-1">
                    <!-- UNIT_OF_MEASURE_TYPE = 1 IS NUMBER AND 2 IS PERCENTAGE -->
                    <!-- IS_CUMULATIVE = 2 and NON_CUMULATIVE = 3 -->
                    {% with unit_type=indicator.unit_of_measure_type %}
                        <div id="id_is_cumulative_section_header" class="d-flex flex-row px-2 pt-2 mb-1">
                            <strong>
                                <h4>
                                    <span id="id_span_is_cumulative_header">
                                        {% trans "OPTIONS FOR NUMBER (#) INDICATORS" %}
                                    </span>
                                </h4>
                            </strong>
                        </div>
                        <div id="id_div_is_cumulative_section1" class="flex-row px-2 pb-2">
                            <input
                                type="radio"
                                name="is_cumulative"
                                value="3"
                                required
                                {% if indicator.is_cumulative is None or indicator.is_cumulative is False %} checked {% endif %}
                                class="form-control mr-1 mt-1"
                                id="id_is_cumulative_1"
                                style="width: 1.78rem;">
                            <label
                                class="form-check-label"
                                for="id_is_cumulative_1">
                                {% trans "NON-CUMULATIVE (NC): Target period results are automatically calculated from data collected during the period. The Life of Program result is the sum of target period values." %}
                            </label>
                        </div>
                        <div id="id_div_is_cumulative_section2" class="flex-row px-2">
                            <input
                                type="radio"
                                name="is_cumulative"
                                value="2"
                                required
                                {% if indicator.is_cumulative is True %} checked {% endif %}
                                class="form-control mr-1 mt-1"
                                id="id_is_cumulative_2"
                                style="width: 1.5rem;">
                            <label
                                class="form-check-label"
                                for="id_is_cumulative_2">
                                {% trans "CUMULATIVE (C): Target period results automatically include data from previous periods. The Life of Program result mirrors the latest period value." %}
                            </label>
                        </div>
                        <div id="id_div_is_cumulative_section3" class="flex-row px-2">
                            <span class="form-check-label">
                                {% trans "CUMULATIVE (C): The Life of Program result mirrors the latest period result. No calculations are performed with collected data." %}
                            </span>
                        </div>
                    {% endwith %}

                </div>
            </div>
        </div>

    </div><!--/.periodic-targets-->
{% endif %}
