{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytags %}
{% block title %}Indicator Performance Tracking Table{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
<div class="row d-flex d-md-block flex-nowrap wrapper" style="margin-left: 0px">
  <div class="float-left collapse width show" id="sidebar">
    {% include 'indicators/iptt_filter_form.html' %}
  </div>
  <div class="row" style="margin-top:0px; margin-left:0px; background-color:#00A49F; padding-left: 3px;
     color: #fff;">
    <a href="#" data-target="#sidebar" data-toggle="collapse" style="color: white;">
      <i class="fa fa-cog"></i>
    </a>Options
  </div>
  <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
    <div id="id_div_top_iptt_report">
        <span id="id_span_iptt_date_range">
          <h2>Indicator Performance Tracking Table</h2>
          <strong>{{ start_date|date:"M d, Y" }} - {{ end_date|date:"M d, Y" }}</strong>
        </span>
        <table id="iptt_table" class="table table-sm table-bordered table-hover">
          <caption>Indicator Performance Tracking Table</caption>
          <colgroup scope="col" span="9"></colgroup>
          <colgroup scope="col" span="3" class="lopCols"></colgroup>
          <colgroup scope="col" span="{{ report_date_ranges|length }}"></colgroup>
          <thead class="thead-light">
          <tr>
            <td colspan="9" id="id_td_iptt_program_name">
              <h5 style="margin-left:-5px;">
                  {{ program.name|wordwrap:100|linebreaks }}
              </h5>
            </td>
            <td scope="colgroup" colspan="3" style="vertical-align: bottom;" class="text-center">
              {% trans "LIFE OF PROGRAM" %}
            </td>
              {% for k, v in report_date_ranges.items %}
                <td scope="col"
                    {% if reporttype == 'targetperiods' %} colspan="3" {% endif %}
                    class="text-center" style="min-width: 180px;">
                  {{ k|upper }}<br>
                  {% if v.0 is not None and v.1 is not None %}
                    <small>{{ v.0|date:"M d, Y" }} - {{ v.1|date:"M d, Y" }}</small>
                  {% endif %}
                </td>
              {% endfor %}
          </tr>
          <tr>
            <th scope="col" style="min-width:80px">{% trans "NO." %}</th>
            <th scope="col" class="td-no-side-borders" style="min-width:600px">{% trans "INDICATOR" %}</th>
            <th scope="col" class="td-no-side-borders"></th>
            <th scope="col" style="min-width:90px">{% trans "LEVEL" %}</th>
            <th scope="col" style="min-width:250px">{% trans "UNIT OF MEASURE" %}</th>
            <th scope="col">{% trans "CHANGE" %}</th>
            <th scope="col" style="min-width:130px">{% trans "C / NC" %}</th>
            <th scope="col" style="min-width:50px">{% trans "# / %" %}</th>
            <th scope="col">{% trans "BASELINE" %}</th>
            <th scope="col" class="text-right" style="min-width: 110px;">{% trans "TARGET" %}</th>
            <th scope="col" class="text-right" style="min-width: 110px;">{% trans "ACTUAL" %}</th>
            <th scope="col" class="text-right" style="min-width: 110px;">{% trans "% MET" %}</th>
            {% if reporttype == 'targetperiods' %}
              {% for pt in report_date_ranges %}
                <th scope="col" class="text-right" style="min-width: 110px;">{% trans "TARGET" %}</th>
                <th scope="col" class="text-right" style="min-width: 110px;">{% trans "ACTUAL" %}</th>
                <th scope="col" class="text-right" style="min-width: 110px;">{% trans "% MET" %}</th>
              {% endfor %}
            {% else %}
              {% for _ in report_date_ranges.items %}
                <th scope="col" class="text-right">{% trans "ACTUAL" %}</th>
              {% endfor %}
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for indicator in indicators %}
            <tr>
              <td>{{ indicator.number|default_if_none:'' }}</td>
              <td class="td-no-side-borders">{{ indicator.name }}</td>
              <td class="td-no-side-borders">
                <a href="{% url 'indicator_update' indicator.id %}"
                   data-programid="{{ program.id }}"
                   class="indicator-link float-right">
                  <i class="fas fa-cog"></i>
                </a>
              </td>
              <td>{{ indicator.lastlevel|default_if_none:'' }}</td>
              <td>{{ indicator.unit_of_measure|default_if_none:'' }}</td>
              <td align="right">{{ indicator.direction_of_change|symbolize_change }}</td>
              <td>{% if indicator.target_frequency == 1 %}
                    {% trans "N/A" %}
                  {% else %}
                    {{ indicator.is_cumulative|yesno:"Cumulative,Non-cumulative," }}
                  {% endif %}
                </td>
              <td>{{ indicator.unit_of_measure_type|symbolize_measuretype }}</td>
              <td align="right">{{ indicator.baseline|default_if_none:'' }}</td>
              <td align="right">
                {{ indicator.lop_target|default_if_none:'' }}{% if indicator.unit_of_measure_type == 2 %}%{% endif %}
              </td>
              <td align="right">
                {% if indicator.unit_of_measure_type == 1 %}
                  {{ indicator.actualsum|floatformat:"-2"|default_if_none:"" }}
                {% elif indicator.unit_of_measure_type == 2 %}
                  {% if indicator.is_cumulative == True %}
                    {% with indicator.lastdata|floatformat:"-2"|default_if_none:"" as lastdata %}
                      {{ lastdata }}{% if lastdata %}% {% endif %}
                    {% endwith %}
                  {% else %}
                    {% if indicator.actualavg is not None %}
                      <small><abbr title='{% trans "Average" %}'>{% trans "avg." %}</abbr></small>
                      {{ indicator.actualavg|floatformat:"-2"|default_if_none:"" }}%
                    {% endif %}
                  {% endif %}
                {% endif %}
              </td>
              <td align="right">
                {% if indicator.unit_of_measure_type == 1 %}
                  {% widthratio indicator.actualsum indicator.lop_target 100 as percent_met1 %}
                  {% if percent_met1 %} {{ percent_met1 }}% {% endif %}
                {% elif indicator.unit_of_measure_type == 2 %}
                  {% if indicator.is_cumulative == True %}
                    {% widthratio indicator.lastdata indicator.lop_target 100 as percent_met2 %}
                    {% if percent_met2 %} {{ percent_met2 }}% {% endif %}
                  {% else %}
                    {% if indicator.actualavg is not None %}
                      {% widthratio indicator.actualavg indicator.lop_target 100 as percent_met3 %}
                      {% if percent_met3 %} {{ percent_met3 }}% {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </td>
              {% if reporttype == 'targetperiods' %}
                {% for k,v in report_date_ranges.items %}
                  <td align="right" style="border-right: 0px;">
                    {% with k|concat_string:"_target" as target %}
                      {% with indicator|hash:target|floatformat:'-2'|default_if_none:'' as target %}
                        {{ target }}{% if indicator.unit_of_measure_type == 2 and target %}%{% endif %}
                      {% endwith %}
                    {% endwith %}
                  </td>
                  <td align="right" style="border-left: 0px; border-right: 0px;">
                    {% if indicator.unit_of_measure_type == 1 %} <!-- if it is a NUMBER indicator -->
                      {% if indicator.is_cumulative is True %}
                        {% with k|concat_string:"_rsum" as pt_rsum %}
                          {{ indicator|hash:pt_rsum|floatformat:"-2"|default_if_none:'' }}
                        {% endwith %}
                      {% else %}
                      {% with k|concat_string:"_sum" as ptsum %}
                        {{ indicator|hash:ptsum|floatformat:'-2'|default_if_none:'' }}
                      {% endwith %}
                      {% endif %}
                    {% else %} <!-- If it is a PERCENTAGE indicator -->
                      {% if indicator.is_cumulative is True %}
                        {% with k|concat_string:"_last" as ptlast %}
                          {% with indicator|hash:ptlast|floatformat:'-2'|default_if_none:'' as lastdata %}
                            {% if lastdata %}{{ lastdata }}% {% endif %}
                          {% endwith %}
                        {% endwith %}
                      {% else %} <!-- if it is PERCENTAGE AND NON_CUMULATIVE then show avg_midline -->
                        <small>
                          <abbr title='{% trans "Average" %}'>{% trans "avg." %}</abbr>
                        </small>
                        {% with k|concat_string:"_avg" as ptavg %}
                          {{ indicator|hash:ptavg|floatformat:'-2'|default_if_none:''}}%
                        {% endwith %}
                      {% endif %}
                    {% endif %}
                  </td>
                  <td align="right" style="border-left: 0px;">
                    {% with k|concat_string:"_percent_met" as percent_met %}
                      {{ indicator|hash:percent_met|floatformat:"-2"|default_if_none:'' }}{% if indicator|hash:percent_met %}% {% endif %}

                    {% endwith %}
                  </td>
                {% endfor %}
              {% else %}
                {% for k, v in report_date_ranges.items %}
                  <td align="right">
                    <!-- if it is a NUMBER indicator -->
                    {% if indicator.unit_of_measure_type == 1 %}
                      {% if indicator.is_cumulative is True %}
                        {% with k|concat_string:"_rsum" as sum %}
                          {{ indicator|hash:sum|floatformat:"-2"|default_if_none:'' }}
                        {% endwith %}
                      {% else %}
                        {% with k|concat_string:"_sum" as sum %}
                          {{ indicator|hash:sum|floatformat:"-2"|default_if_none:'' }}
                        {% endwith %}
                      {% endif %}
                      <!-- if indicator is a PERCENT idnicator -->
                    {% elif indicator.unit_of_measure_type == 2 %}
                      {% if indicator.is_cumulative == True %}
                        <!-- if it is PERCENT and CUMULATIVE indicator then show the last data record's value -->
                        {% with k|concat_string:"_last" as last %}
                          {% if indicator|hash:last is not None %}
                            {{ indicator|hash:last|floatformat:"-2"|default_if_none:'' }}%
                          {% endif %}
                        {% endwith %}
                      {% else %}
                        <!-- if it is a PERCENT and NON-CUMULATIVE indicator -->
                        {% with k|concat_string:"_avg" as avg %}
                          {% if indicator|hash:avg is not None %}
                            <small><abbr title='{% trans "Average" %}'>{% trans "avg." %}</abbr></small>
                            {{ indicator|hash:avg|floatformat:"-2"|default_if_none:'' }}%
                          {% endif %}
                        {% endwith %}
                      {% endif %}
                    {% endif %}
                  </td>
                {% endfor %}
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="indicator_modal_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" id="indicator_modal_content">

          </div> <!-- modal content -->
        </div>
    </div>

    <script>
        // Open the IndicatorUpdate Form in a modal
        $("#id_div_top_iptt_report").on("click", ".indicator-link", function (e) {
          e.preventDefault();
          let url = $(this).attr("href");
          url += "?modal=1";
          const programId = $(this).data("programid");

          $("#indicator_modal_content").empty();
          $("#modalmessages").empty();

          $("#indicator_modal_content").load(url);
          $("#indicator_modal_div").modal('show');

        });
      </script>

    {% include 'indicators/indicator_form_common_js.html' %}
  </main>
</div>
{% endblock content %}
