{% load widget_tweaks %}
{% load i18n %}
<style type="text/css">
  .ui-datepicker-calendar {
    display: none;
  }
</style>
<nav id="id_iptt_report_filter">
  <form id="id_form_indicator_filter" method="POST" novalidate>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    <div id="filter-top" class="filter-form-padding-10 pb-1">
      <h3 class="filter-title">{% trans "Report Options" %}</h3>
      <div class="form-row mb-3" id="id_div_program">
        <label for="id_program" class="col-form-label">
          {{ form.program.label }}
        </label>
        {% render_field form.program class+="form-control" %}
      </div>

      <div class="form-row mb-3" id="id_div_{{ reporttype }}">
        <label for="id_{{ reporttype }}" class="col-form-label">
          {% if reporttype == 'timeperiods' %}
            {{ form.timeperiods.label }}
            </label>
            {% render_field form.timeperiods class+="form-control" %}
          {% else %}
            {{ form.targetperiods.label }}
            </label>
            {% render_field form.targetperiods class+="form-control" %}
          {% endif %}
      </div>

      <div class="form-row mb-3">
        {% for item in form.timeframe %}
          {% with id=form.timeframe.auto_id %}
            <div class="{% if forloop.counter0 == 0 %}col-sm-4 {% else %} col-sm-4 p-0 {% endif %}">
              <div class="form-check form-check-inline pt-1" id="div_{{ id }}_{{ forloop.counter0 }}">
                <span class="form-check-input ">
                    {{ item.tag }}
                </span>
                <label class="form-check-label" for="{{ item.id_for_label }}">
                  {{ item.choice_label }}
                </label>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
        <div class="col-sm-4">
          {% render_field form.numrecentperiods placeholder="" disabled="true" class+="form-control" %}
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col">
          <label for="{{ form.start_date.auto_id }}" class="col-form-label">
            {{ form.start_date.label }}
          </label>
          <div class="input-group input-group-sm">
            <input type="text"
                   name="{{ form.start_date.name }}"
                   class="form-control"
                   value="{{ form.start_date.value }}"
                   id="{{ form.start_date.auto_id }}">
            <div class="input-group-append">
              <span class="input-group-text" id="id_span_start_date_calendar">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col">
          <label for="{{ form.end_date.auto_id }}" class="col-form-label">
            {{ form.end_date.label }}
          </label>
          <div class="input-group input-group-sm">
            <input type="text"
                 name="{{ form.end_date.name }}"
                 class="form-control"
                 value="{{ form.end_date.value }}"
                 id="{{ form.end_date.auto_id }}">
            <div class="input-group-append">
              <span class="input-group-text" id="id_span_end_date_calendar">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="filter-middle" class="filter-form-padding-10">
      <div class="form-group mb-2" id="id_div_level">
        <label for="id_level" class="col-form-label">
          {{ form.level.label }}
        </label>
        <div class="form-group-row">
          {% render_field form.level class+="form-control" %}
        </div>
      </div>

      <div class="form-group mb-2" id="id_div_type">
        <label for="id_type" class="col-form-label">
          {{ form.ind_type.label }}
        </label>
        <div class="form-group-row">
          {% render_field form.ind_type class+="form-control" %}
        </div>
      </div>

      <div class="form-group mb-2" id="id_div_sector">
        <label for="id_sector" class="col-form-label">
          {{ form.sector.label }}
        </label>
        <div class="form-group-row">
          {% render_field form.sector class+="form-control" %}
        </div>
      </div>

      <div class="form-group mb-2" id="id_div_site">
        <label for="id_site" class="col-form-label">
          {{ form.site.label }}
        </label>
        <div class="form-group-row">
          {% render_field form.site class+="form-control" %}
        </div>
      </div>

      <div class="form-group mb-2" id="id_div_indicators">
        <label for="id_indicators" class="col-form-label" align="right">
          {{ form.indicators.label }}
        </label>
        <div class="form-group-row">
          {% render_field form.indicators class+="form-control" %}
        </div>
      </div>

    </div>

    <div id="filter-bottom" class="filter-form-padding-10">
      <button type="submit" id="id_submit_form_filter" class="btn btn-primary">
        {% trans "APPLY" %}
      </button>
      <button type="reset" class="btn btn-secondary">
        {% trans "RESET" %}
      </button>
    </div>
  </form>
</nav>

<script>
  $(document).ready(function () {
    // console.log(`{{ report_start_date }}`, `{{ report_end_date }}`);
    const site_profile = $("#id_site");
    const indicators_select = $("#id_indicators");
    const numRecentPeriods = $("#id_numrecentperiods");
    const sector_select = $("#id_sector");
    const indicatortype_select = $("#id_ind_type");
    const level_select = $("#id_level");

    const start_date_id = `{{ form.start_date.auto_id }}`;
    const end_date_id = `{{ form.end_date.auto_id }}`;
    $(`#${start_date_id}`).val(formatDate($(`#${start_date_id}`).val()));
    $(`#${end_date_id}`).val(formatDate($(`#${end_date_id}`).val()));

    $(`#${start_date_id}, #${end_date_id}`).datepicker({
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: 'M d, yy',
      onClose: function (dateText, inst) {
        const month = inst.selectedMonth;
        const year = inst.selectedYear;
        const existingDate = $(this).val();
        let newDate;
        if (this.id == start_date_id) {
          newDate = formatDate(new Date(year, month, 1));
        } else {
          newDate = formatDate(new Date(year, month + 1, 0));
        }
        if (existingDate != newDate) {
          $(this).change();
        }
        $(this).datepicker('setDate', newDate);

      },
      beforeShow: function (input, inst) {
        if ((datestr = $(this).val()).length > 0) {
          year = datestr.substring(datestr.length - 4, datestr.length);
          month = jQuery.inArray(datestr.substring(0, 3), $(this).datepicker('option', 'monthNamesShort'));
          let newDate;
          if (this.id == start_date_id) {
            newDate = new Date(year, month, 1);
          } else {
            newDate = new Date(year, month + 1, 0);
          }
          $(this).datepicker('option', 'defaultDate', newDate);
          $(this).datepicker('setDate', newDate);
        }
        const other = this.id == start_date_id ? `#${end_date_id}` : `#${start_date_id}`;
        const option = this.id == start_date_id ? "maxDate" : "minDate";
        $(`#${start_date_id}`).datepicker("option", "minDate", new Date(`{{report_start_date}}`));
        $(`#${end_date_id}`).datepicker("option", "maxDate", new Date(`{{report_end_date}}`));
        if ((selectedDate = $(other).val()).length > 0) {
          year = selectedDate.substring(selectedDate.length - 4, selectedDate.length);
          month = jQuery.inArray(selectedDate.substring(0, 3), $(this).datepicker('option', 'monthNamesShort'));
          // $(this).datepicker("option", option, new Date(year, month, 1));
          if (this.id == start_date_id) {
            $(this).datepicker("option", option, new Date(year, month, 1));
          } else {
            $(this).datepicker("option", option, new Date(year, month + 1, 0));
          }
        }
      },
    });

    $("#id_level").select2({"placeholder": "{% trans 'All levels' %}"});
    $("#id_ind_type").select2({"placeholder": "{% trans 'All types' %}"});
    $("#id_sector").select2({"placeholder": "{% trans 'All sectors' %}"});
    $("#id_site").select2({"placeholder": "{% trans 'All sites' %}"});
    $("#id_indicators").select2({"placeholder": "{% trans 'All indicators' %}"});

    $("#id_form_indicator_filter").on("input", "#id_program", function (e) {
      const program_id = $(this).val();

      $.getJSON(`/api/siteprofile/?program=${program_id}`, function( data ){
        site_profile.empty();
        $.each(data, function(index, option){
          // console.log(`${index}, ${option.id}=${option.name}`);
          site_profile.append($("<option></option>").attr("value", option.id).text(option.name));
        });
      });

      $.getJSON(`/api/indicator/?program=${program_id}`, function(data) {
        indicators_select.empty();
        $.each(data, function (index, option) {
          // console.log(`${index}, ${option.id}=${option.name}`);
          indicators_select.append($("<option></option>").attr("value", option.id).text(option.name));
        });
      });

      $.getJSON(`/api/sector/?program=${program_id}`, function( data ) {
        sector_select.empty();
        $.each(data, function(index, option){
          sector_select.append($("<option></option>").attr("value", option.id).text(option.sector));
        });
      });

      $.getJSON(`/api/indicatortype/?program=${program_id}`, function( data ){
        indicatortype_select.empty();
        $.each(data, function(index, option){
          indicatortype_select.append($("<option></option>").attr("value", option.id).text(option.indicator_type));
        });
      });

      $.getJSON(`/api/level/?program=${program_id}`, function(data) {
        level_select.empty();
        $.each(data, function(index, option){
          level_select.append($("<option></option>").attr("value", option.id).text(option.name));
        });
      })
    });


    // everytime the radio buttons value changes, lock or unlock
    $("#id_form_indicator_filter").on("change", "input[type=radio][name='timeframe']", function (e) {
      const timeframe = $(e.target).val();
      if (timeframe == 2) {
        numRecentPeriods.attr("disabled", false);
      } else if (timeframe == 1) {
        numRecentPeriods.val(null);
        numRecentPeriods.attr("disabled", true);
        $(`#${start_date_id}`).val(formatDate(`{{ report_start_date }}`));
        $(`#${end_date_id}`).val(formatDate(`{{ report_end_date }}`));
      }
    });

    $("#id_form_indicator_filter").on("change", "#id_start_date, #id_end_date", function(e){
      $("input[type=radio][name='timeframe']").prop("checked", false);
      numRecentPeriods.val(null);
    });
  });
</script>
