{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytags %}
{% block title %}{% trans "Indicator Performance Tracking Table" %}{% endblock %}
{% block page_title %}{% endblock %}
{% block bodyclasses %}page_iptt_table{% endblock %}

{% block content %}
  <div class="sidebar_wrapper">
      <div class="collapse width show" id="sidebar">
        {% include 'indicators/iptt_filter_form.html' %}
      </div>
      <div class="sidebar-toggle">
        <a href="#" data-target="#sidebar" data-toggle="collapse" title="Show/hide filters">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
  </div>
  <main class="iptt_table_wrapper">
    <div id="id_div_top_iptt_report">
        <div class="d-flex justify-content-between">
            <div id="id_span_iptt_date_range">
              <h2 class="pt-3">{% trans "Indicator Performance Tracking Table" %}</h2>
              <h4 class="pb-3">{{ report_start_date|date:"MEDIUM_DATE_FORMAT" }} - {{ report_end_date_actual|date:"MEDIUM_DATE_FORMAT" }}</h4>
            </div>
            <div class="p-3">
              <button type="button"
                      id="id_button_pin"
                      class="btn btn-sm btn-secondary">
                <i class="fas fa-thumbtack"></i> {% trans "Pin" %}
              </button>
              <a href="{% url 'iptt_excel' program.id reporttype %}?{{ request.GET.urlencode }}" class="btn btn-sm btn-secondary">
                <i class="fas fa-download"></i> {% trans "Excel" %}
              </a>
            </div>
        </div>

        <table id="iptt_table" class="table table-sm table-bordered table-hover">
          <colgroup scope="col" span="9"></colgroup>
          <colgroup scope="col" span="3" class="lopCols"></colgroup>
          <colgroup scope="col" span="{{ report_date_ranges|length }}"></colgroup>
          <thead class="thead-light">
          <tr>
            <td colspan="9" id="id_td_iptt_program_name" class="lopCols align-bottom pt-2">
              <h5 class="m-0"><strong>{{ program.name|wordwrap:100 }}</strong></h5>
            </td>
            <td scope="colgroup" colspan="3" class="text-center align-bottom text-uppercase">
              {% trans "Life of program" %}
            </td>
              {% for date_range in report_date_ranges %}
                <td scope="col"
                    {% if reporttype == 'targetperiods' %} colspan="3" {% endif %}
                    class="text-center lopCols text-nowrap align-bottom">
                  {{ date_range.name|upper }}<br>
                  {% if date_range.label is not None %}
                    <small>{{ date_range.label }}</small>
                  {% endif %}
                </td>
              {% endfor %}
          </tr>
          <tr>
            <th scope="col" class="align-bottom text-uppercase" style="min-width:80px">{% trans "No." %}</th>
            <th scope="col" class="align-bottom text-uppercase td-no-side-borders" style="min-width:600px">{% trans "Indicator" %}</th>
            <th scope="col" class="align-bottom text-uppercase td-no-side-borders"></th>
            <th scope="col" class="align-bottom text-uppercase" style="min-width:90px">{% trans "Level" %}</th>
            <th scope="col" class="align-bottom text-uppercase" style="min-width:250px">{% trans "Unit of measure" %}</th>
            <th scope="col" class="align-bottom text-uppercase">{% trans "Change" %}</th>
            <th scope="col" class="align-bottom text-uppercase" style="min-width:130px">{% trans "C / NC" %}</th>
            <th scope="col" class="align-bottom text-uppercase" style="min-width:50px">{% trans "# / %" %}</th>
            <th scope="col" class="align-bottom text-uppercase" >{% trans "Baseline" %}</th>
            <th scope="col" class="align-bottom text-uppercase text-right td-no-side-borders" style="min-width: 110px;">{% trans "Target" %}</th>
            <th scope="col" class="align-bottom text-uppercase text-right td-no-side-borders" style="min-width: 110px;">{% trans "Actual" %}</th>
            <th scope="col" class="align-bottom text-uppercase text-right td-no-side-borders" style="min-width: 110px;">{% trans "% Met" %}</th>
            {% if reporttype == 'targetperiods' %}
              {% for _ in report_date_ranges %}
                <th scope="col" class="text-uppercase text-right" style="min-width: 110px;">{% trans "Target" %}</th>
                <th scope="col" class="text-uppercase text-right" style="min-width: 110px;">{% trans "Actual" %}</th>
                <th scope="col" class="text-uppercase text-right" style="min-width: 110px;">{% trans "% Met" %}</th>
              {% endfor %}
            {% else %}
              {% for _ in report_date_ranges %}
                <th scope="col" class="text-uppercase text-right">{% trans "Actual" %}</th>
              {% endfor %}
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for indicator in indicators %}
            <tr>
              <td class="td-no-side-borders">{{ indicator.number }}</td>
              <td class="td-no-side-borders">
                <button type="button"
                        class="btn btn-link p-1 indicator-ajax-popup indicator-data"
                        data-indicatorid={{indicator.id}}
                        data-container="body"
                        data-trigger="focus"
                        data-toggle="popover"
                        data-placement="bottom">
                  <i class="fas fa-table"></i>
                </button>
                {{ indicator.name }}
              </td>
              <td class="td-no-side-borders">
                <a href="{% url 'indicator_update' indicator.id %}"
                   data-programid="{{ program.id }}"
                   class="indicator-link float-right">
                  <i class="fas fa-cog"></i>
                </a>
              </td>
              <td class="td-no-side-borders">{{ indicator.lastlevel }}</td>
              <td class="td-no-side-borders">{{ indicator.unit_of_measure  }}</td>
              <td class="td-no-side-borders" align="right">{{ indicator.direction_of_change }}</td>
              <td class="td-no-side-borders">
                {{ indicator.cumulative }}
              </td>
              <td class="td-no-side-borders">{{ indicator.unittype }}</td>
              <td class="td-no-side-borders" align="right">
                {{ indicator.baseline }}
              </td>
              <td class="td-no-side-borders" align="right">
                {{ indicator.lop_target }}
              </td>
              <td class="td-no-side-borders" align="right">
                {{ indicator.lop_actual }}
              </td>

              <td class="td-no-side-borders" align="right">
                {{ indicator.lop_percent_met }}
              </td>
              {% if reporttype == 'targetperiods' %}
                {% for date_range in report_date_ranges %}
                  <td align="right" class="border-right-0">
                    {% with forloop.counter0|concat_string:"_period_target" as target %}
                      {{ indicator|hash:target }}
                    {% endwith %}
                  </td>
                  <td align="right" class="border-right-0 border-left-0">
                    {% with forloop.counter0|concat_string:"_actual" as actual %}
                      {{ indicator|hash:actual }}
                    {% endwith %}
                  </td>
                  <td align="right" class="border-left-0">
                    {% with forloop.counter0|concat_string:"_percent_met" as percent_met %}
                      {{ indicator|hash:percent_met }}
                    {% endwith %}
                  </td>
                {% endfor %}
              {% else %} <!-- if it is a NUMBER indicator -->
                {% for date_range in report_date_ranges %}
                  <td align="right">
                    {% with forloop.counter0|concat_string:"_actual" as actual %}
                      {{ indicator|hash:actual }}
                    {% endwith %}
                  </td>
                {% endfor %}
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="indicator_modal_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" id="indicator_modal_content">

          </div> <!-- modal content -->
        </div>
    </div>

    <script>

        // Open the IndicatorUpdate Form in a modal
        $("#id_div_top_iptt_report").on("click", ".indicator-link", function (e) {
          e.preventDefault();
          let url = $(this).attr("href");
          url += "?modal=1";
          const programId = $(this).data("programid");

          $("#indicator_modal_content").empty();
          $("#modalmessages").empty();

          $("#indicator_modal_content").load(url);
          $("#indicator_modal_div").modal('show');


        });

        // Open the Collected Data Records in a modal
        $("#id_div_top_iptt_report").on("click", ".indicator-ajax-popup", function (e) {
          e.preventDefault();
          const indicatorId = $(this).data('indicatorid');
          const url = `/indicators/collected_data_table/${indicatorId}/0/?edit=false`;
          $("#indicator_modal_content").empty();
          $("#modalmessages").empty();
          $("#indicator_modal_content").load(url);
          $("#indicator_modal_div").modal('show');

        });

      </script>

    {% include 'indicators/indicator_form_common_js.html' %}
  </main>

  {# JS Templates #}

  <script type="text/template" id="pin_popover_form_template">
    <div class="form-group">
      <label for="id_input_report_name" class="text-uppercase">{% trans "Report Name" %}</label>
      <input type="text" class="form-control" id="id_input_report_name" name="report-name" maxlength="50">
    </div>
    <button type="button" id="id_button_pin_to_program_page" class="btn btn-primary"
            disabled="disabled">{% trans "Pin To Program Page" %}</button>
  </script>

  <script type="text/template" id="pin_popover_success_template">
    <p>
      <span>{% trans "Success! This report is now pinned to the program page." %}</span>
    </p>
    <p>
      <a href="{% url 'program_page' program.id 0 0 %}">{% trans "Visit the program page now." %}</a>
    </p>
  </script>
{% endblock content %}


{% block extra_js_in_body %}
  <script>
    let jsContext = {{ js_context|js }};
  </script>

  <script>
    // Popover set up for Pin button
    let pinBtn = $("#id_button_pin");

    let popoverFormTemplate = $("#pin_popover_form_template").html();
    let popoverSuccessTemplate = $("#pin_popover_success_template").html();

    // Pin btn popover init
    pinBtn.popover({
      html: true,
      placement: 'bottom',
      content: popoverFormTemplate,
    });

    // Change content of Pin popover
    function setPinPopoverContent(templateStr) {
      let popover = pinBtn.data('bs.popover');
      popover.config.content = templateStr;
      popover.setContent();
      pinBtn.popover('update');
    }

    // Toggle pin form button if text field empty
    $('body').on('input', '#id_input_report_name', function (e) {
      let createReportBtn = $('#id_button_pin_to_program_page');
      let disabled = e.target.value.length === 0;
      createReportBtn.attr('disabled', disabled);
    });

    // Pin to program page btn click
    $('body').on('click', '#id_button_pin_to_program_page', function() {
      $.ajax({
        type: "POST",
        url: jsContext.create_pinned_report_url,
        data: {
          name: $('#id_input_report_name').val(),
          program: jsContext.program_id,
          report_type: jsContext.report_type,
          query_string: jsContext.qs,
        },
        success: function() {
          setPinPopoverContent(popoverSuccessTemplate);
        },
        error: function () {
          console.log('AJAX error')
        }
      });
    });

    // Reset content on popover close
    pinBtn.on('hidden.bs.popover', function () {
      setPinPopoverContent(popoverFormTemplate);
    });

    // Focus on form input when opened
    pinBtn.on('shown.bs.popover', function () {
      $('#id_input_report_name').focus();
    });

    // Close popover when clicked outside
    $('body').on('click', function (e) {
      $('#id_button_pin').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) &&
            $(this).has(e.target).length === 0 &&
            $('.popover').has(e.target).length === 0) {

          $(this).popover('hide');
        }
      });
    });

    // Close on ESC
    $('body').on('keydown', function (e) {
      if (e.keyCode === 27) { // ESC
        pinBtn.popover('hide');
      }
    });

    {#// DEV CODE: TODO: DELETE ME#}
    {#pinBtn.popover('show');#}
    {#$('#id_input_report_name').val('Test Report Name 1');#}
    {#$('#id_button_pin_to_program_page').attr('disabled', false);#}
  </script>
{% endblock %}
