{% load widget_tweaks %}
{% load i18n %}

<nav id="id_iptt_report_filter">
  <form
    id="id_form_indicator_filter"
    method="post"
    novalidate>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    <div id="filter-top" class="filter-form-padding-10 pb-1">
      <h3 class="card-title" style="color: #a7a7a3;">Report Options</h3>
      <div class="form-group" id="id_program">
        <label for="id_program" class="col-form-label">
          {{ form.program.label }}
        </label>
        {% render_field form.program class+="form-control" %}
      </div>

      <div class="form-group" id="id_div_{{ reporttype }}">
        <label for="id_{{ reporttype }}" class="col-form-label">
          {% if reporttype == 'timeperiods' %}
            {{ form.timeperiods.label }}
            </label>
            {% render_field form.timeperiods class+="form-control" %}
          {% else %}
            {{ form.targetperiods.label }}
            </label>
            {% render_field form.targetperiods class+="form-control" %}
          {% endif %}
      </div>

      <div class="form-group d-flex">
        {% for item in form.timeframe %}
          {% with id=form.timeframe.auto_id %}
            <div class="form-check form-check-inline pt-1" id="div_{{ id }}_{{ forloop.counter0 }}">
              <span class="form-check-input ">
                  {{ item.tag }}
              </span>
              <label class="form-check-label" for="{{ item.id_for_label }}">
                {{ item.choice_label }}
              </label>
            </div>
          {% endwith %}
        {% endfor %}
        <div class="form-group">
          {% render_field form.numrecentperiods placeholder="" class+="form-control" %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.start_date.auto_id }}" class="col-form-label">
          {{ form.start_date.label }}
        </label>
        <input type="text"
               name="{{ form.start_date.name }}"
               class="form-control"
               value="{{ form.start_date.value }}"
               id="{{ form.start_date.auto_id }}">
      </div>
      <div class="form-group">
        <label for="{{ form.end_date.auto_id }}" class="col-form-label">
          {{ form.end_date.label }}
        </label>
        <input type="text"
               name="{{ form.end_date.name }}"
               class="form-control"
               value="{{ form.end_date.value }}"
               id="{{ form.end_date.auto_id }}">
      </div>
    </div>

    <div id="filter-middle" class="filter-form-padding-10">
      <div class="form-group" id="id_level">
        <label for="id_level" class="col-form-label">
          {{ form.level.label }}
        </label>
        {% render_field form.level class+="form-control" %}
      </div>
      <div class="form-group" id="id_type">
        <label for="id_type" class="col-form-label">
          {{ form.ind_type.label }}
        </label>
        {% render_field form.ind_type class+="form-control" %}
      </div>
      <div class="form-group" id="id_sector">
        <label for="id_sector" class="col-form-label">
          {{ form.sector.label }}
        </label>
        {% render_field form.sector class+="form-control" %}
      </div>
      <div class="form-group" id="id_site">
        <label for="id_site" class="col-form-label">
          {{ form.site.label }}
        </label>
        {% render_field form.site class+="form-control" %}
      </div>
      <div class="form-group" id="id_indicators">
        <label for="id_indicators" class="col-form-label">
          {{ form.indicators.label }}
        </label>
        {% render_field form.indicators class+="form-control" %}
      </div>
    </div>

    <div id="filter-bottom" class="filter-form-padding-10">
      <button type="submit" id="id_submit_form_filter" class="btn btn-primary">
        {% trans "SAVE CHANGES" %}
      </button>
      <button type="reset" class="btn btn-secondary">
        {% trans "CANCEL" %}
      </button>
    </div>
  </form>
</nav>
