{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytags %}
{% block title %}Indicator Performance Tracking Table{% endblock %}
{% block page_title %}{% endblock %}
{% block bodyclasses %}page_iptt_table{% endblock %}

{% block content %}
    {% include 'indicators/indicator_reportingperiod_modal.html'%}
    <main class="iptt_table_wrapper">
        <div id="id_div_top_iptt_report">
            <span id="id_span_iptt_date_range">
                <h2>{% trans "Indicator Performance Tracking Table" %}</h2>
                <h5>{{ program.name|wordwrap:100|linebreaks }}</h5>
            </span>
            <h3>
                <span class="color-red">
                    {% trans 'To see program results, please update your periodic targets to match your reporting start and end dates:' %}
                    {% with start=program.reporting_period_start end=program.reporting_period_end %}
                        <a href="#"
                            data-toggle="modal"
                            data-program="{{ program.id }}"
                            data-target="#id_reporting_period_modal"
                            data-rptstart="{{ start }}"
                            data-rptend="{{ end }}"><i>{{ start|date:"MEDIUM_DATE_FORMAT" }} - {{ end|date:"MEDIUM_DATE_FORMAT" }}</i></a>
                    {% endwith %}
                </span>
            </h3>
            <table id="iptt_table" class="table table-sm table-bordered table-hover">
                <caption>{% trans "Indicator Performance Tracking Table" %}</caption>
                <thead class="thead-light">
                    <tr>
                        <th class="text-uppercase">{% trans 'No.' %}</th>
                        <th class="text-uppercase">{% trans 'Indicator' %}</th>
                        <th class="text-uppercase">{% trans 'Target frequency' %}</th>
                        <th class="text-uppercase" style="min-width:130px">{% trans 'Start date' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for indicator in indicators %}
                        <tr>
                            <td>{{ indicator.number|default_if_none:'' }}</td>
                            <td>{{ indicator.name }}</td>
                            <td>{{ indicator.target_frequency|target_frequency_label }}</td>
                            <td>
                                <a href="{% url 'indicator_update' indicator.pk %}"
                                   class="indicator-link"
                                   data-tab="targets">
                                    {{ indicator.minstarts|date:"MEDIUM_DATE_FORMAT" }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="indicator_modal_div" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="indicator_modal_content">

                </div>
                <!-- modal content -->
            </div>
        </div>
        <script>
            // Open the IndicatorUpdate Form in a modal
            $("#id_div_top_iptt_report").on("click", ".indicator-link", function (e) {
                e.preventDefault();
                var url = $(this).attr("href");
                url += "?modal=1";
                var tab = $(this).data("tab");
                if (tab && tab != '' && tab != undefined && tab != 'undefined') {
                    url += "&targetsactive=true";
                }
                $("#indicator_modal_content").empty();
                $("#modalmessages").empty();

                $("#indicator_modal_content").load(url);
                $("#indicator_modal_div").modal('show');

            });

            $('#indicator_modal_div').on('hidden.bs.modal', function (e) {
                location.reload();
            });
        </script>
        {% include 'indicators/indicator_form_common_js.html' %}
    </main>
{% endblock content %}
