{% extends "base.html" %}
{% load i18n mathfilters mytags static %}
{% block title %}{% trans "Program setup" %} | {% endblock %}
{% block page_title %}{{ program.name }}{% endblock %}

{% block content %}
<div class="">
    {% trans "Before adding indicators and performance results, we need to know your program's " %}
    <a
        class="pl-1"
        href="#"
        data-toggle="modal"
        data-program="{{ program.id }}"
        data-progstart="{{ program.start_date }}"
        data-progend="{{ program.end_date }}"
        data-rptstart="{{ program.reporting_period_start }}"
        data-rptend="{{ program.reporting_period_end }}"
        data-target="#id_reporting_period_modal">
        {% trans "reporting start and end dates." %}
    </a>
</div>
{% include 'indicators/indicator_reportingperiod_modal.html' with close_only=True %}
{% endblock content %}


{% block extra_js_in_body %}
    <script>
        var reporting_period_submitting = false;
        function hide_reporting_modal(event) {
            if (reporting_period_submitting == true) {
                // show a loading circle here?
            } else {
                window.location.replace('/');
            }
        }
        $(document).ready(function() {
            $('#id_reporting_period_modal').data('program', '{{ program.id }}')
                .data('progstart', "{{ program.start_date }}")
                .data('progend', "{{program.end_date}}")
                .data('rptstart', "{{program.reporting_period_start}}")
                .data('rptend', "{{program.reporting_period_end}}");
            $('#id_reporting_period_modal').modal('show');
            $('#id_reporting_period_modal').on('hide.bs.modal', hide_reporting_modal);
        });
    </script>


{% endblock %}
