{% extends "base.html" %}
{% load i18n mathfilters mytags static %}
{% block title %}{% trans "Program setup" %} | {% endblock %}
{% block page_title %}{{ program.name }}{% endblock %}

{% block content %}


<div class="program-page__main">
    hello
</div>
{% include 'indicators/indicator_reportingperiod_modal.html' with close_only=True %}
{% endblock content %}


{% block extra_js_in_body %}
    <script>
        function setup_reporting_modal(event) {
            console.log('setup');
        }
        function reporting_form_submit(event) {
            console.log('submit form');
        }
        function hide_reporting_modal(event) {
            console.log('hide modal');
        }
        $(document).ready(function() {
            $('#id_reporting_period_modal').data('program', '{{ program.id }}')
                .data('progstart', "{{ program.start_date }}")
                .data('progend', "{{program.end_date}}")
                .data('rptstart', "{{program.reporting_period_start}}")
                .data('rptend', "{{program.reporting_period_end}}");
            $('#id_reporting_period_modal').on('show.bs.modal', setup_reporting_modal);
            $('#id_reporting_period_modal').modal('show');
            $('#id_reporting_period_modal form').on('submit', reporting_form_submit);
            $('#id_reporting_period_modal').on('hide.bs.modal', hide_reporting_modal);
        });
    </script>

    
{% endblock %}
