{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Program indicators" %} | {% endblock %}
{% block page_title %}{{ program.name }}{% endblock %}

{% block content %}
    <div class="program__calendar-complete">
        Program period is {{ percent_complete }}% complete
    </div>

    {% if indicator_count %}
        <div class="program__status-gauges">

            <div class="status-gauge">
                <div class="gauge__graphic--performance-band">
                    [performance-band]
                </div>
                <div class="gauge__value">
                    50%
                </div>
                <div class="gauge__label">
                    {% trans 'Indicators on track' %}
                </div>
                <div class="gauge__detail">
                    20% are >15% above target
                </div>
                <div class="gauge__detail">
                    30% are >15% below target
                </div>
            </div>

            <div class="status-gauge">
                <div class="gauge__graphic--tank">
                    [tank]
                </div>
                <div class="gauge__value">
                    50%
                </div>
                <div class="gauge__label">
                    {% trans 'indicators have targets defined' %}
                </div>
                <div class="gauge__detail">
                    12% of indicators have no targets
                </div>
            </div>

            <div class="status-gauge">
                <div class="gauge__graphic--tank">
                    [tank]
                </div>
                <div class="gauge__value">
                    50%
                </div>
                <div class="gauge__label">
                    {% trans 'Indicators have reported results' %}
                </div>
                <div class="gauge__detail">
                    35% of indicators have no results
                </div>
            </div>

            <div class="status-gauge">
                <div class="gauge__graphic--tank">
                    [tank]
                </div>
                <div class="gauge__value">
                    50%
                </div>
                <div class="gauge__label">
                    {% trans 'Results are backed up with evidence' %}
                </div>
                <div class="gauge__detail">
                    65% of results are missing evidence
                </div>
            </div>

        </div>
    {% endif %}

<div class="program-page__main">
    <div class="program-page__details">
        Side Panel
    </div>
    <div id="div-id-indicator-list" class="indicator-list program-page__indicators">
        {% include "indicators/program_indicators_table.html" %}
    </div>
</div>

{% include "indicators/indicator_list_modals.html" %}
{% include 'indicators/indicator_form_common_js.html' %}
{% include 'indicators/collecteddata_form_common_js.html' %}
{% endblock content %}
