{% load i18n %}
<script type="text/javascript">
$(document).ready(function() {
    // rotate toggle
    $('.indicator_results_toggle').on('click', function(e) {
        $(this).closest(".indicators-list__indicator-header").toggleClass('is-expanded');
        let icon = $(this).find("svg");
        if (icon.hasClass('fa-caret-right')) {
            icon.attr('class', 'fa-caret-down');
        } else {
            icon.attr('class', 'fa-caret-right');
        }
    });
});
</script>

{% if program.does_it_need_additional_target_periods is True %}
    <div id="id_missing_targets_msg" class="color-red">
        <i class="fas fa-bullseye"></i>&nbsp;
        {% trans 'Some indicators have missing targets. To enter these values, click the target icon near the indicator name.' %}
    </div>
{% endif %}

<table class="table hiddenTable indicators-list"> {# hiddenTable is used by js? #}
    <tr class="table-header">
        <th class="" id="id_indicator_name_col_header">{% trans "Indicator" %}</th>
        <th class="" id="id_indicator_buttons_col_header">&nbsp;</th>
        <th class="" id="id_indicator_level_col_header">{% trans "Level" %}</th>
        <th class="" id="id_indicator_unit_col_header">{% trans "Unit of measure" %}</th>
        <th class="text-right" id="id_indicator_baseline_col_header">{% trans "Baseline" %}</th>
        <th class="text-right" id="id_indicator_target_col_header">{% trans "Target" %}</th>
    </tr>
    {% for indicator in indicators %} {# each indicator is in TWO rows #}
    <tr class="indicators-list__row indicators-list__indicator-header {% if indicator.just_created %}is-highlighted{% endif  %}" id = "id_indicator_{{ indicator.id }}"
        data-indicator-id="{{ indicator.id }}"
        data-indicator-level-ids="[{{ indicator.level_ids }}]"
        data-reporting="{% if indicator.reporting %}1{% else %}-1{% endif %}" {# whether indicator progress towards targets is reported (min. one target period complete, one result reported) #}
        data-defined-targets="{% if indicator.defined_targets > 0 %}1{% else %}-1{% endif %}" {# whether all targets are defined for this indicator #}
        data-reported-results="{% if indicator.reported_results > 0 %}1{% else %}-1{% endif %}" {# whether any collecteddata is reported for this indicator #}
        data-has-evidence="{% if indicator.all_results_backed_up %}1{% else %}-1{% endif %}"
        {# data-has-evidence: 1: indicator has results and all results have evidence, -1: indicator has results and at least one is missing evidence, 0: indicator has no results #}
        data-over-under="{{ indicator.over_under }}"> {# indicator progress towards targets (1: over, 0: within 15% of target, -1: under, "None": non reporting #}
        <td id="id_indicator_name_{{ indicator.id }}">
            <a
                id="id_indicator_data_count_btn_{{ indicator.id }}"
                href="#"
                onclick="loadCollected({{ indicator.id }}, {{ program.id }})"
                class="indicator_results_toggle"
                data-toggle="collapse"
                data-target="#hidden-indicator-{{ indicator.id }}">
                <i class="fas fa-caret-right"></i>
                <strong>{{ indicator.number|default_if_none:''}}</strong>
                <span class="indicator_name">{{ indicator.name}}{#{% if indicator.cached_data_count > 0 %}({{ indicator.cached_data_count }} results){% endif %}#}</span>
            </a>
            {% if indicator.key_performance_indicator %}
                <span class="badge">KPI</span>
            {% endif %}
            {% if program.reporting_period_end > indicator.target_period_last_end_date %}
                <a href="/indicators/indicator_update/{{ indicator.id }}/"
                    id="id_missing_target_periods_for_indicator_id_{{indicator.id}}"
                    class="indicator-link color-red missing_targets"
                    data-toggle="modal" data-target="#indicator_modal_div"
                    data-tab="targets">
                    <i class="fas fa-bullseye"></i> Missing targets
                </a>
            {% endif %}
        </td>
        <td id="id_indicator_buttons_{{ indicator.id }}">
            <a href="/indicators/indicator_update/{{ indicator.id }}/" class="indicator-link"><i class="fas fa-cog"></i></a>
        </td>
        <td id="id_indicator_level_{{ indicator.id }}">{{ indicator.level }}</td>
        <td id="id_indicator_unit_{{ indicator.id }}">{{ indicator.unit_of_measure }}</td>
        <td class="text-right" id="id_indicator_baseline_{{ indicator.id }}">{{ indicator.baseline_display }}</td>
        <td class="text-right" id="id_indicator_target_{{ indicator.id }}">{{ indicator.lop_target_display }}</td>
    </tr>
    <tr class="indicators-list__row indicators-list__indicator-body hiddenRow"
        data-indicator-id="{{ indicator.id }}"
        data-indicator-level-ids="[{{ indicator.level_ids }}]"
        data-reporting="{% if indicator.reporting %}1{% else %}-1{% endif %}" {# whether indicator progress towards targets is reported (min. one target period complete, one result reported) #}
        data-defined-targets="{% if indicator.defined_targets > 0 %}1{% else %}-1{% endif %}" {# whether all targets are defined for this indicator #}
        data-reported-results="{% if indicator.reported_results > 0 %}1{% else %}-1{% endif %}" {# whether any collecteddata is reported for this indicator #}
        data-has-evidence="{% if indicator.all_results_backed_up %}1{% else %}-1{% endif %}"
        {# data-has-evidence: 1: indicator has results and all results have evidence, -1: indicator has results and at least one is missing evidence, 0: indicator has no results #}
        data-over-under="{{ indicator.over_under }}"> {# indicator progress towards targets (1: over, 0: within 15% of target, -1: under, "None": non reporting #}
        <td colspan="6" class="p-0 bg-blue border-0">
            <div id="hidden-indicator-{{ indicator.id }}" class="collapse">
                <!-- Table -->
                {% include "indicators/collected_data_table.html" %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
