{% extends "base.html" %}
{% load i18n mathfilters mytags %}
{% block title %}{% trans "Program indicators" %} | {% endblock %}
{% block page_title %}{{ program.name }}{% endblock %}
{% block header_extras %}
    <div class="program__calendar-complete">
        <div class="fas fa-calendar"></div>
        <p>
            Program period is <br>
            <strong>{{ percent_complete }}% complete</strong>
        </p>
    </div>
{% endblock %}

{% block content %}


    {% if indicator_count %}
        <aside class="program__status-gauges">

            <section class="program-gauge">
                <a href="#" class="gauge__link">
                    {% gauge_band scope_percents.high scope_percents.on_scope scope_percents.low %}
                </a>
            </section>

            <section class="program-gauge">
                <a href="#" class="gauge__link">
                    {% gauge_tank results_stats.targets_defined 'indicators have targets defined' 'of indicators have no targets' %}
                </a>
                </a>
            </section>

            <section class="program-gauge">
                <a href="#" class="gauge__link">
                    {% gauge_tank results_stats.reported_results 'indicators have reported results' 'of indicators have no results' %}
                </a>
            </section>

            <div class="program-gauge">
                <a href="#" class="gauge__link">
                    {% gauge_tank results_stats.results_evidence 'results are backed up with evidence' 'of results are missing evidence' %}
                </a>
            </div>

        </aside>
    {% endif %}

<div class="program-page__main">
    <div class="program-page__details">
        Side Panel
    </div>
    <div id="div-id-indicator-list" class="indicator-list program-page__indicators">
        {% include "indicators/program_indicators_table.html" %}
    </div>
</div>

{% include "indicators/indicator_list_modals.html" %}
{% include 'indicators/indicator_form_common_js.html' %}
{% include 'indicators/collecteddata_form_common_js.html' %}
{% endblock content %}
