
@media print {
  a[href]:after {
    content: none;
  }
}
body {
    background-color: #F5F5F5;
}
.dataTables_wrapper.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.has-error {
  color: #DD0000 !important;
}
.has-error .text-muted {
    color: inherit !important;
}
/* this might introduce regressions
.has-error input {
    border-color: #DD0000;
}
*/

.hide {
  display: none;
}

.show {
  display: block;
}

.td-no-side-borders {
  border-left: 0px !important;
  border-right: 0px !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* ~14pt from a 16pt reference*/
.fontsize-85 {
    font-size: .85rem;
}

/* ~20pt from a 16pt reference*/
.fontsize-125 {
    font-size: 1.25rem;
}

.fontsize-130 {
    font-size: 1.3rem;
}

.color-red {
    color: #DD0000;
}

.paddingright-80 {
    padding-right: .80rem;
}

.paddingright-175 {
    padding-right: 1.75rem;
}

.marginbottom-225 {
    margin-bottom: 2.25rem;
}
/* help links in footer */
.help-link,
.help-link:hover,
.help-link:active,
.help-link:focus {
    color: #54585A;
    font-size: .875rem;
}

.help-link:hover {
    text-decoration: underline;
}

.filter {
    padding: 3px;
    color: #000000;
    background-color: #f5f5f5;
    border-color: #808080;
    border-radius: .5px
}

.btn-frozen {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

.x-modal {
    font-weight: 100;
    font-size: 2rem;
}

.date-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 5px
}

.jumbotron.dashboard {
    padding-top: 5px;
    padding-bottom: 16px;
    margin-bottom: 30px;
}

.btn-group.align-right {
    float: right;
}

.lopCols {
	background-color:#F5F5F5 !important;
}

table.table-hover tbody tr:hover {
    background-color: #CCEFEE !important;
}

table.table-hover tbody tr:active {
    background-color: #99DFDD !important;
}

.row-highlight {
    background-color: #CCEFEE;
}
table.table-hover tbody tr.row-highlight:hover { /* whoa check out this specificity */
    background-color: #B5E0DF !important;
}

.missing_targets_msg {
    padding-left: 2.3rem;
    margin-top: -0.875rem;
    margin-bottom: 1rem;
}
.missing_targets {
    padding-left: 1rem;
}


/* IPTT Table */

#iptt_table {
    background-color: white;
}
#id_td_iptt_program_name {
    padding-left: 0; /* overloads .table-sm td */
    padding-right: 0; /* overloads .table-sm td */
}
#iptt_table, #iptt_table thead tr td{
    border: 0px !important;
}
#iptt_table tr th {
    background-color:#F5F5F5 !important;
}
body.page_iptt_table { /* body element for extra specificity */
    margin-bottom: 0;
}
.page_iptt_table #id_div_content {
    display: flex;
    flex-grow: 1;
    height: 100%;
}
.page_iptt_table .popover {
    max-width: 100%; /* Max Width of the popover (depending on the container) */
}
.page_iptt_table #footer {
    position: relative;
}
.page_iptt_table #id_div_breadcrumb,
.page_iptt_table .page-title {
    display: none;
}
.iptt_table_wrapper {
    width: 100%;
    overflow-x: auto;
    padding-left: 10px;
}
/* #iptt_table tbody{
    background-color:#ffffff !important;
} */
#id_div_top_iptt_report {
    color: #545858; /* why is this not #54585A ? */
}

/* IPTT quickstart */
/* this mimics a standard BS behavior in _forms.scss */
.form-check-inline--is-disabled {
    color: #aaa;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajax_loading {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax_loading {
    display: block;
}

/*General marker style*/
.map-marker {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: rgb(232, 148, 36);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 2px 1px 1px #888888;
}

.map-marker.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 2px 1px 1px #888888;
}

.map-marker:after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 5px 0 0 5px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.leaflet-div-icon {
  border: 0!important;
  display: none;
}

/* Chart.js legends */

.chart-legend {
  list-style: none;
  position: relative;
  right: 8px;
  top: 0;
}
.chart-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.chart-legend li:hover {
  background-color: #fafafa; /* should probably be #F5F5F5 */
}
.chart-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.chart-title {
  display: block;
  text-align: center;
}

/* Login buttons for Social */
.social-buttons{
    margin:12px 0px 0px 0px;
}
.btn-go{
    color: #fff;
    background-color:#55acee;
    margin:12px 0px 12px 0px;
}
.btn-go:hover{
    color: #fff;
    background-color:#59b5fa;
}

#iframe {
    width: 400px;
    height: 100px;
    overflow: auto;
}

/* paginate */

ul.paginate {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginate li {display: inline;}

ul.paginate li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.paginate li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.paginate li a:hover:not(.active) {background-color: #ddd;} /* should probably be #DBDCDE */

.per_page
{
    float: right;
    margin-right: 15px;
}
.float-right
{
  float: right;
}
/* Keep the picker on top of other elements */
.ui-datepicker{z-index: 10000 !important};

/*Indicator line graph with slider*/
.clear-fix
{
  margin-top: 10px;
  min-height: 10px;
}

select.listoption_filters
{
  height:36px;
  width:150px;
  border: 2px solid#ddd; /* should probably be #DBDCDE */
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 5px;
  -moz-appearance: none;
}

/* Indicator periodic target creation */

#indicator_form .tab-content.panel-body,
#indicator_modal_body .tab-content.panel-body,
#indicator_modal_body
{
  padding-bottom: 0px;
}

.input-symbol-percent {
    position: relative;
    display: inline-block;
    width: 100%;
}
.input-symbol-percent input {
    padding-right: 15px;
    width: 100%;
}
.input-symbol-percent:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    content:"%";
    right: 20px;
}
.inputs-in-a-box {
    background-color: #F5F5F5;
    border: 0px;
}

.periodic-target, #pt_sum_targets {
  border-bottom: 1px solid #DBDCDE;
  border-top: 1px solid #DBDCDE;
  background-color: #FFFFFF;
}

#periodic-targets-tablediv .pt-delete-row {
  padding: 1px 0px 1px 10px;
  vertical-align: middle;
  border: none;
}

#indicator_modal_body {
}

#indicator_modal_body .tab-content {
    background-color: #FFFFFF;
}

#indicator_modal_body .form-row > label{
    font-weight: bold;
}

@media (max-width: 575px) {
    #indicator_modal_body .form-row > label{
        text-align: left;
    }
}

#indicator_modal_body .select2-selection {
    border-radius: 0px;
    border-color: #B8BABD;
}

#indicator_modal_body .select2-container--focus .select2-selection{
  border-color: #3366cc;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 102, 204, .40);
}

/* This helps with the predictability of spacing between
inputs on the indicator setup page/modal */
/* TODO: this is crazy brittle */
#indicator_modal_body .div-input-container > textarea,
#indicator_modal_body .div-input-container > input,
#indicator_modal_body .div-input-container > select,
#indicator_modal_body .div-input-container > .inputs-in-a-box,
#indicator_modal_body .div-input-container .select2 {
    height: 100%
}

/* In each case, the hieght of these divs changes when the has-error class is
applied.  This keeps the inputs from getting taller when there is an error. */
#div_id_name,
#div_id_target_frequency,
#div_id_target_frequency .div-input-container,
#id_baseline,
#div_id_target_frequency_custom,
#div_id_target_frequency_num_periods {
    height: 2.25rem;
}

#div_id_unit_of_measure_type_0 {
    margin-left: 2px;
}

#id_delete_indicator_btn {
    font-size: 1rem;
}

#indicatorTabs .nav-link.active {
    font-size: 1rem;
    color: #54585A;
    font-weight: bold;
}
/* Don't define border property here.  Assigning here prevents red border
from being applied when there is no value */
.periodic-target .input-value {
  margin: 10px 10px 10px 6px;
  padding-right: 10px;
  text-align: right;
  width: 150px;
  display: table-cell;
}

.input-symbol-percent .input-value {
    padding-right: 1.60rem;
}

/* Don't define border property here.  Assigning here prevents red border
from being applied when there is no value */
.periodic-target .input-text {
  padding-right: 2px;
  text-align: left;
  box-shadow: none;
  display: table-cell;
}

.periodic-target .controls input::placeholder {
  color: #b8babd;
}

.lop-display {
  padding: 0px 15px 10px 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DBDCDE;
}

.target-value-error {
  margin: 5px 5px 0px 5px;
  float: left;
  margin-right: 10px;
}

/* Used for turning red borders off for input fields with errors */
.border-1px input{
  border: 1px solid #DBDCDE;
}

/* turn off arrows from input[type=number] */
input[type=number] {
   -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#id_div_is_cumulative .card-body {
    border: 1px solid #B8BABD;
    border-radius: .25rem;
}

#id_div_is_cumulative_section1,
#id_div_is_cumulative_section2,
#id_div_is_cumulative_section3 {
    display: none;
}

/* END Indicator periodic target creation */


/* START Indicator list page css */

#div-id-indicator-list .card-header {
    background-color: #54585A !important;
    color: #FFFFFF;
}


#div-id-indicator-list .card-body {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#div-id-indicator-list .card-header .program-name {
    width: 78%;
}

.btn-white,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    color: #FFFFFF;
}

.div-expand-symbol {
    width: .7rem;
    display: inline-block;
}

#id_reporting_period_modal {
    line-height: 1.2;
}

.rptMonthPicker {
    width: 10rem;
}

/* END Indicator list page css */

/* BEGIN datepicker styling */

.month-only .ui-datepicker-calendar {
  display: none;
}

/* END datepicker styling */

.blink {
    animation: blink 2s linear infinite;
}

@keyframes blink { /* where is this used? */
0% {
    opacity: .2;
    color: blue;
}
50% {
    opacity: .7;
    color: red;
}
80% {
    opacity: .8;
}
100% {
    opacity: 1;
}
}
/* Hidable side bar filter */

.filter-wrapper {
    display: flex;
}


#filter-top {
    background-color: #54585A!important;
    color:#fff;
    /* margin-bottom: -20px; */
}

#filter-middle {
    background-color: #DBDCDE;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 4px;
}

#filter-bottom {
    background-color: #808080!important;
    color:#fff;
    font-size: smaller;
    padding-top: 10px;
}

#id_iptt_report_filter {
    font-size: .875rem;
    min-width: 330px;
    max-width: 330px;
}
#id_form_indicator_filter .col-form-label {
  display: block;
  padding-bottom: calc(.1875rem + 1px); /* TODO: this should be applied universally but regressions */
}

.filter-form-padding-10 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.filter-title {
    color: #ddd;
    line-height: 42px;
}


#sidebar {
    flex-basis: 1;
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #333;/* should probably be #323232 */
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;/* should probably be #323232 */
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c; /* ??? */
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222; /* should probably be #2c2c2c ? */
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222; /* should probably be #2c2c2c ? */
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    .iptt_table_wrapper {
        padding-left: 0;
    }
    #id_span_iptt_date_range {
        display: block;
        padding-left: 45px;
    }
    .sidebar_wrapper {
        padding-right: 40px;
        position: fixed;
    }
    .sidebar-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
    #sidebar {
        width: 330px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all .2 ease;
        transform: translateX(40);
    }

    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }

    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* Sidebar toggle */
.sidebar_wrapper {
    display: flex;
}
.sidebar-toggle {
    display: block;
    height: 42px;
    text-align: center;
    width: 40px;
}
.sidebar-toggle a {
    background-color:#00A49F;
    color: white;
    display: block;
    font-size: 1.25rem;
    padding: 0.3em 0.5em; /* TODO: what is the usual visual rhythm? */
}
.sidebar-toggle a[aria-expanded=false] svg {
  transform: rotate(-180deg); /* TODO: ideally do this via JS */
}

/* "add a thing" buttons */
.btn-add {
    color: #4CAF50 !important;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.btn-add:hover {
    color: #2A7C2D;
}

.page-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#indicator_collecteddata_content .modal-footer { /* overloads selectorin modals.scss */
    background-color: #DBDCDE;
    border-radius: 0 0 0.3rem 0.3rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.indicator_results_toggle {
    display: block;
    text-indent: -15px;
    margin-left: 15px;
}
.indicator_results_toggle .svg-inline--fa {
    margin-right: 5px;
}

/* Bootstrap could really use these border utilities */
.border-2 {
    border-width: 2px !important;
}
.border-3 {
    border-width: 3px !important;
}
.border-4 {
    border-width: 4px !important;
}

/* Extra colors */
.bg-danger-lighter {
    background-color: #FFE2E2 !important;
}
.bg-gray-lighter { /* note: these do not match colors in colors.css */
    background-color: #E6E7E8 !important;
}
.bg-gray-lighter-alt { /* note: these do not match colors in colors.css */
    background-color: #EDEDED !important;
}

/* restyle the Results table on the IPTT */
.page_iptt_table .modal-dialog .collecteddata-link {
    display: none;
}
.page_iptt_table .modal-dialog .collecteddata-table--actions {
    background: transparent;
}

/* forms */
.help-block { /* emulates .form-text.text-muted */
    color: #6c757d!important;
    display: block;
    margin-top: .25rem;
}
.form-actions .form-group {
    margin-bottom: 0;
}
.has-crispy-form .tab-content.panel-body {
    background: white;
    border: 1px solid #dee2e6;
    border-top-width: 0;
    margin-top: 0;
    padding: 1rem;
}
.has-crispy-form .nav-tabs {
    width: 100%;
}
.has-crispy-form .input-group {
    align-items: center;
}
.has-crispy-form #div_id_name { /* overloads jankety overload for select2, see line 481 this file */
    height: auto;
}
.input-group-addon {
    margin: 0 0.5rem;
}

/* conditional styling to hide modal titles in nonmodal contexts.
used on collected data table in IPTT */
.is-shown-in-modals {
    display: none;
}
.modal-dialog .is-shown-in-modals {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

/* unsorted */
.break-word {
    word-break: break-word; /* wraps text in the middle of words */
}

/* language chooser */
.select-language { }

/* Branding */
.navbar-brand-wrapper { /* BS has a navbar-brand class already :-( */
    display: flex;
    align-items: center;
}
.navbar-tola {
    padding: 0;
}
.navbar-tola--container {
    align-items: flex-start !important;
    padding-left: 0;
}
.navbar-brand--mc {
    display: block;
    background: #C8202F;
    margin-right: 15px;
}
.navbar-brand--mc-logo {
    display: block;
    height: 60px;
    width: auto;
}
.navbar-brand--tola {
    display: block;
    margin-right: 25px;
}
.navbar-brand--tola-logo {
    display: block;
    max-width: 120px;
    height: auto;
}
