/* Sticky footer styles
-------------------------------------------------- */
html {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  min-height: 100%;
  font-size: 100%; }

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Arial;
  height: 100%;
  justify-content: space-between; }

/** {
  font-size: .875rem;
}

.form-control {
  font-size: .875rem !important;
}*/
#nonfooter {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.report-wide {
  /* margin-top: -16px; */
  /* regressions? */ }

#footer {
  bottom: 0px;
  flex-grow: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  background-color: #DBDCDE;
  vertical-align: top;
  color: #323232; }

/* END Sticky footer styles
-------------------------------------------------- */
a {
  color: #0645AD; }

a:hover {
  color: #3366cc;
  text-decoration: none; }

h1 {
  font-size: 1.75rem;
  color: #54585A;
  font-weight: bold; }

h2 {
  font-size: 1.5rem;
  color: #54585A;
  font-weight: bold; }

h3 {
  font-size: 1.3rem;
  color: #54585A;
  font-weight: normal; }

h4 {
  font-size: 1rem;
  color: #54585A;
  font-weight: bold; }

body > .container {
  height: 100%; }

.bg-dark {
  background-color: #54585A !important; }

.bg-light {
  background-color: #F5F5F5 !important; }

#footer > .container-fluid {
  padding: 15px; }

.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #00A49F;
  border-color: #00A49F;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: bold;
  box-shadow: none;
  text-transform: uppercase; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:active {
  background-color: #33BFBB;
  border-color: #33BFBB;
  color: #FFFFFF;
  box-shadow: none; }

.btn-primary:disabled {
  background-color: #B8BABD;
  border-color: #B8BABD;
  color: #FFFFFF;
  box-shadow: none; }

.btn-secondary,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #FFFFFF;
  border-color: #00A49F;
  color: #00A49F;
  font-size: 1.125rem;
  font-weight: bold;
  box-shadow: none;
  text-transform: uppercase; }

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:active {
  background-color: #FFFFFF;
  border-color: #33BFBB;
  color: #33BFBB;
  box-shadow: none; }

.btn-secondary:disabled {
  background-color: #FFFFFF;
  border-color: #B8BABD;
  color: #B8BABD;
  box-shadow: none; }

.btn-link,
.btn-link:focus,
.btn-link.focus,
.btn-link:hover {
  color: #0645ad;
  font-weight: bold;
  text-decoration: none; }

.btn-link:active,
.btn-link.active {
  color: #3366cc;
  text-decoration: none; }

.btn-danger.btn-link:not(:disabled):not(.disabled).focus,
.btn-danger.btn-link:not(:disabled):not(.disabled):focus,
.btn-danger.btn-link,
.btn-danger.btn-link.focus,
.btn-danger.btn-link:focus,
.btn-danger.btn-link:hover {
  color: #DD0000;
  border: 0px;
  background-color: #FFFFFF;
  box-shadow: none;
  text-decoration: none; }

.btn-danger.btn-link:not(:disabled):not(.disabled).active,
.btn-danger.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-danger.btn-link:not(:disabled):not(.disabled):active,
.btn-danger.btn-link:not(:disabled):not(.disabled):active:focus,
.btn-danger.btn-link.active,
.btn-danger.btn-link:active {
  color: #EE7F7F;
  border: 0px;
  background-color: #FFFFFF;
  box-shadow: none;
  text-decoration: none; }

.btn {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-radius: .001rem; }

.form-control {
  color: #000000;
  border-radius: .001rem;
  border-color: #B8BABD;
  background-color: #FFFFFF; }

.col-form-label {
  /* too much vertical space in block labels */
  padding-bottom: calc(0.1rem + 1px); }

/* do not change border color to green when form is validated */
.was-validated .form-control:valid {
  border: 1px solid #B8BABD; }

/* keep the blue color shadow around form elements even if form is validated successfully
   but don't apply the highlight to radios, checkboxes, or readonly/disabled fields */
.form-control:focus,
.was-validated .form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  color: #495057;
  /* why is this not #54585A? */
  background-color: #fff;
  border-color: #3366cc;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 102, 204, 0.4);
  /* transparentize($blue-light, 0.4); */ }

input[type="text"]:read-only,
select[disabled="disabled"],
select[disabled=true],
.form-control:disabled,
.form-control:disabled:focus,
.form-control:disabled.focus,
.form-control[readonly] {
  border-color: #DBDCDE;
  background-color: #F5F5F5;
  outline: 0;
  box-shadow: none; }

input[type="radio"],
input[type="checkbox"] {
  border-color: #B8BABD;
  background-color: #FFFFFF; }

input[type="radio"].form-control:focus,
input[type="checkbox"].form-control:focus {
  outline: 0;
  box-shadow: none; }

/* add a small cleanline to the top of the navbar */
.navbar-dark {
  border-bottom: 1px solid #f5f5f5; }

/* overload collapsing style */
.collapsing {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

/* overload base colors */
.navbar-dark .navbar-nav .nav-link {
  color: #DBDCDE; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; }

/* overload dropdown menus */
.dropdown-menu {
  border-radius: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }

.navbar-dark .dropdown-menu {
  background: #54585A;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }

.navbar-dark .dropdown-item {
  color: #fff; }

.navbar-dark .dropdown-item:focus,
.navbar-dark .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #808080; }

/* overload bootstrap-multiselect */
.multiselect-native-select .btn-group {
  width: 100%; }

/* expand the caret */
.multiselect.btn {
  align-items: center;
  color: #444;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%; }

.multiselect-container {
  width: 100%; }

.multiselect-container > li > a {
  display: block;
  color: #444; }

.multiselect-container > li > a:hover {
  background: #5897fb;
  color: white; }

.multiselect-container .input-group {
  width: auto; }

.multiselect-container > li > a > label {
  text-indent: -20px;
  display: block; }

.multiselect-container > li > a > label.radio {
  text-indent: 0;
  padding-left: 20px; }

.multiselect-container > li input[type=radio] {
  display: none; }

.multiselect-clear-filter {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.multiselect-selected-text {
  overflow: hidden; }

/* Select 2 overloads */
.select2-container--default .select2-selection--single {
  border-radius: 0px !important;
  height: 38px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px !important; }

.select2-container--default .select2-results > .select2-results__options {
  /* same dropshadow as multiselect */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }

/* Crispy forms does not apply the appropriate classes to its tabs so we have to fake it */
.nav-tabs .tab-pane {
  /* same as .nav-tabs .nav-item */
  margin-bottom: -1px; }

.nav-tabs .tab-pane a {
  /* same as .nav-tabs .nav-link */
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: block;
  padding: .5rem 1rem; }

.nav-tabs .tab-pane a:hover {
  border-color: #e9ecef #e9ecef #dee2e6; }

.nav-tabs .tab-pane a.active.show {
  /* same as  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active */
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff; }

.tab-content.panel-body {
  /* TODO: check for regressions! */
  /* background: #ffffff; */
  margin-top: 1rem; }

/* Overrides for Indicator tables */
.hiddenRow > td {
  background: #f5f5f5; }

/* Overrides for cards */
.card-header {
  background: rgba(0, 0, 0, 0.1) !important; }

.map-marker {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #e89424;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 2px 1px 1px #808080; }
  .map-marker .indicator {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    box-shadow: 2px 1px 1px #808080; }
  .map-marker:after {
    content: "";
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
    background: #DBDCDE;
    position: absolute;
    border-radius: 50%; }

.leaflet-div-icon {
  border: 0 !important;
  display: none; }

.chart-legend {
  list-style: none;
  position: relative;
  right: 8px;
  top: 0; }
  .chart-legend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    transition: background-color 200ms ease-in-out; }
    .chart-legend li:hover {
      background-color: #FAFAFA; }
    .chart-legend li span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 5px; }

.chart-title {
  display: block;
  text-align: center; }

.navbar-brand-wrapper {
  /* BS has a navbar-brand class already :-( */
  display: flex;
  align-items: center; }

.navbar-tola {
  padding: 0; }

.navbar-tola--container {
  align-items: flex-start !important;
  padding-left: 0; }

.navbar-brand--mc {
  display: block;
  background: #C8202F;
  margin-right: 15px; }

.navbar-brand--mc-logo {
  display: block;
  height: 60px;
  width: auto; }

.navbar-brand--tola {
  display: block;
  margin-right: 25px; }

.navbar-brand--tola-logo {
  display: block;
  max-width: 120px;
  height: auto; }

@media print {
  a[href]:after {
    content: none; } }

body {
  background-color: #F5F5F5; }

.dataTables_wrapper.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.has-error {
  color: #DD0000 !important; }
  .has-error .text-muted {
    color: inherit !important; }

.hide {
  display: none; }

.show {
  display: block; }

.td-no-side-borders {
  border-left: 0px !important;
  border-right: 0px !important; }

.fontsize-85 {
  font-size: .85rem; }

.fontsize-125 {
  font-size: 1.25rem; }

.fontsize-130 {
  font-size: 1.3rem; }

.color-red {
  color: #DD0000; }

.paddingright-80 {
  padding-right: .80rem; }

.paddingright-175 {
  padding-right: 1.75rem; }

.marginbottom-225 {
  margin-bottom: 2.25rem; }

.help-link, .help-link:hover, .help-link:active, .help-link:focus {
  color: #54585A;
  font-size: .875rem; }

.help-link:hover {
  text-decoration: underline; }

.filter {
  padding: 3px;
  color: #000000;
  background-color: #f5f5f5;
  border-color: #808080;
  border-radius: .5px; }

.btn-frozen {
  color: #fff;
  background-color: #808080;
  border-color: #808080; }

.x-modal {
  font-weight: 100;
  font-size: 2rem; }

.date-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: lightgoldenrodyellow;
  border-radius: 5px; }

.jumbotron.dashboard {
  padding-top: 5px;
  padding-bottom: 16px;
  margin-bottom: 30px; }

.btn-group.align-right {
  float: right; }

.lopCols {
  background-color: #F5F5F5 !important; }

table.table-hover tbody tr:hover {
  background-color: #CCEFEE !important; }

table.table-hover tbody tr:active {
  background-color: #99DFDD !important; }

.row-highlight {
  background-color: #CCEFEE; }

table.table-hover tbody tr.row-highlight:hover {
  /* whoa check out this specificity */
  background-color: #B5E0DF !important; }

.missing_targets_msg {
  padding-left: 2.3rem;
  margin-top: -0.875rem;
  margin-bottom: 1rem; }

.missing_targets {
  padding-left: 1rem; }

#iptt_table {
  background-color: white; }
  #iptt_table, #iptt_table thead tr td {
    border: 0px !important; }
  #iptt_table tr th {
    background-color: #F5F5F5 !important; }

#id_td_iptt_program_name {
  padding-left: 0;
  padding-right: 0; }

body.page_iptt_table {
  margin-bottom: 0; }

.page_iptt_table #id_div_content {
  display: flex;
  flex-grow: 1;
  height: 100%; }

.page_iptt_table .popover {
  max-width: 100%;
  /* Max Width of the popover (depending on the container) */ }

.page_iptt_table #footer {
  position: relative; }

.page_iptt_table #id_div_breadcrumb,
.page_iptt_table .page-title {
  display: none; }

.iptt_table_wrapper {
  width: 100%;
  overflow-x: auto;
  padding-left: 10px; }

#id_div_top_iptt_report {
  color: #545858; }

.form-check-inline--is-disabled {
  color: #aaa; }

.ajax_loading {
  display: none;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("../img/ajax-loader.gif") 50% 50% no-repeat; }

body.loading {
  overflow: hidden; }
  body.loading .ajax_loading {
    display: block; }

.social-buttons {
  margin: 12px 0px 0px 0px; }

.btn-go {
  color: #fff;
  background-color: #55acee;
  margin: 12px 0px 12px 0px; }
  .btn-go:hover {
    color: #fff;
    background-color: #59b5fa; }

#iframe {
  width: 400px;
  height: 100px;
  overflow: auto; }

ul.paginate {
  display: inline-block;
  padding: 0;
  margin: 0; }
  ul.paginate li {
    display: inline; }
    ul.paginate li a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd; }
      ul.paginate li a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50; }
      ul.paginate li a:hover:not(.active) {
        background-color: #ddd; }

.per_page {
  float: right;
  margin-right: 15px; }

.float-right {
  float: right; }

.ui-datepicker {
  z-index: 10000 !important; }

.clear-fix {
  margin-top: 10px;
  min-height: 10px; }

select.listoption_filters {
  height: 36px;
  width: 150px;
  border: 2px solid #ddd;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 5px;
  -moz-appearance: none; }

#indicator_form .tab-content.panel-body,
#indicator_modal_body .tab-content.panel-body,
#indicator_modal_body {
  padding-bottom: 0px; }

.input-symbol-percent {
  position: relative;
  display: inline-block;
  width: 100%; }
  .input-symbol-percent input {
    padding-right: 15px;
    width: 100%; }
  .input-symbol-percent:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    content: "%";
    right: 20px; }
  .input-symbol-percent .input-value {
    padding-right: 1.60rem; }

.inputs-in-a-box {
  background-color: #F5F5F5;
  border: 0px; }

.periodic-target,
#pt_sum_targets {
  border-bottom: 1px solid #DBDCDE;
  border-top: 1px solid #DBDCDE;
  background-color: #FFFFFF; }

#periodic-targets-tablediv .pt-delete-row {
  padding: 1px 0px 1px 10px;
  vertical-align: middle;
  border: none; }

#indicator_modal_body .tab-content {
  background-color: #FFFFFF; }

#indicator_modal_body .form-row > label {
  font-weight: bold; }

#indicator_modal_body .select2-selection {
  border-radius: 0px;
  border-color: #B8BABD; }

#indicator_modal_body .select2-container--focus .select2-selection {
  border-color: #3366cc;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 102, 204, 0.4); }

#indicator_modal_body .div-input-container > textarea,
#indicator_modal_body .div-input-container > input,
#indicator_modal_body .div-input-container > select,
#indicator_modal_body .div-input-container > .inputs-in-a-box,
#indicator_modal_body .div-input-container .select2 {
  height: 100%; }

@media (max-width: 575px) {
  #indicator_modal_body .form-row > label {
    text-align: left; } }

#div_id_name,
#div_id_target_frequency,
#div_id_target_frequency .div-input-container,
#id_baseline,
#div_id_target_frequency_custom,
#div_id_target_frequency_num_periods {
  height: 2.25rem; }

#div_id_unit_of_measure_type_0 {
  margin-left: 2px; }

#id_delete_indicator_btn {
  font-size: 1rem; }

#indicatorTabs .nav-link.active {
  font-size: 1rem;
  color: #54585A;
  font-weight: bold; }

.periodic-target .input-value {
  margin: 10px 10px 10px 6px;
  padding-right: 10px;
  text-align: right;
  width: 150px;
  display: table-cell; }
  .periodic-target .input-value .input-text {
    padding-right: 2px;
    text-align: left;
    box-shadow: none;
    display: table-cell; }
  .periodic-target .input-value .controls input::placeholder {
    color: #b8babd; }

.lop-display {
  padding: 0px 15px 10px 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DBDCDE; }

.target-value-error {
  margin: 5px 5px 0px 5px;
  float: left;
  margin-right: 10px; }

.border-1px input {
  border: 1px solid #DBDCDE; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#id_div_is_cumulative .card-body {
  border: 1px solid #B8BABD;
  border-radius: .25rem; }

#id_div_is_cumulative_section1,
#id_div_is_cumulative_section2,
#id_div_is_cumulative_section3 {
  display: none; }

#div-id-indicator-list .card-header {
  background-color: #54585A !important;
  color: #FFFFFF; }
  #div-id-indicator-list .card-header .program-name {
    width: 78%; }

#div-id-indicator-list .card-body {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.btn-white, .btn-white:hover, .btn-white:active, .btn-white:focus {
  color: #FFFFFF; }

.div-expand-symbol {
  width: .7rem;
  display: inline-block; }

#id_reporting_period_modal {
  line-height: 1.2; }

.rptMonthPicker {
  width: 10rem; }

.month-only .ui-datepicker-calendar {
  display: none; }

.blink {
  animation: blink 2s linear infinite; }

@keyframes blink {
  0% {
    opacity: .2;
    color: blue; }
  50% {
    opacity: .7;
    color: red; }
  80% {
    opacity: .8; }
  100% {
    opacity: 1; } }

.filter-wrapper {
  display: flex; }

#filter-top {
  background-color: #54585A !important;
  color: #fff;
  /* margin-bottom: -20px; */ }

#filter-middle {
  background-color: #DBDCDE;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 4px; }

#filter-bottom {
  background-color: #808080 !important;
  color: #fff;
  font-size: smaller;
  padding-top: 10px; }

#id_iptt_report_filter {
  font-size: .875rem;
  min-width: 330px;
  max-width: 330px; }

#id_form_indicator_filter .col-form-label {
  display: block;
  padding-bottom: calc(.1875rem + 1px);
  /* TODO: this should be applied universally but regressions */ }

.filter-form-padding-10 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.filter-title {
  color: #ddd;
  line-height: 42px; }

#sidebar {
  flex-basis: 1;
  overflow: hidden;
  z-index: 3; }
  #sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh; }
  #sidebar i {
    margin-right: 6px; }
  #sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap; }
    #sidebar .list-group-item:not(.collapsed) {
      background-color: #222; }
    #sidebar .list-group-item[aria-expanded="false"]::after {
      content: " \f0d7";
      font-family: FontAwesome;
      display: inline;
      text-align: right;
      padding-left: 5px; }
    #sidebar .list-group-item[aria-expanded="true"] {
      background-color: #222; }
      #sidebar .list-group-item[aria-expanded="true"]::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px; }
  #sidebar .list-group .collapse .list-group-item,
  #sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px; }
  #sidebar .list-group .collapse > .collapse .list-group-item,
  #sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px; }
  #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px; }

@media (max-width: 768px) {
  .iptt_table_wrapper {
    padding-left: 0; }
  #id_span_iptt_date_range {
    display: block;
    padding-left: 45px; }
  .sidebar_wrapper {
    padding-right: 40px;
    position: fixed; }
  .sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0; }
  #sidebar {
    width: 330px;
    overflow-y: auto;
    overflow-x: visible;
    transition: all .2 ease;
    transform: translateX(40); }
    #sidebar.show {
      transform: translateX(0); }
    #sidebar::-webkit-scrollbar {
      width: 0px; }
    #sidebar,
    #sidebar .list-group {
      min-width: 35px;
      overflow: visible; }
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
      position: relative;
      z-index: 1;
      width: 190px;
      top: 0; }
    #sidebar .list-group > .list-group-item {
      text-align: center;
      padding: .75rem .5rem; }
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
      display: none; } }

.collapse.show {
  visibility: visible; }

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  .collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

.sidebar_wrapper {
  display: flex; }

.sidebar-toggle {
  display: block;
  height: 42px;
  text-align: center;
  width: 40px; }
  .sidebar-toggle a {
    background-color: #00A49F;
    color: white;
    display: block;
    font-size: 1.25rem;
    padding: 0.3em 0.5em;
    /* TODO: what is the usual visual rhythm? */ }
    .sidebar-toggle a[aria-expanded=false] svg {
      transform: rotate(-180deg);
      /* TODO: ideally do this via JS */ }

.btn-add {
  color: #4CAF50 !important;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  .btn-add:hover {
    color: #2A7C2D; }

.page-title {
  margin-bottom: 1rem;
  margin-top: 1rem; }

#indicator_collecteddata_content .modal-footer {
  background-color: #DBDCDE;
  border-radius: 0 0 0.3rem 0.3rem;
  margin-left: -1rem;
  margin-right: -1rem; }

.indicator_results_toggle {
  display: block;
  text-indent: -15px;
  margin-left: 15px; }
  .indicator_results_toggle .svg-inline--fa {
    margin-right: 5px; }

.border-2 {
  border-width: 2px !important; }

.border-3 {
  border-width: 3px !important; }

.border-4 {
  border-width: 4px !important; }

.bg-danger-lighter {
  background-color: #FFE2E2 !important; }

.bg-gray-lighter {
  /* note: these do not match colors in colors.css */
  background-color: #E6E7E8 !important; }

.bg-gray-lighter-alt {
  /* note: these do not match colors in colors.css */
  background-color: #EDEDED !important; }

.page_iptt_table .modal-dialog .collecteddata-link {
  display: none; }

.page_iptt_table .modal-dialog .collecteddata-table--actions {
  background: transparent; }

.help-block {
  color: #6c757d !important;
  display: block;
  margin-top: .25rem; }

.form-actions .form-group {
  margin-bottom: 0; }

.has-crispy-form .tab-content.panel-body {
  background: white;
  border: 1px solid #dee2e6;
  border-top-width: 0;
  margin-top: 0;
  padding: 1rem; }

.has-crispy-form .nav-tabs {
  width: 100%; }

.has-crispy-form .input-group {
  align-items: center; }

.has-crispy-form #div_id_name {
  /* overloads jankety overload for select2, see line 481 this file */
  height: auto; }

.input-group-addon {
  margin: 0 0.5rem; }

.is-shown-in-modals {
  display: none; }
  .modal-dialog .is-shown-in-modals {
    align-items: flex-start;
    display: flex;
    justify-content: space-between; }

.break-word {
  word-break: break-word;
  /* wraps text in the middle of words */ }
