// management lists
// Appears alongside sidebar
.admin-list { // was: .list-section; provides page layout to admin list tables
}
.admin-list__controls { // was: .list-controls; contains add button & bulk actions
    display: flex;
    justify-content: space-between;
    margin-bottom: $grid-gutter-width; // NOTE: will overlap with following table top margin
    margin-top: $grid-gutter-width/2;
}
.controls__bulk-actions { // was: .bulk-controls; wraps bulk action controls
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
}
.controls__buttons { // contains buttons like "add [object]"
}
.bulk__select { // was: .bulk-select; wraps custom select element
    flex-grow: 1;
    margin-right: $grid-gutter-width/4;
    min-width: 15vw; // TODO: this is fragile
}
.loading-spinner__container  { // DO NOT CHANGE; sometimes wraps list-table
}
.admin-list__table { // was: .list-table; the admin list itself
    // usually .mgmt-table component
    margin-bottom: $grid-gutter-width;
    margin-top: $grid-gutter-width;
}

.admin-list__metadata { // was: .list-metadata; contains metadata (e.g. count) & pagination
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.metadata__count { // number of results
    .pagination {
        align-items: center;
    }
}
.metadata__controls { // wraps pagination controls
    .pagination {
        align-items: center;
    }
}
