// Collected data table included in the indicator table (& elsewhere?)
.collected-data-table__wrapper {
    // this div provides a little padding but is probably not necessary
    padding: $grid-gutter-width/2;
}
.collected-data-table {
    background-color: transparent !important;
    th, td { // table-sm
        font-size: $font-size-sm;
        padding: $table-cell-padding-sm;
    }
    > th {
    }
    td {
        background: $white;
    }
}
.collected-data__result--date {
    border-left: 1px solid $gray-200;
    white-space: nowrap;
}
.collected-data__result--value {
    border-right: 1px solid $gray-200;
    text-align: right;
    white-space: nowrap;
}
.collected-data__result--nodata {
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
    white-space: nowrap;
}

.collected-data__row--main {}
.collected-data__row--supplemental {
    td {
        border-top: 1px solid $gray-150;
    }
}

// see _iptt_table.scss
.collected-data__link {}
.collected-data-table__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Potentially global styles
.disable-span {
    cursor: not-allowed;
    opacity: .65;
}
.disable-span a {
    pointer-events: none;
}
