.form-group label {
    font-size: $small-font-size;
}
.label--required {
    &:after {
        color: $danger;
        content: "*";
    }
}
.input--inline {
    // subclass form-group or input for inline form elements inside a d-flex container
    margin-right: $grid-gutter-width/2;
    &:last-child {
        margin-right: 0;
    }
}

