.form-group label {
    font-size: $small-font-size;
}
.label--required {
    &:after {
        color: $danger;
        content: "*";
    }
}

.react-select.is-invalid~.invalid-feedback {
    display: block;
}