// Gauges
// ------
.gauge {
    // contains the entire gauge component.
    border: 2px solid transparent; // to maintain consistent layout with highlighted elements
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: ($grid-gutter-width / 2);
    @include make-col(1,4);
    @include media-breakpoint-down(md) {
        @include make-col(1,1);
        & + & {
            border-top: 1px solid $gray-300;
            margin-top: $grid-gutter-width/2;
            padding-top: $grid-gutter-width/2;
        }
    }
    &.is-highlighted {
        background: none;
        border-color: $yellow;
    }
}

.gauge__overview {
    // has no external layout.
    // contains gauge__graphic + gauge__labels
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.gauge__graphic {
    // the graphic *without* labels
    background-color: $green-100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: $grid-gutter-width/2;
    min-width: 40px;
    min-height: 80px;
    position: relative;
}
.gauge__labels {
    // wraps labels on the same row as the gauge__graphic
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.gauge__labels--justified {
    justify-content: space-between;
}
.gauge__graphic--performance-band {
    // contains graphic__performance-band--* subcomponents
}
.graphic__performance-band--above-target,
.graphic__performance-band--below-target {
    background: $yellow-200;
}
.graphic__performance-band--on-target {
    background: $green-550;
    //border-bottom: 1px solid $white;
    //border-top: 1px solid $white;
}
.gauge__graphic--tank {
}
.graphic__tick-marks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.graphic__tick {
    flex-grow: 1;
    flex-shrink: 0;
    & + & {
        border-top: 0.5px solid $white;
    }
}
.graphic__tank--filled {
    background-color: $green-550;
}
.gauge__value {
    color: $gray-600;
    font-size: $font-size-base * 2;
}
.gauge__label {
    color: $black;
    margin: 0;
    text-transform: uppercase;
}
.gauge__detail {
    color: $blue;
    font-size: $font-size-sm;
    margin-top: $grid-gutter-width/2;
}
.gauge__label--small {
    color: $blue;
    font-size: $font-size-sm;
}
