// Indicator table on the Indicators page and Program page
.indicators-list { // indicators table
}
.indicators-list__indicator-header {
    &.is-expanded {
        background: $gray-300;
    }
}
.indicators-list__indicator-body {
    > td {
        // p-0 bg-blue border-0
        background: $gray-200;
        border: none;
        padding: 0;
    }
}

// Potentially global styles
.table-header { // tr
    > th {
        // inherits bold
        border-top: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
}
.table__pad-cell {
    // more semantic method for adding a little space to very small cells
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}
.table__stretch-cell {
    // more semantic version of w-100
    width: 100%;
}
.is-highlighted {
    background: $yellow-100;
}
