.mgmt-table {
    display: table;
    width: 100%;

    .mgmt-table__head {
        display: table-header-group;
    }

    .mgmt-table__body {
        display: table-row-group;
    }

    .mgmt-table__row {
        display: table-row;
    }

    .mgmt-table__col {
        display: table-cell;
    }
}
