// This is component of admin-table, see _tola_management.scss
.mgmt-table {
    // TODO: add to appropriate components
}
.mgmt-table__head { // thead
    // TODO: add to appropriate components
}
.mgmt-table__body { // tbody
    &.is-expanded { // with expanded accordion child
        // TODO: this is identical to .indicators-list__indicator-header.is-expanded
        background: $gray-300;
    }
}
.mgmt-table__row { // tr
}
.mgmt-table__row--expanded { // tr, expanded accordion
    background-color: $gray-200;
    > td {
        padding: $grid-gutter-width;
    }
}
.mgmt-table__col { //td
}
