.pagination {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.3rem;

    li {
        color: #0645AD;

        &:hover, &.active {
            color: #ADD8E6;
        }

        &.disabled {
            color: #ccc;
            a {
                cursor: default;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
            width: 1rem;
            padding: 0 1rem;
            cursor: pointer;
        }
    }
}
