.program__calendar-complete {
    align-items: center;
    color: $gray-600;
    display: flex;
    flex-shrink: 0;
    margin-left: $grid-gutter-width/2;
    p {
        line-height: 1.1;
        margin: 0;
    }
    .fa-calendar {
        font-size: 42px;
        margin-right: $grid-gutter-width/4;
    }
}
