$remove-color: $gray-550;
$remove-hover-color: $gray-700;
$remove-width: 20px !default;

$selection-color: $gray-800;

$border-color: $gray-500;
$border-radius: 4px !default;

$focus-border-color: $blue-300;

$container-height: 28px !default;

$selection-bg-top-color: white !default;
$selection-bg-bottom-color: $gray-200;

$container-placeholder-color: $gray-550;

$container-focus-border-color: $blue-500;

$selection-opened-bg-top-color: $selection-bg-bottom-color !default;
$selection-opened-bg-bottom-color: $selection-bg-top-color !default;

$dropdown-z-index: 1 !default;

$dropdown-bg-color: $selection-bg-top-color !default;

$results-max-height: 200px !default;
$results-nested-padding: 20px !default;

$results-choice-bg-hover-color: $blue-500;
$results-choice-fg-hover-color: white !default;

$results-choice-fg-unselectable-color: grey !default;
