#user-management-index-view,
#program-management-index-view,
#country-management-index-view {
    .list-controls {
        display: flex;
        justify-content: space-between;

        .bulk-controls {
            display: flex;

            .bulk-select {
                width: 14vw;
            }
        }
    }

    .edit-user-history table {
        width: 100%;
        td {
            vertical-align: top;
        }

        .program-changeset-row {
            border: 1px solid #aaa;
            padding: 5px;
        }
    }

    .edit-user-programs {
        .check-column {
            text-align: center;
        }

        &__filter-form {
            justify-content: space-around;
        }

        &__select-all {
            color: darkblue;
            font-weight: bold;
            cursor: pointer
        }

        &__country-filter {
            width: 40%;
            display: inline-block;
        }

        &__program-filter {
            width: 55%;

            .input-group {
                flex-grow: 1;
            }
        }

        .input-group-text {
            height: 100%;
            cursor: pointer;
        }
    }

}

#organization-management-index-view {
    .list-controls {
        display: flex;
        justify-content: flex-end;
    }

    .edit-organization table {
        width: 100%;
        td {
            vertical-align: top;
        }
    }
}

#audit-log-index-view {
    .list-controls {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.td--stretch {
    display: flex;
    justify-content: space-around;

    div {
        width: 1rem;
    }
}

.icon {
    &__clickable {
        cursor: pointer;
        color: darkblue;
    }

    &__disabled {
        color: grey;
    }
}

.filter-section {
    width: 20vw;
    padding: 10px;
    background-color: #54585a;
    color: white;
}

.filter-buttons {
    display: flex;
    justify-content: space-around;
}

.folding-sidebar {
    $trigger_width: 40px;
    position: relative;
    margin-right: $trigger_width;

    &__trigger {
        background-color: #00a49f;
        color: white;
        font-size: 2em;
        display: inline-block;
        padding: 5px;
        position: absolute;
        top: 0;
        right: -$trigger_width;
        cursor: pointer;
        width: $trigger_width;
    }
}

.expander {
    overflow: hidden;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    $this: &;
    &__container.loading {
        position: relative;
        height: auto;

        #{$this}__overlay {
            position: absolute;
            top:0px;
            left:0px;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .2;
            z-index: 10;
        }
        #{$this}__spinner {
            position: relative;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 70px;
            height: 70px;
            left:50%;
            top:50%;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }
}

.editor__navigation {
    background-color: #eee;

    .list-group-item {
        cursor: pointer;
        color: #888;
        background-color: transparent;
        border: none;
    }

    .list-group-item.selected {
        color: darkblue;
        cursor: default;
    }

    .list-group-item.disabled {
        cursor: default;
        color: #888;
    }
}

table.list-table {
    table-layout: fixed;
    vertical-align: top;
    th, td {
        vertical-align: top;
    }

    .expand-section {
        width: 10%;
    }
}

.list-metadata {
    display: flex;
    justify-content: space-between;
}

.virtualized-table__wrapper {
    height: 50vh;
}

.objective-form-buttons {
    display: flex;

    .right-buttons {
        margin-left: auto;
    }
}

.edit-strategic-objective__row, .edit-disaggregation__row {
    display: flex;

    .row-expand__toggle {
        flex-basis: 1em;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .row__content {
        flex-grow: 1;
    }
}

.disaggregation-label-group {
    display: flex;
}

.disaggregation-form-buttons {
    display: flex;

    .right-buttons {
        margin-left: auto;
    }
}
