#user-management-index-view,
#program-management-index-view,
#country-management-index-view {
    .edit-user-history table {
    }


}

.edit-user-programs { // Program and Country access pane
    .check-column {
        text-align: center;
    }

    &__filter-form {
        display: flex;
        justify-content: space-between;
    }

    &__select-all {
        color: $blue !important;
        font-weight: bold;
        cursor: pointer
    }

    &__country-filter {
        flex-basis: 50%;
        margin-right: $grid-gutter-width/4;
        > div { // React multiselect
            width: 100%; // ... hates being flexed
        }
    }

    &__program-filter {
        flex-basis: 50%;
        margin-left: $grid-gutter-width/4;
        .input-group {
            flex-grow: 1;
        }
    }

    .input-group-text {
        height: 100%;
        cursor: pointer;
    }
}

// virtualized tables on Edit User screen
.virtualized-table__wrapper {
    height: 50vh;
    margin-bottom: $grid-gutter-width/2;
}
.ReactVirtualized__Table__Grid {
    background-color: $white;
    border: 1px solid $gray-300;
}
.ReactVirtualized__Table__row {
    border-bottom: 1px solid $gray-200;
}
.ReactVirtualized__Table__rowColumn {
    padding-left: 10px;
}

#organization-management-index-view {
    .edit-organization table {
        width: 100%;
        td {
            vertical-align: top;
        }
    }
}

#audit-log-index-view {
}

.icon {
    &__clickable {
        cursor: pointer;
        color: $blue;
    }

    &__disabled {
        opacity: 0.5;
    }
}

.filter-section {
    width: 20vw;
    padding: 10px;
    background-color: #54585a; // TODO

    label {
        color: white;
    }
}

.filter-buttons {
    display: flex;
    justify-content: space-around;
}

.folding-sidebar {
    $trigger_width: 40px;
    position: relative;
    margin-right: $trigger_width;

    &__trigger {
        background-color: #00a49f; // TODO
        color: white;
        font-size: 2em;
        display: inline-block;
        padding: 5px;
        position: absolute;
        top: 0;
        right: -$trigger_width;
        cursor: pointer;
        width: $trigger_width;
    }
}

// Expanding change logs
// OLD SELECTORS, DELETE US!
.changelog-entry {}
.changelog-entry__expanding {
    // expanding child element
    overflow: hidden;
}
.changelog-entry__expand-trigger {}

// NEW SELECTORS
.changelog { // <table>
}
.changelog__entry { // each timestamped batch of DB updates; <tbody>
}
.changelog__entry__header { // title row for changelog__entry; <tr>
    &.is-expanded {
        background-color: $gray-200;
    }
}
.changelog__entry__row { // each DB row change; <tr>
}
.changelog__change {
    // inside a row
    // collects a group of changes made at the same time
}
.changelog__change--prev {
    // previous values
}
.changelog__change--new {
    // new values
}
.changelog__change--rationale {
    // only on indicator report, ie. from IPTT
}
.changelog__change__targets {
    // only on indicator report, ie. from IPTT
    // group of targets inside the prev/new component
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    $this: &;
    &__container.loading {
        position: relative;
        height: auto;

        #{$this}__overlay {
            position: absolute;
            top:0px;
            left:0px;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .2;
            z-index: 10;
        }
        #{$this}__spinner {
            position: relative;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 70px;
            height: 70px;
            left:50%;
            top:50%;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }
}

.editor__navigation {
    background-color: #eee;

    .list-group-item {
        cursor: pointer;
        color: #888;
        background-color: transparent;
        border: none;
    }

    .list-group-item.selected {
        color: darkblue;
        cursor: default;
    }

    .list-group-item.disabled {
        cursor: default;
        color: #888;
    }
}

table.admin-list__table {
    table-layout: fixed;
    vertical-align: top;
    th, td {
        vertical-align: top;
    }
}

.objective-form-buttons {
    display: flex;

    .right-buttons {
        margin-left: auto;
    }
}

.edit-strategic-objective__row,
.edit-disaggregation__row {
    // See .row-expand below
    display: flex;

    .row-expand__toggle {
        flex-basis: 1em;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .row__content {
        flex-grow: 1;
    }
}

.disaggregation-label-group {
    display: flex;
}

.disaggregation-form-buttons {
    display: flex;

    .right-buttons {
        margin-left: auto;
    }
}

// expand/collapse toggles
// TODO: Lots of overlap here with other implementations
.expando-toggle {
    display: flex;
}
.expando-toggle__icon {
    flex-basis: 1em;
    flex-grow: 0;
    flex-shrink: 0;
}
.expando-toggle__label {
    flex-grow: 1; // ?
}

// management lists
.admin-list { // was: .list-section; provides page layout to admin list tables
}
.admin-list__controls { // was: .list-controls; contains add button & bulk actions
    display: flex;
    justify-content: space-between;
    margin-bottom: $grid-gutter-width; // NOTE: will overlap with following table top margin
    margin-top: $grid-gutter-width/2;
}
.controls__bulk-actions { // was: .bulk-controls; wraps bulk action controls
    display: flex;
    flex-grow: 1;
}
.controls__buttons { // contains buttons like "add [object]"
}
.bulk__select { // was: .bulk-select; wraps custom select element
    flex-grow: 1;
    margin-right: $grid-gutter-width/4;
    min-width: 15vw; // TODO: this is fragile
}
.loading-spinner__container  { // DO NOT CHANGE; sometimes wraps list-table
}
.admin-list__table { // was: .list-table; the admin list itself
    // usually .mgmt-table component
    // See also _list_table.scss !
    margin-bottom: $grid-gutter-width;
    margin-top: $grid-gutter-width;
}

.admin-list__metadata { // was: .list-metadata; contains metadata (e.g. count) & pagination
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.metadata__count { // number of results
    .pagination {
        align-items: center;
    }
}
.metadata__controls { // wraps pagination controls
    .pagination {
        align-items: center;
    }
}


// admin panes on individual edit items
// TODO: this needs a parent class

.admin-edit-pane {}
