{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Additional Permissions Required" %}{% endblock %}

{% block page_title %}{% trans "You don't appear to have the proper permissions to access this page." %}{% endblock page_title %}

{% block content %}
<p>
    {% trans "Please check with your organization or country admin if you think you should have access to this section." %}
    <br/>
    <br/>
    {% blocktrans %} You can also reach the TolaData team by using the <a href="https://docs.google.com/forms/d/e/1FAIpQLSclm2PAT9TJ9q23TT6YWQg6hj3EndUAdyF5k6kvNJHu6njNtw/viewform">feedback form.</a>
    {% endblocktrans %}
</p>

{% endblock content %}
