{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Additional Permissions Required" %}{% endblock %}

{% block page_title %}{% trans "You need permission to view this page." %}{% endblock page_title %}

{% block content %}
<p>
    {% trans "You can request permission from your TolaData administrator." %}
</p>
<p>
    {% blocktrans %} You can also reach the TolaData team by using the <a href="https://docs.google.com/forms/d/e/1FAIpQLSclm2PAT9TJ9q23TT6YWQg6hj3EndUAdyF5k6kvNJHu6njNtw/viewform">feedback form.</a>
    {% endblocktrans %}
</p>

{% endblock content %}
