{% load i18n %}
{% if view.guidance %}
    {% if view.guidance.guidance_link %}
        <span><a onclick="newPopup('{{ view.guidance.guidance_link }}','Form Help/Guidance'); return false;" href="#" class="btn btn-link help-link">{% trans "Help" %}</a></span>
    {% endif %}
    {% if view.guidance.guidance %}
        <span onclick="document.getElementById('guidance').style.display = 'block'"><a href="#" class="btn btn-link help-link">{% trans "Help" %}</a></span>
        <span id="guidance">
            {{ view.guidance.guidance }}
            <br/>
            <a href="#" class="btn btn-link" onclick="document.getElementById('guidance').style.display = 'None'">Close</a>
        </span>
    {% endif %}
{% endif %}
