{% extends "base.html" %}
{% load i18n mytags %}
{% block title %}{{ title }} | {% endblock %}
{% block page_title %}{{ active_country }}{% endblock %}


{% block header_extras %}
<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {% trans "change country" %}
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    {% for country in user_countries  %}
    <li><a href="/{{ country.id }}/">{{ country.country }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}

<section class="home__featured-country">
    gauges go here
</section><!--/.home__featured-country-->
<section class="home__program-list">
    <h2>{% blocktrans %}[n] active programs{% endblocktrans %}</h2>
    <article class="program-list__program card">
        <div class="card-header">
            <h4><a href="" class="text-dark">Program Name</a></h4>
        </div>
        <div class="card-body">
            Program info
        </div>
    </article><!--/.program-list__program-->
    <article class="program-list__program card">
        <div class="card-header">
            <h4><a href="" class="text-dark">Program Name</a></h4>
        </div>
        <div class="card-body">
            Program info
        </div>
    </article><!--/.program-list__program-->
</section>

{% endblock content %}
