{% extends "base.html" %}
{% load i18n mytags %}
{% block title %}{{ title }} | {% endblock %}
{% block page_title %}{{ title }}{% endblock %}


{% block header_extras %}
<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {% if selected_countries_list %}
        {% for item in selected_countries_list %}
            {{ item.country }}
        {% endfor %}
    {% else %}
        {% trans "change country" %}
    {% endif %}
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    {%for item in countries  %}
    <li><a href="/{{ item.id }}/">{{ item.country }}</a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    <li><a href="/">{% trans "All" %}</a></li>
</ul>
{% endblock %}

{% block content %}

<section class="home__featured-country">
    Featured country
</section><!--/.home__featured-country-->
<section class="home__program-list">
    <h2>{% blocktrans %}[n] active programs{% endblocktrans %}</h2>
    <article class="program-list__program card">
        <div class="card-header">
            <h4><a href="" class="text-dark">Program Name</a></h4>
        </div>
        <div class="card-body">
            Program info
        </div>
    </article><!--/.program-list__program-->
    <article class="program-list__program card">
        <div class="card-header">
            <h4><a href="" class="text-dark">Program Name</a></h4>
        </div>
        <div class="card-body">
            Program info
        </div>
    </article><!--/.program-list__program-->
</section>

{% endblock content %}
