{% extends "base.html" %}
{% load i18n mytags static %}
{% load render_bundle from webpack_loader %}
{% block title %}{{page_title}}{% endblock %}
{% block page_title %}{% endblock %}

{% block mainclasses %}region--full-width{% endblock %}
{% block region_header %}{% endblock %}

{% block content %}
<div id="app_root">
</div>
{% endblock content %}


{% block extra_js_in_body %}
    <script>
        let jsContext = {{ js_context | safe }};
    </script>

    {% render_bundle bundle_name %}
{% endblock %}
