{% load i18n %}
{# to enable list filtering, the page calling this templatetag should load static/js/program_page_filters.js #}
<div class="gauge {% if has_filters %}filter-trigger{% endif %}"
    data-target="{{ data_target }}"
    data-list-title="{% blocktrans %}{{ filter_title_count }} indicators {{ filter_title }}{% endblocktrans %}"
    >
    <h6 class="gauge__title">{% trans title %}</h6>
    <div class="gauge__overview">
        <div class="gauge__graphic gauge__graphic--tank{% if filled_percent == 0 %} gauge__graphic--empty{% endif %}">
            <div class="graphic__tick-marks">
                {% for i in ticks %}
                <div class="graphic__tick"></div>
                {% endfor %}
            </div>
            <div class="graphic__tank--unfilled" style="flex-basis: {{ unfilled_percent }}%"></div>
            <div class="graphic__tank--filled" style="flex-basis: {{ filled_percent }}%"></div>
        </div>
        <div class="gauge__labels">
            {% if filled_percent > 0 %}
            <div class="gauge__label text-muted">
                {{ unfilled_percent }}% {{ unfilled_label }}
                <!-- TOOLTIP -->
            </div>
            <div class="gauge__label">
                <span class="gauge__value">{{ filled_percent }}% {{ filled_label }}</span>
            </div>
            {% else %}
            <div class="gauge__label">
                <span class="text-danger">{{ empty_label }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="gauge__cta">
    {% if has_filters %}
        <span class="btn-link btn-inline"><i class="fas fa-exclamation-triangle text-warning"></i> {{ cta }}</span>
    {% elif unfilled_percent > 0 %}
        <a href="{% url "program_page" program.id 0 0 %}" class="btn-link btn-inline"><i class="fas fa-exclamation-triangle text-warning"></i> {{ cta }}</a>
    {% else %}
        &nbsp;
    {% endif %}
    </div>
</div>
