{% load i18n %}
<div class="gauge">
    <h6 class="gauge__title">
        {% trans "Indicators on track" %}
    </h6>
    <div class="gauge__overview">
        <div class="gauge__graphic gauge__graphic--performance-band">
            <div class="graphic__tick-marks">
                {% for i in ticks %}
                <div class="graphic__tick"></div>
                {% endfor %}
            </div>
            <div class="graphic__performance-band--above-target"
                 style="flex-basis: {{ scope_percents.high }}%"></div>
            <div class="graphic__performance-band--on-target"
                 style="flex-basis: {{ scope_percents.on_scope }}%"></div>
            <div class="graphic__performance-band--below-target"
                 style="flex-basis: {{ scope_percents.low }}%"></div>
        </div>
        {% if results_count > 0 and scope_percents.reporting > 0 %}
        <div class="gauge__labels">
            <div class="gauge__label">
                <span class="text-muted" >
                    {% comment %}Translators: variable {{ unavailable }} shows what percentage of indicators have no targets reporting data. Example: 31% unavailable{% endcomment %}
                    {% blocktrans with scope_percents.nonreporting as unavailable %}
                    {{ unavailable }}% unavailable
                    {% endblocktrans %}
                </span>
                    <a href="#"
                       tabindex="0"
                       data-toggle="popover"
                       data-placement="right"
                       data-trigger="focus"
                       {# Translators: help text for the percentage of indicators with no targets reporting data. #}
                       data-content="{% trans "The indicator has no targets, no completed target periods, or no results reported." %}"
                       ><i class="far fa-question-circle"></i></a>
            </div>
            <div class="gauge__label">
                <span class="gauge__value--above filter-trigger--band">
                    {% if program_url %} <a href="{{ program_url }}#/scope/above/">{% endif %}
                        {% comment %}Translators: variable {{ high }} shows what percentage of indicators are a certain percentage above target. Example: 31% are >15% above target{% endcomment %}
                        {% blocktrans with scope_percents.high as high %}
                        <strong>{{ high }}%</strong> are &gt;{{ margin }}% above target
                        {% endblocktrans %}
                        {% if program_url %}</a>{% endif %}
                </span>
            </div>
            <div class="gauge__label">
                <span class="gauge__value filter-trigger--band">
                    {% if program_url %} <a href="{{ program_url }}#/scope/on/">{% endif %}
                        {% comment %}Translators: variable {{ on_scope }} shows what percentage of indicators are within a set range of target. Example: 31%  are on track{% endcomment %}
                        {% blocktrans with scope_percents.on_scope as on_scope %}
                        <strong>{{ on_scope }}%</strong> are on track
                        {% endblocktrans %}
                        {% if program_url %}</a>{% endif %}
                </span>
                <a href="#"
                   tabindex="0"
                   data-toggle="popover"
                   data-placement="right"
                   data-trigger="focus"
                   {#  Translators: Help text explaining what an "on track" indicator is. #}
                   data-content="{% trans "The actual value matches the target value, plus or minus 15%. So if your target is 100 and your result is 110, the indicator is 10% above target and on track.  <br><br>Please note that if your indicator has a decreasing direction of change, then “above” and “below” are switched. In that case, if your target is 100 and your result is 200, your indicator is 50% below target and not on track.<br><br><a href='https://docs.google.com/document/d/1Gl9bxJJ6hdhCXeoOCoR1mnVKZa2FlEOhaJcjexiHzY0' target='_blank'>See our documentation for more information.</a>" %}"
                   ><i class="far fa-question-circle"></i></a>
            </div>
            <div class="gauge__label">
                <span class="gauge__value--below filter-trigger--band">
                    {% if program_url %} <a href="{{ program_url }}#/scope/below/">{% endif %}
                        {% comment %}Translators: variable {{ low }} shows what percentage of indicators are a certain percentage below target. The variable {{ margin }} is that percentage. Example: 31% are >15% below target{% endcomment %}
                        {% blocktrans with scope_percents.low as low %}
                        <strong>{{ low }}%</strong> are &gt;{{ margin }}% below target
                        {% endblocktrans %}
                        {% if program_url %}</a>{% endif %}
                </span>
            </div>
        </div>
        {% else %}
        <div class="gauge__labels">
            <div class="gauge__label">
                {# Translators: message describing why this display does not show any data. #}
                <p class="text-muted">{% trans "Unavailable until the first target period ends with results reported." %}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
