{% load i18n %}
{# TODO: links filter the indicator list, apply a highlight class to the entire gauge, and alter the number of indicators displayed on the program page #}
<div class="gauge">{# TODO: add .is-highlighted to this element when one of its filters is applied #}
    <h6 class="gauge__title">{% trans title %}</h6>
    <div class="gauge__overview">
        <div class="gauge__graphic gauge__graphic--tank">
            <div class="graphic__tick-marks">
                <!-- TOOD: make gauge graphic elements clickable -->
                {% for i in ticks %}
                <div class="graphic__tick" data-target="{{ id_tag }}"
                     data-target-positive="{% if i <= low_ticks %}-1{% elif i >= high_ticks %}1{% else %}0{% endif %}"
                     data-ticks="{{ i }}"></div>
                {% endfor %}
            </div>
            <div class="graphic__tank--filled" style="flex-basis: {{ filled }}%"></div>
        </div>
        <div class="gauge__labels">
            <div class="gauge__label">
                <a href="#" class="text-muted">{{ unfilled }}% {% trans unfilled_label %}</a>
                <!-- TOOLTIP -->
            </div>
            <div class="gauge__label">
                <a href="#" class="gauge__value">{{ filled }}% {% trans filled_label %}</a>
            </div>
        </div>
    </div>
</div>
